@model QLVB.DTO.Hethong.BackupViewModel

@{
    ViewBag.Title = "Backup";
}

@section header{
    <i class="glyphicon glyphicon-cog">&nbsp;</i>Sao lưu dữ liệu
}

<div class="row">
    <!-- HOP THU DIEN TU-->
    <div class="col-sm-12">
        <div class="box dark">
            <header>
                <nav style="padding: 3px;">
                    <button id="Backupbtn" type="button" class="btn btn-sm btn-primary btn-flat " data-original-title="" title=""><i class="glyphicon glyphicon-cloud-download"></i>&nbsp;Sao lưu</button>                    
                </nav>
            </header>
            <div id="div-1" class="body">
                <form class="form-horizontal" id="formBackupDatabase">
                    <div class="form-actions no-margin-bottom">                       
                        <div class="form-group">
                            @Html.Label("Cơ sở dữ liệu nguồn", new { @class = "control-label col-lg-4" })                            
                            <div class="col-lg-8">
                                @Html.TextBox("Database", Model.strDatabase, new { @class = "form-control", disabled = "disabled" })                                
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Cơ sở dữ liệu sao lưu", new { @class = "control-label col-lg-4" })
                            <div class="col-lg-8">
                                @Html.TextBox("strFileName", Model.strFileName, new { @class = "form-control" })                                
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Địa chỉ sao lưu", new { @class = "control-label col-lg-4" })
                            <div class="col-lg-8">
                                @Html.TextBox("FilePath", Model.strPath, new { @class = "form-control", disabled = "disabled" })                                
                            </div>
                        </div>
                    </div>                   

                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $("#Backupbtn").click(function () {        
            ShowLoading();
            $.ajax({
                type: "POST",
                url: '@Url.Action("_SaveBackup", "Hethong")',
                data: $('#formBackupDatabase').serialize(),
                dataType: "json",                
                success: function (data) {
                    if (data == 1) {
                        HideLoading();
                        SetThongbao("Sao lưu dữ liệu thành công");
                        
                    }
                    else {
                        HideLoading();                        
                        SetThongbao("Lỗi !!! Sao lưu dữ liệu bị lỗi. " + data );
                    }
                },
            });
    });
</script>
