@model QLVB.DTO.Edxml.DonviEdxmlViewModel

@{ 
    int count = 0;
    string strMaEdxmlDiaphuong = QLVB.Common.Utilities.AppSettings.MaEdxmlDiaphuong;
}
@if (Model.listdonvi != null)
{
    <form class="form-horizontal" id="formSendEdxmlChinhphu">
        @Html.Hidden("idvanbanEdxml",Model.idvanban)
        <table class="table responsive-table">
            <thead>
                <tr>
                    <td style="width:5%; text-align:center">STT</td>
                    <td style="width:5%; text-align:center"><b>@Html.CheckBox("parentcheckboxEdxml")</b></td>                    
                    <td style="width:40%;">
                        <b>Tên đơn vị</b>
                    </td>
                    <td style="width:10%; text-align:center">Mã định danh</td>
                    <td style="width:20%; text-align:center">Id</td>
                    <td style="width:20%; text-align:center">Pid</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var p in Model.listdonvi.Where(p => p.Madinhdanh.Contains(strMaEdxmlDiaphuong)).OrderBy(p => p.strtendonvi))
            {
                count++;
                    <tr>
                        <td style="width:5%; text-align:center;color:red;">@count</td>
                        <td style="width:5%; text-align:center">
                            <b>@Html.CheckBox(p.Madinhdanh)</b>
                            @Html.Hidden(p.Madinhdanh,p.strtendonvi)
                        </td>                        
                        <td style="width:40%;color:red;">@p.strtendonvi</td>
                        <td style="width:10%; text-align:center;color:red;">@p.Madinhdanh</td>
                        <td style="width:20%; text-align:center;color:red;">@p.Id</td>
                        <td style="width:20%; text-align:center;color:red;">@p.Pid</td>
                    </tr>

            }
                @foreach (var p in Model.listdonvi.Where(p => !p.Madinhdanh.Contains(strMaEdxmlDiaphuong)).OrderBy(p => p.strtendonvi))
            {
                count++;
                    <tr>
                        <td style="width:5%; text-align:center">@count</td>
                        <td style="width:5%; text-align:center">
                            <b>@Html.CheckBox(p.Madinhdanh)</b>
                            @Html.Hidden(p.Madinhdanh, p.strtendonvi)
                        </td>                       
                        <td style="width:40%;">@p.strtendonvi</td>
                        <td style="width:10%; text-align:center">@p.Madinhdanh</td>
                        <td style="width:20%; text-align:center">@p.Id</td>
                        <td style="width:20%; text-align:center">@p.Pid</td>
                    </tr>
            }
            </tbody>

        </table>
</form>
<script type="text/javascript">
    ButtonEnable("SendDonviChinhphubtn", true);
    ButtonEnable("SendDonviAgainChinhphubtn", true);
</script>
}
else
{
    @Html.Raw( "Kết nối không thành công")
}

