@model QLVB.DTO.Vanbandi.SearchVBViewModel
@using QLVB.DTO
@{
	ViewBag.Title = "ListVBDiLienquan";
	int idhoso = ViewBag.idhoso;
}
@section header{
	<i class="fa fa-file-text">&nbsp;</i>Văn bản đi liên quan
}
<div class="box " id="tbar">
	<header>
		<nav style="padding: 3px;">
			<button id="SearchVBLQbtn" class="btn btn-success btn-sm btn-primary btn-flat button-box">
				<i class="glyphicon glyphicon-search"></i>&nbsp;Tìm kiếm
			</button>
			<button id="SaveVBLQbtn" type="button" class="btn btn-sm btn-primary btn-flat " data-original-title="" title=""><i class="glyphicon glyphicon-floppy-saved"></i>&nbsp;Ghi nhận</button>
			<button id="BackVBLQbtn" type="button" class="btn btn-sm btn-primary btn-flat " data-original-title="" title=""><i class="glyphicon glyphicon-arrow-left"></i>&nbsp;Quay lại</button>

		</nav>
	</header>
</div>

<div class="row">
	<div class="col-sm-12" id="detail-listVBDiLQ">
		@(Html.Kendo().Grid<QLVB.DTO.Vanbandi.ListVanbandilienquanViewModel>()
	.Name("grid")
	.Columns(columns =>
	{
		columns.Bound(c => c.intid).Hidden();
		columns.Bound(c => c.isCheck).Title("<input type='checkbox' id='hfAll' /> ")
			.ClientTemplate(
				"#if (isCheck) { #" +
					"<input type='checkbox' id='hfID' value='#= intid #' checked disabled  />" +
				"# } else { #" +
					"<input type='checkbox' id='hfID' value='#= intid #'   />" +
				"# } #"
			)
			.Width(28);
		columns.Bound(o => o.IsAttach).Title(" ")
			.ClientTemplate(
				"#if (IsAttach) { #" +
					"<img onclick='ViewDetailVBDi(" + "#= intid #" + ")' alt='#= intid #' src='" + Url.Content("~/Content/Images/noidung_attach.gif") + "' />" +
				"# } else { #" +
					"<img onclick='ViewDetailVBDi(" + "#= intid #" + ")' alt='#= intid #' src='" + Url.Content("~/Content/Images/noidung.gif") + "' />" +
				"# } #"
			)
			.Width(28);
		columns.Bound(o => o.dtengayky).Format("{0:dd/MM/yyyy}").Title("Ngày ký").Width(90);
		columns.Bound(o => o.intso).Title("Số")
			.ClientTemplate(
				"#=intso##=strsophu#"
				)
			.Width(60);
		columns.Bound(o => o.strkyhieu).Title("Ký hiệu").Width("12%");
		columns.Bound(o => o.strtrichyeu).Title("Trích yếu nội dung").Width("30%");
		columns.Bound(o => o.strnoinhan).Title("Nơi nhận").Width("20%");
		columns.Bound(o => o.inttrangthai).Hidden();
		columns.Bound(o => o.dtehanxuly).Format("{0:dd/MM/yyyy}").Title("Hạn trả lời").Width(90);
	})
	.HtmlAttributes(new { style = "white-space: normal" })
	.Scrollable()
				//.Sortable()
	.Selectable()
	.Resizable(resize => resize.Columns(true))
	.Pageable(pageable => pageable
		.Refresh(true)
		//.PageSizes(true)
		.ButtonCount(5)
		.Messages(ms => ms.Display(KendoGridDisplay.PageDisplay).Empty(KendoGridDisplay.PageEmpty)
			.First(KendoGridDisplay.PageFirst).Previous(KendoGridDisplay.PagePrevious)
			.Next(KendoGridDisplay.PageNext).Last(KendoGridDisplay.PageLast))
		)
	.DataSource(dataSource => dataSource
		.Ajax()
		.PageSize(QLVB.Common.Utilities.AppSettings.DisplayItemsPerPage)
			.Read(read => read.Action("Vanbandilienquan_Read", "Vanbandi",
				new
				{
					idhoso = idhoso,

                    idsovb = Model.idsovb,
                    idloaivb = Model.idloaivb,
                    strngaykycat = Model.strngaykycat,
                    intsobd = Model.intsobd,
                    intsokt = Model.intsokt,
                    strngaykybd = Model.strngaykybd,
                    strngaykykt = Model.strngaykykt,
                    strkyhieu = Model.strkyhieu,
                    strnguoiky = Model.strnguoiky,
                    strnguoisoan = Model.strnguoisoan,
                    strnguoiduyet = Model.strnguoiduyet,
                    strnoinhan = Model.strnoinhan,
                    strtrichyeu = Model.strtrichyeu,
                    strhantraloi = Model.strhantraloi,
                    strdonvisoan = Model.strdonvisoan
				})
			)
			.Events(events => events.Error("onError"))
		)
		.Events(events => events.Change("onChange").DataBound("onDataBound"))
		)
	</div>
</div>
<script type="text/javascript">
	$(window).resize(function () {
		SetGridHeight();
	});
	$(document).ready(function () {
		SetGridHeight();
	})
	function onChange(arg) {
		var selected = $.map(this.select(), function (item) {
			var value = $(item).text();
			var grid = $("#grid").data("kendoGrid");
			var row = grid.select();
			var intid = grid.dataItem(row).intid;
			var inttrangthai = grid.dataItem(row).inttrangthai;

		});
	}
	function onDataBound(arg) {
		dataView = this.dataSource.view();
		for (var i = 0; i < dataView.length; i++) {
			if (dataView[i].inttrangthai == 0) {
				var uid = dataView[i].uid;
				$("#grid tbody").find("tr[data-uid=" + uid + "]").addClass("chuaduyet");
			}
		}
	}
	function onError(e, status) {
		SetThongbao("Đã có lỗi xảy ra trên Server!");
	}
	function ViewDetailVBDi(id) {
		OpenViewDetailVBDi(id);
	}
	function GetSelectedItemsVBDen() {
		var idselect = "";
		$("#grid  tbody").find('tr').each(function () {
			var id = $(this).find('#hfID').val();
			var IsCheck = $(this).find('#hfID').prop('checked');
			if (IsCheck == true) {
				idselect += id + ',';
			}
		});
		return idselect;
	};
	$('#hfAll').on("click", function () {
		var IsCheck = $('#hfAll').prop('checked');
		$("#grid  tbody").find('tr').each(function () {
			$(this).find('#hfID').prop('checked', IsCheck);
		});
	});
	$('#SaveVBLQbtn').click(function () {
		var idselect = GetSelectedItemsVBDen();
		var idhoso = '@idhoso';
		$.ajax(
		{
			type: "POST",
			url: '@Url.Action("_SaveVBDiLienquan", "Vanbandi")',
			data: { 'stridvanban': idselect, 'idhosocongviec': idhoso },
			success: function (data) {
				if (data == 0) {
					SetThongbao("Lỗi!!!");
				}
				else {
					SetThongbao("Cập nhật thành công");
					RefreshGrid();
				}
			},
			dataType: "Json"
		});
	});

	$('#BackVBLQbtn').click(function () {
		var url = '@Url.Action("XulyHoso", "Hoso", new { id = @idhoso })';
		window.location = url;
	});
	$('#SearchVBLQbtn').click(function () {
		OpenSearchVBDiLQ();
	})
</script>
@Html.Action("_ViewDetailVBDi", "Vanbandi")
@Html.Action("_ViewDetailVBDen", "Vanbanden")
@Html.Action("_ViewDetailHoso", "Hoso")
@Html.Action("_SearchVBDiLQ", "Vanbandi", new { idhoso = @idhoso })


