@model QLVB.DTO.Vanbanden.ListUserCapquyenxemViewModel

<div class="box">
	<header>
		<nav style="padding: 3px;">
			<button id="SubmitCapquyenxemVBDenbtn" type="button" class="btn btn-sm btn-primary btn-flat " data-original-title="" title=""><i class="glyphicon glyphicon-floppy-saved"></i>&nbsp;Ghi nhận</button>
			<button id="SubmitPublicVBDenbtn" type="button" class="btn btn-sm btn-warning btn-flat " data-original-title="" title=""><i class="glyphicon glyphicon-globe"></i>&nbsp;@Model.strpublic</button>
			<button id="BackCapquyenxemVBDenbtn" type="button" class="btn btn-sm btn-primary btn-flat " data-original-title="" title=""><i class="glyphicon glyphicon-arrow-left"></i>&nbsp;Quay lại</button>

		</nav>
	</header>
</div>
<span id="ketquaCapquyenxemVBDen" class="validation-summary-valid"></span>
<div style="height:400px ;width: 100%; overflow-y: scroll;">
	<div class="row">
		<div class="col-xs-12">			
			<form class="form-horizontal" id="formAddCapquyenxemVBDen">
				@Html.Hidden("idvanban", Model.idvanban)
				<table class="table table-condensed responsive-table" style="width: 100%">
					@for (int i = 0; i <= Model.maxLevelDonvi; i++)
					{
						foreach (var dv in Model.donvi)
						{
							string strIndent = "";
							if (dv.intlevel == i)
							{
								<tr>
									<td colspan="2">
										@for (var j = 0; j < i; j++) { strIndent += "&nbsp;&nbsp;&nbsp;"; }
										@*@Html.CheckBox(i.ToString(), new { @class="donvi" + dv.Id.ToString() })*@
										@Html.Raw(strIndent)<b>@dv.strtendonvi</b>
									</td>
								</tr>
								foreach (var c in Model.canbo)
								{
									if (dv.Id == c.intiddonvi)
									{
										<tr>
											<td style="width:50px;text-align:center;">
												@Html.CheckBox(c.intid.ToString(), c.IsCheck, new { @class = "donvi" + dv.Id.ToString() })
											</td>
											<td>
												@c.strhoten
											</td>
										</tr>
									}
								}

								@*foreach (var d2 in Model.donvi)
								{
									if ((d2.intlevel == Model.maxLevelDonvi) && (d2.ParentId == dv.Id))
									{
										string strLastNode = "";
										for (var j = 0; j <= Model.maxLevelDonvi; j++) { strLastNode += "&nbsp;&nbsp;&nbsp;"; }
										<tr>
											<td colspan="2">
												@Html.Raw(strLastNode)										
												<b>@d2.strtendonvi</b> max 
											</td>
										</tr>

										foreach (var c in Model.canbo)
										{
											if (d2.Id == c.intiddonvi)
											{
												<tr>
													<td style="width:50px;text-align:center;">
														@Html.CheckBox(c.intid.ToString(), c.IsCheck)
													</td>
													<td>
														@c.strhoten
													</td>
												</tr>
											}
										}
								}*@

							}
						}
					}
				</table>
			</form>
		</div>
	</div>
	
</div>
<script type="text/javascript">
	$('#BackCapquyenxemVBDenbtn').click(function () {
		CloseViewCapquyenxemVBDen();
	});
	$("#SubmitCapquyenxemVBDenbtn").click(function () {		
		$.ajax(
		{
			type: "POST",
			url: '@Url.Action("_SaveCapquyenxem", "Vanbanden")',
			data: $("#formAddCapquyenxemVBDen").serialize(),
			success: function (data) {
				if (data == 1) {
				    ShowResult("ketquaCapquyenxemVBDen", "Cập nhật thành công");
				}
				else {
				    ShowResult("ketquaCapquyenxemVBDen", "Lỗi !!!");
				}
			},
			dataType: "Json"
		});
	});
	$('#SubmitPublicVBDenbtn').click(function () {
		var intpublic = '@Model.intpublic';
		var idvanban = '@Model.idvanban';
		$.ajax(
		{
			type: "POST",
			url: '@Url.Action("_CapquyenxemPublic", "Vanbanden")',
			data: { 'intpublic': intpublic, 'idvanban': idvanban },
			success: function (data) {
				if (data == 1) {
				    ShowResult("ketquaCapquyenxemVBDen", "Cập nhật thành công");
					CloseViewCapquyenxemVBDen();
				}
				else {
				    ShowResult("ketquaCapquyenxemVBDen", "Lỗi !!!");
				}
			},
			dataType: "Json"
		});

	});
	//$("input[type='checkbox']").click(function () {
	//    console.log($(this));
	//});
	//$(".donvi2").on("click", function () {
	//    $(".donvi2").prop('checked', $(this).prop('checked'));
	//	//if ($(this).is(':checked')) {
	//	//	$(this).closest("div.fp").find(':checkbox').each(function () {
	//	//		$(this).attr('checked', 'checked');
	//	//	});
	//	//} else {
	//	//	$(this).closest("div.fp").find(':checkbox').each(function () {
	//	//		$(this).removeAttr('checked');
	//	//	});
	//	//}
	//});
</script>
