@using System.Web.Configuration
@{
	ViewBag.Title = "Văn bản đến";
	bool isBack = ViewBag.isBack;
}

@section header{
	<i class="glyphicon glyphicon-file">&nbsp;</i>Văn bản đến
}
@Html.Action("_Toolbar")
<div class="row">
	<div class="col-sm-3 col-md-2" id="category">
		@Html.Action("_Category")
	</div>
	<div class="col-sm-9 col-md-10" id="listvanbanden">
		@Html.Action("_ListVanbanden", new { isBack = isBack })
	</div>
	@Html.Hidden("idvanban")
	@Html.Hidden("idhoso")
	@Html.Hidden("kendo_uid")
</div>
<script type="text/javascript">
    function onChange(arg) {
        var selected = $.map(this.select(), function (item) {
            var value = $(item).text();
            var grid = $("#grid").data("kendoGrid");
            var row = grid.select();
            var intid = grid.dataItem(row).intid;
            var inttrangthai = grid.dataItem(row).inttrangthai;            
            SetIdVanban(intid);
            var uid = grid.dataItem(row).uid;
            SetUid(uid);
            DisplayToolbar(inttrangthai);
            DisplayDuyet(inttrangthai);
            var currentPage = grid.dataSource.page();
            //console.log(currentPage);

            $.ajax(
            {
                type: "POST",
                url: '@Url.Action("GetIdHosocongviec", "Vanbanden")',
                data: { 'idvanban': intid },
                success: function (data) {
                    var idhosocongviec = data;
                    SetIdHoso(idhosocongviec);
                    DisplayXuly(idhosocongviec);
                }
            });

        });
    }

    var checkedIds = {};

    function onDataBound(arg) {
        dataView = this.dataSource.view();
        for (var i = 0; i < dataView.length; i++) {
            if (dataView[i].inttrangthai == 0) {
                var uid = dataView[i].uid;
                $("#grid tbody").find("tr[data-uid=" + uid + "]").addClass("chuaduyet").addClass("chonvanbanden");
            }
            else {
                var uid = dataView[i].uid;
                var strClass = SetColorVanban(dataView[i].inttinhtrangxuly, dataView[i].isykien, dataView[i].IsVbdt);
                $("#grid tbody").find("tr[data-uid=" + uid + "]").addClass(strClass).addClass("chonvanbanden");
            }
        }
        try{
            var view = this.dataSource.view();
            for (var i = 0; i < view.length; i++) {
                if (checkedIds[view[i].id]) {
                    this.tbody.find("tr[data-uid='" + view[i].uid + "']")
                        .addClass("k-state-selected")
                        .find(".checkbox")
                        .attr("checked", "checked");
                }
            }
        } catch (err) {
            console.log(err);
        }
		
    }
    function SetColorVanban(inttinhtrangxuly, isykien, IsVbdt) {        
        var strClass = "";
        var intykien = 0;
        switch (inttinhtrangxuly) {
        case 0: // dang xu ly
            if (isykien == true) {
                strClass = "coykien";
            } else {
                if (IsVbdt == true) {
						
                    strClass = "dangxuly-vbdt";
                } else {
                    strClass = "dangxuly";
                }                    
            }
            break;
        case 1: // da hoan thanh
            strClass = "daxuly";
            break;
        default:  // null
            strClass = "daxuly";
            break;
        }
        return strClass;
    }
    function DisplayToolbar(inttrangthai) {
        ButtonEnable("Capquyenxembtn", true);
        if (inttrangthai == 1) {
            ButtonEnable("Editbtn", false);
            ButtonEnable("Deletebtn", false);
        } else {
            ButtonEnable("Editbtn", true);
            ButtonEnable("Deletebtn", true);
        }
    }
    function DisplayXuly(idhoso) {
        if (idhoso == 0) {
            ButtonEnable("XLVBbtn", false);
        } else {
            ButtonEnable("XLVBbtn", true);
        }
    }
    function DisplayDuyet(inttrangthai) {
        @if (ViewBag.IsDuyetvb == true)
		{
			<text>
		if (inttrangthai == 1) {
			$('#Duyetbtn').hide();
			$('#Huyduyetbtn').show();
		} else {
			$('#Duyetbtn').show();
			$('#Huyduyetbtn').hide();
		}
		</text>
		}
    }
    function SetIdVanban(idvanban) {
        $('#idvanban').val(idvanban);
    }
    function GetIdVanban() {
        var id = $('#idvanban').val();
        return id;
    }
    function SetIdHoso(idhoso) {
        $('#idhoso').val(idhoso);
    }
    function GetIdHoso() {
        var id = $('#idhoso').val();
        return id;
    }
    function SetUid(uid) {
        $('#kendo_uid').val(uid);
    }
    function GetUid() {
        var id = $('#kendo_uid').val();
        return id;
    }
    function ViewDetailVBDen(id) {
        OpenViewDetailVBDen(id);
    }
    function CloseDeleteVB() {
        var window = $("#DeleteVB").data("kendoWindow");
        window.close();
    }
    function OpenDeleteVB() {
        var window = $("#DeleteVB").data("kendoWindow");
        window.center();
        window.open();
    }
    function CloseYkienxulyNhanh() {
        var window = $("#FormYkienxulyNhanh").data("kendoWindow");
        window.close();
    }
    function OpenYkienxulyNhanh(idhoso) {
        var window = $("#FormYkienxulyNhanh").data("kendoWindow");
        window.center();
        window.open();
        var url = '@Url.Action("_YkienXulyNhanh", "Hoso")';
        url = url + "?idhoso="+idhoso;
        $('#AddNewYkienNhanh').load(url);
    }
</script>

@Html.Action("_SearchVBDen", "Vanbanden")
@Html.Action("_ViewDetailVBDen","Vanbanden")
@Html.Action("_ViewDetailVBDi", "Vanbandi")
@Html.Action("_ViewDetailHoso", "Hoso")
@Html.Action("_Capquyenxem","Vanbanden")

@(Html.Kendo().Window()
	.Name("DeleteVB")
	.Draggable()
	.AutoFocus(true)
	.Title("Xóa văn bản")
	.Resizable()
	.Width(500)
	.HtmlAttributes(new { style = "height:100%;" })
	.Visible(false)
	.Actions(actions => actions.Minimize().Maximize().Close())
	.Content(
	@<text>
		<div id="detail-DeleteVB">
		</div>
	</text>
	)
)

@(Html.Kendo().Window()
	.Name("FormYkienxulyNhanh")
	.Draggable()
	.AutoFocus(true)
	.Modal(true)
	.Title("Ý kiến xử lý")
	.Resizable()
	.Width(600)
	.Height(400)
	.Visible(false)
	.Actions(actions => actions.Minimize().Maximize().Close())
	.Content(
	@<text>
		<div id="AddNewYkienNhanh"></div>
	</text>
	)
)


