@model QLVB.DTO.Loaivanban.EditLoaivanbanViewModel

<div class="box dark">
    <form class="form-horizontal" id="formEditLoaivbden">
        <span id="ketquaSaveLoaivbden" class="validation-summary-valid"></span>
        <header>
            <nav style="padding: 3px;">
                <button id="Savebtn" type="button" class="btn btn-sm btn-primary btn-flat " data-original-title="" title=""><i class="glyphicon glyphicon-floppy-saved"></i>&nbsp;Ghi nhận</button>
                <button id="Backbtn" type="button" class="btn btn-sm btn-primary btn-flat " data-original-title="" title=""><i class="glyphicon glyphicon-arrow-left"></i>&nbsp;Bỏ qua</button>
            </nav>
        </header>

        @Html.HiddenFor(m => m.intid)
        <div class="form-group form-group-window">
            @Html.LabelFor(m => m.strmavanban, new { @class = "control-label col-sm-4" })
            <div class="col-sm-6">
                @Html.TextBoxFor(m => m.strmavanban, new { @class = "form-control form-control-window", placeholder = "Mã chức danh" })
            </div>
        </div>
        <div class="form-group form-group-window ">
            @Html.LabelFor(m => m.strtenvanban, new { @class = "control-label col-sm-4" })
            <div class="col-sm-6">
                @Html.TextBoxFor(m => m.strtenvanban, new { @class = "form-control form-control-window", placeholder = "Tên chức danh" })
            </div>
        </div>
        <div class="form-group form-group-window ">
            @Html.LabelFor(m => m.strghichu, new { @class = "control-label col-sm-4" })
            <div class="col-sm-6">
                @Html.TextBoxFor(m => m.strghichu, new { @class = "form-control form-control-window", placeholder = "Ghi chú" })
            </div>
        </div>
        <div class="form-group form-group-window">
            @Html.LabelFor(m => m.IsDefault, new { @class = "control-label col-sm-4" })
            <div class="col-sm-6">
                @Html.CheckBox("IsDefault", Model.IsDefault)

            </div>
        </div>
    </form>
</div>
<script type="text/javascript">

    $("#Savebtn").click(function () {
        var check = $('#IsDefault').val();
        //console.log(check);
        var validatable = $("#formEditLoaivbden").kendoValidator().data("kendoValidator");
        if (validatable.validate()) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("SaveLoaivb", "Loaivbden")',
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({
                    intid: $('#intid').val(),
                    strmavanban: $('#strmavanban').val(),
                    strtenvanban: $('#strtenvanban').val(),
                    strghichu: $('#strghichu').val(),
                    IsDefault: $('#IsDefault').val()
                }),
                success: function (data) {
                    if (data == 1) {
                        ShowResult("ketquaSaveLoaivbden", "Cập nhật thành công");
                        RefreshGrid();
                    }
                    else {
                        ShowResult("ketquaSaveLoaivbden", "Lỗi !!!");
                        RefreshGrid();
                    }
                },
            });
        }
    });
    $('#Backbtn').click(function () {
        CloseEditLoaivb();
    })
</script>



