@model QLVB.DTO.Hethong.ListRoleGroupViewModel
@{
    ViewBag.Title = "_AjaxQuyen";
}
<div class="box dark">
    <header>
        <nav style="padding: 3px;">
            <button id="SaveQuyen" type="button" class="btn btn-sm btn-primary btn-flat " data-original-title="" title=""><i class="glyphicon glyphicon-floppy-saved"></i>&nbsp;Ghi nhận</button>
            <span id="ketqua" class="validation-summary-valid"></span>
        </nav>
    </header>

    <form class="form-horizontal" id="formAjaxQuyen">
        @Html.Hidden("idgroup", Model.idgroup)
        <table id="listquyen" class="table table-condensed responsive-table" style="width: 100%">
            @foreach (var m in Model.MenuVM)
            {
                <tr>
                    <td colspan="2">&nbsp;<b> @Html.Label(m.strmota) </b></td>
                </tr>

                foreach (var p in Model.QuyenVM)
                {
                    if (p.intidmenu == m.Id)
                    {
                        bool x = false;
                        foreach (var c in Model.RoleGroupCheckVM)
                        {
                            if (c.intidquyen == p.intid)
                            {
                                x = true;
                            }
                        }

                        <tr>
                            <td style="width:10%; text-align:center">
                                @Html.CheckBox(p.intid.ToString(), x, new { @class = "primary" })
                            </td>
                            <td style="width:90%; text-align:left">
                                @Html.Label(p.strtenquyen, new { style = "font-weight:normal" })
                            </td>
                        </tr>

                    }

                }
            }
        </table>
    </form>
</div>
<script type="text/javascript">
    $("#SaveQuyen").click(function () {
        $.ajax({
            type: "POST",
            url: '@Url.Action("SaveQuyen","Hethong")',
            data: $("#formAjaxQuyen").serialize(),
            success: function (data) {
                if (data == 1) {
                    ShowResult("ketqua", "Cập nhật thành công");
                }
                else {
                    ShowResult("ketqua", "Lỗi !!!");
                }
            },
            dataType: "Json"
        });
    });
</script>

