@model IEnumerable<QLVB.Domain.Entities.Config>
@using QLVB.Domain.Entities;
@{
	ViewBag.Title = "Config";
	var IsBool = new[]{
				new {value = "true", name = "Có"},
				new {value = "false", name = "Không"}
			};	
}
@section header{
	<i class="glyphicon glyphicon-cog">&nbsp;</i>Cấu hình hệ thống
}

<div class="row">
	<!-- HOP THU DIEN TU-->
	<div class="col-sm-6">
		<div class="box">
			<header>
				<div class="icons">
                    <i class="glyphicon glyphicon-pencil"></i>
				</div>
				<h5>Hộp thư văn bản điện tử</h5>
				<!-- .toolbar -->
				@*<div class="toolbar">
					<nav style="padding: 8px;">
						<a href="javascript:;" class="btn btn-default btn-xs collapse-box">
                            <i class="glyphicon glyphicon-resize-small"></i>
						</a>
						<a href="javascript:;" class="btn btn-default btn-xs full-box">
                            <i class="glyphicon glyphicon-resize-full"></i>
						</a>						
					</nav>
				</div>*@<!-- /.toolbar -->
			</header>
			<div id="div-1" class="body">
				<form class="form-horizontal" id="formMail">
					<div class="form-actions no-margin-bottom">
						@*<i class='fa fa-save'></i>
						<input type="submit" value="Ghi nhận" class="btn btn-primary">*@
						<button id="saveMail" type="button" class="btn btn-primary btn-flat " data-original-title="" title="" ><i class="glyphicon glyphicon-floppy-saved"></i>&nbsp;Ghi nhận</button>
						<span id="ketquaMail" class="validation-summary-valid"></span>
					</div>
					@foreach (var m in Model.Where(p => p.intgroup == 1))
					{
						if (m.strthamso != ThamsoHethong.PasswordMail)
						{
							<div class="form-group">
								@Html.Label(m.strmota, new { @class = "control-label col-lg-4" })
								@*<label class="control-label col-lg-4">@m.strmota</label>*@
								<div class="col-lg-8">
									@Html.TextBox(m.intid.ToString(), m.strgiatri, new { @class = "form-control", placeholder = m.strmota })
									@*<input type="text" id="@m.intid" name="@m.intid" placeholder="@m.strmota" class="form-control" value="@m.strgiatri">*@
								</div>
							</div>
						}
						if (m.strthamso == ThamsoHethong.PasswordMail)
						{
							<div class="form-group">
								@Html.Label(m.strmota, new { @class = "control-label col-lg-4" })
								<div class="col-lg-8">
									@Html.Password(m.intid.ToString(), m.strgiatri, new { @class = "form-control", placeholder = m.strmota })
									@*<input type="password" id="@m.intid" name="@m.intid" placeholder="@m.strmota" class="form-control" value="@m.strgiatri">*@
								</div>
							</div>
						}
					}

				</form>
			</div>
		</div>
	</div>
	<!--END HOP THU DIEN TU-->
	<!-- HE THONG -->
	<div class="col-sm-6">
		<div class="box dark">
			<header>
				<div class="icons">
                    <i class="glyphicon glyphicon-pencil"></i>
				</div>
				<h5>Cấu hình hệ thống</h5>
				<!-- .toolbar -->
				@*<div class="toolbar">
					<nav style="padding: 8px;">
						<a href="javascript:;" class="btn btn-default btn-xs collapse-box">
							<i class="fa fa-minus"></i>
						</a>
						<a href="javascript:;" class="btn btn-default btn-xs full-box">
							<i class="fa fa-expand"></i>
						</a>
					</nav>
				</div>*@<!-- /.toolbar -->
			</header>
			<div id="div-2" class="body">
				<form class="form-horizontal" id="formConfig">
					<div class="form-actions no-margin-bottom">                        
						<a id="saveConfig" class="btn btn-primary" data-original-title="" title=""><i class="glyphicon glyphicon-floppy-saved"></i>&nbsp;Ghi nhận</a>
						<span id="ketquaConfig" class="validation-summary-valid"></span>
					</div>
					@foreach (var m in Model.Where(p => p.intgroup == 2))
					{
						switch (m.strthamso)
						{
							case ThamsoHethong.SoNgayHienThi:
								<div class="form-group">
									<label class="control-label col-lg-6">@m.strmota</label>
									<div class="col-lg-6">
										<input type="text" id="@m.intid" name="@m.intid" placeholder="@m.strmota" class="form-control" value="@m.strgiatri">
									</div>
								</div>
								break;
							case ThamsoHethong.IsXulychinhKetthucHoso:
								<div class="form-group">
									<label class="control-label col-lg-6">@m.strmota</label>
									<div class="col-lg-6">
										@Html.DropDownList(m.intid.ToString(), new SelectList(IsBool, "value", "name", m.strgiatri),
																	 new { @class = "form-control" })                                        
									</div>
								</div>
								break;
							case ThamsoHethong.IsXulyHoso:
								 <div class="form-group">
									<label class="control-label col-lg-6">@m.strmota</label>
									<div class="col-lg-6">
										@Html.DropDownList(m.intid.ToString(), new SelectList(IsBool, "value", "name", m.strgiatri),
																	 new { @class = "form-control" })                                        
									</div>
								</div>
								break;
							case ThamsoHethong.IsViewVBDenDaXL:
								 <div class="form-group">
									<label class="control-label col-lg-6">@m.strmota</label>
									<div class="col-lg-6">
										@Html.DropDownList(m.intid.ToString(), new SelectList(IsBool, "value", "name", m.strgiatri),
																	 new { @class = "form-control" })                                        
									</div>
								</div>
								break;
							default:
								<div class="form-group">
									<label class="control-label col-lg-6">@m.strmota</label>
									<div class="col-lg-6">
										<input type="text" id="@m.intid" name="@m.intid"  placeholder="@m.strmota" class="validate[required] form-control" value="@m.strgiatri">
									</div>
								</div>
								break;
						}
					}

				</form>
			</div>
		</div>
	</div>
	<!--END HE THONG-->
</div><!-- /.row -->
<script type="text/javascript">
	$("#saveMail").click(function () {        
		$.ajax({
			type: "POST",
			url: '@Url.Action("SaveConfig","Hethong")',
			data: $("#formMail").serialize(),
			success: function (data) {
				if (data == 1) {					
					ShowResult("ketquaMail","Cập nhật thành công");
				}
				else {
					ShowResult("ketquaMail", "Lỗi !!!");
				}
			},
			dataType: "Json"
		});
	});
	$("#saveConfig").click(function () {        
		$.ajax({
			type: "POST",
			url: '@Url.Action("SaveConfig","Hethong")',
			data: $("#formConfig").serialize(),
			success: function (data) {
				if (data == 1) {
					ShowResult("ketquaConfig", "Cập nhật thành công");
				}
				else {
					ShowResult("ketquaConfig", "Lỗi !!!");
				}
			},
			dataType: "Json"
		});
	});
	//$("#saveMail").kendoButton({
	//    enable: false
	//});
	
</script>
