@model QLVB.DTO.Hethong.RoleGroupViewModel
@using QLVB.DTO
@{
    ViewBag.Title = "RoleGroup";

}
@section header{
    <i class="glyphicon glyphicon-cog">&nbsp;</i>Phân quyền sử dụng theo nhóm
}
<div class="row">
    <!-- LIST NHOM QUYEN-->
    <div class="col-sm-6">
        <div class="box dark">
            <header>
                <nav class="box-toolbar">
                    <button id="AddGroupbtn" type="button" class="btn btn-sm btn-primary btn-flat " data-original-title="" title=""><i class="glyphicon glyphicon-plus"></i>&nbsp;Thêm</button>
                    <button id="EditGroupbtn" type="button" class="btn btn-sm btn-primary btn-flat " data-original-title="" title=""><i class="glyphicon glyphicon-pencil"></i>&nbsp;Sửa</button>
                    <button id="DeleteGroupbtn" type="button" class="btn btn-sm btn-primary btn-flat " data-original-title="" title=""><i class="glyphicon glyphicon-trash"></i>&nbsp;Xóa</button>
                    <button id="MoveUserGroup" type="button" class="btn btn-sm btn-primary btn-flat " data-original-title="" title=""><i class="glyphicon glyphicon-arrow-right"></i><i class="glyphicon glyphicon-user"></i>&nbsp;Chuyển Cán bộ</button>
                    <button id="UserGroupbtn" type="button" class="btn btn-sm btn-primary btn-flat " data-original-title="" title=""><i class="glyphicon glyphicon-user"></i>&nbsp;Liệt kê Cán bộ</button>
                </nav>
            </header>
        </div>
        @(Html.Kendo().Grid<QLVB.DTO.Hethong.RoleGroupViewModel>()
        .Name("grid")
        .Columns(columns =>
        {
            columns.Bound(c => c.intid).Hidden();
            columns.Bound(c => c.strten).Title("Nhóm quyền");

        })
                //.HtmlAttributes(new { style = "height:100%;" })
        .Scrollable()
        .Sortable()
        .Selectable()
        .Pageable(pageable => pageable
            .Refresh(true)
            //.PageSizes(true)
            .ButtonCount(5)
            .Messages(ms => ms.Display(KendoGridDisplay.PageDisplay).Empty(KendoGridDisplay.PageEmpty)
                .First(KendoGridDisplay.PageFirst).Previous(KendoGridDisplay.PagePrevious)
                .Next(KendoGridDisplay.PageNext).Last(KendoGridDisplay.PageLast))
            )
        .DataSource(dataSource => dataSource
            .Ajax()
            .PageSize(QLVB.Common.Utilities.AppSettings.DisplayItemsPerPage)
            .Read(read => read.Action("Group_Read", "Hethong"))
            )
        .Events(events => events.Change("onChange"))
        )
    </div>
    <div class="col-sm-6" id="_AjaxLoading">
        
    </div>
    @Html.Hidden("idgroup")
</div>

<script type="text/javascript">
    $(window).resize(function () {
        SetGridHeight();
    });
    $(document).ready(function () {
        SetGridHeight();
    })
    function onChange(arg) {
        var selected = $.map(this.select(), function (item) {
            var value = $(item).text();
            var grid = $("#grid").data("kendoGrid");
            var row = grid.select();
            var intid = grid.dataItem(row).intid;
            SetIdGroup(intid);
            var url = '@Url.Action("_AjaxQuyen", "Hethong", (new { id = "__id__" }) )'.replace('__id__', intid);
            $('#_AjaxLoading').load(url);
        });
    }
    function SetIdGroup(idgroup) {
        $("#idgroup").val(idgroup);
    }
    function GetIdGroup() {
        var idgroup = $("#idgroup").val();        
        return idgroup;
    }
    $("#UserGroupbtn").click(function () {
        var idgroup = GetIdGroup();
        var url = '@Url.Action("_AjaxUser", "Hethong", (new { idgroup = "__id__" }) )'.replace('__id__', idgroup);        
        $('#_AjaxLoading').load(url);
    })
    $("#AddGroupbtn").bind("click", function () {
        var idgroup = 0;
        var url = '@Url.Action("_AjaxEditGroup", "Hethong", (new { idgroup = "__id__" }))'.replace('__id__', idgroup);
        $('#detail-editGroup').load(url);
        var window = $("#EditGroup").data("kendoWindow");
        window.center().open();        
    });
    $("#EditGroupbtn").bind("click", function () {
        var idgroup = 0;
        idgroup = GetIdGroup();
        if (idgroup != 0) {
            var url = '@Url.Action("_AjaxEditGroup", "Hethong", (new { idgroup = "__id__" }))'.replace('__id__', idgroup);
            $('#detail-editGroup').load(url);
            var window = $("#EditGroup").data("kendoWindow");
            window.center().open();
        } else {
            SetThongbao("Bạn chưa chọn nhóm quyền");
        }        
    });        
    $("#DeleteGroupbtn").bind("click", function () {
        var idgroup = 0;
        idgroup = GetIdGroup();
        if (idgroup != 0) {
            var url = '@Url.Action("_AjaxDeleteGroup", "Hethong", (new { idgroup = "__id__" }))'.replace('__id__', idgroup);
            $('#detail-editGroup').load(url);
            var window = $("#EditGroup").data("kendoWindow");
            window.center().open();
        } else {
            SetThongbao("Bạn chưa chọn nhóm quyền");
        }       
    });
    $("#MoveUserGroup").on("click", function () {
        var idgroup = 0;
        idgroup = GetIdGroup();
        if (idgroup != 0) {
            var url = '@Url.Action("_MoveNhomquyenUser", "Hethong", (new { idgroup = "__id__" }))'.replace('__id__', idgroup);
            $('#detail-MoveUser').load(url);
            var window = $("#MoveUser").data("kendoWindow");
            window.center().open();
        } else {
            SetThongbao("Bạn chưa chọn nhóm quyền");
        }
    });
    function CloseEditGroup() {
        var window = $("#EditGroup").data("kendoWindow");
        window.close();
    }
    function CloseMoveUser() {
        var window = $("#MoveUser").data("kendoWindow");
        window.close();
    }
</script>


@(Html.Kendo().Window()
    .Name("EditGroup")
    .Draggable()
    .AutoFocus(true)
    .Title("Cập nhật Nhóm quyền")
    .Resizable(resizing => resizing
            .Enabled(true)
        .MinHeight(150)       
        )
    .Width(500)
    .HtmlAttributes(new { style="height:100%;"})        
    .Visible(false)
    .Actions(actions => actions.Minimize().Maximize().Close())
    .Content(
    @<text>
        <div id="detail-editGroup">
        </div>
    </text>
    )
)
@(Html.Kendo().Window()
    .Name("MoveUser")
    .Draggable()
    .AutoFocus(true)
    .Title("Chuyển nhóm quyền cán bộ")
    .Resizable()
    .Width(650)
    .Height(400)
    .Visible(false)
    .Actions(actions => actions.Minimize().Maximize().Close())
    .Content(
    @<text>
        <div id="detail-MoveUser">
        </div>
    </text>
    )
)