@model QLVB.DTO.Vanbanden.ThemVanbanViewModel
@{
	ViewBag.Title = "Themvanban";
}

@section header{
	<i class="glyphicon glyphicon-file">&nbsp;</i>Cập nhật văn bản đến
}
<div class="box " id="tbar">
	<header>
		<nav style="padding: 3px;">
			<button id="Addbtn" type="button" class="btn btn-sm btn-primary btn-flat" title="Thêm mới văn bản (Ctrl-H)">
				<i class="glyphicon glyphicon-plus"></i>&nbsp;Thêm mới
			</button>
			<button id="AddNextbtn" type="button" class="btn btn-sm btn-primary btn-flat" title="Thêm tiếp (Ctrl-Y)">
				<i class="glyphicon glyphicon-plus"></i>&nbsp;Thêm tiếp
			</button>
			<button id="Savebtn" type="button" class="btn btn-sm btn-primary btn-flat " data-original-title="" title="Ghi nhận(Ctrl-G)"><i class="glyphicon glyphicon-floppy-saved"></i>&nbsp;Ghi nhận</button>
			<button id="Attachbtn" disabled type="button" class="btn btn-sm btn-primary btn-flat " data-original-title="" title=""><i class="glyphicon glyphicon-paperclip"></i>&nbsp;Đính kèm </button>

			<button id="PrintListVBbtn" type="button" class="btn btn-sm btn-primary btn-flat">
				<i class="glyphicon glyphicon-print"></i>&nbsp;In&nbsp;
			</button>

			<button id="Backbtn" type="button" class="btn btn-sm btn-primary btn-flat " data-original-title="" title="Quay lại(Ctrl-Q)"><i class="glyphicon glyphicon-arrow-left"></i>&nbsp;Quay lại</button>
		</nav>
	</header>
</div>
<div id="vanban" style="min-height:510px;max-height:950px; width: 100%; overflow-x:hidden; overflow-y: scroll;font-weight:600;">
	<div class="row">
		<div class="col-sm-10">
			<span id="ketqua" class="validation-summary-valid"></span>
			<form class="form-horizontal" id="formAddVanban" method="post" action="@Url.Action("Themvanban","Vanbanden")">
				@Html.HiddenFor(u => u.Vanbanden.intid)                
				@Html.Hidden("idloaivb")
				@Html.Hidden("intAddNext", 0)
				@Html.Hidden("idmail", Model.idmail)
                @Html.HiddenFor(u => u.Vanbanden.intidvanbandenmail)

				@foreach (var m in Model.PhanloaiTruong)
				{
					if ((m.intidmotatruong == 1) & (m.IsDisplay == true))
					{
						<div class="form-group form-group-window">
							<label class="col-sm-4 control-label"><span style="color:red">*&nbsp;</span>@m.strmota</label>
							<div class="col-sm-5">
								@(Html.Kendo().DatePicker()
										.Name("strngayden")
										.Value(Model.Vanbanden.strngayden)
										.HtmlAttributes(new { style = "width:100%;" })
										.Format("dd/MM/yyyy")
								)
							</div>
						</div>
					}
					if ((m.intidmotatruong == 2) & (m.IsDisplay == true))
					{
						<div class="form-group form-group-window">
							<label class="col-sm-4 control-label"><span style="color:red">*&nbsp;</span>@m.strmota</label>
							<div class="col-sm-5">
								@(Html.Kendo().DropDownList()
									.Name("idsovanban")
									.BindTo(Model.Sovanban)
									.DataTextField("strten")
									.DataValueField("intid")
									.Value(Model.intidsovanban.ToString())
									.HtmlAttributes(new { @style = "width:100%;" })
									.ValueTemplate("<span style='color:red;' >#:data.strten#</span>")
								)
								
							</div>
						</div>
					}
					if ((m.intidmotatruong == 3) & (m.IsDisplay == true))
					{
						<div class="form-group form-group-window">
							<label class="col-sm-4 control-label"><span style="color:red">*&nbsp;</span>@m.strmota</label>
							<div class="col-sm-5">
								@*@(Html.Kendo().DropDownList()
									.Name("idloaivanban")
									.BindTo(Model.PhanloaiVanban)
									.DataTextField("strtenvanban")
									.DataValueField("intid")
									.Value(Model.intidloaivanban.ToString())
									.HtmlAttributes(new { @style = "width:100%;" })
								)*@
								@Html.DropDownList("idloaivanban",
								new SelectList(Model.PhanloaiVanban, "intid", "strtenvanban", Model.intidloaivanban),
                              "", new { @class = "form-control form-control-window3", })
							</div>
						</div>
					}
					if ((m.intidmotatruong == 4) & (m.IsDisplay == true))
					{
						<div class="form-group form-group-window">
							<label class="col-sm-4 control-label"><span style="color:red">*&nbsp;</span>@m.strmota</label>
							<div class="col-sm-5">
								@Html.TextBoxFor(u => u.Vanbanden.intsoden,
								new
								{
                                    @class = "form-control form-control-window3",
									@Value = Model.Vanbanden.intsoden,
									style = "color:red;font-weight:bold;"
								})
							</div>
						</div>
					}
					if ((m.intidmotatruong == 5) & (m.IsDisplay == true))
					{
						<div class="form-group form-group-window">
							<label class="col-sm-4 control-label"><span style="color:red">*&nbsp;</span>@m.strmota</label>
							<div class="col-sm-5">
								@Html.TextBox("strkyhieu", Model.Vanbanden.strkyhieu, new
								{
                                    @class = "form-control form-control-window3",
									placeholder = "Số, ký hiệu"
								})
							</div>
							<div class="col-sm-2">
								@Html.CheckBox("InHoa", true)
								<label>In hoa</label>
							</div>
						</div>
					}
					if ((m.intidmotatruong == 6) & (m.IsDisplay == true))
					{
						<div class="form-group form-group-window">
							<label class="col-sm-4 control-label"><span style="color:red">*&nbsp;</span>@m.strmota</label>
							<div class="col-sm-8">
								@(Html.Kendo().DropDownList()
									.Name("idkhoiphathanh")
									.BindTo(Model.Khoiphathanh)
									.DataTextField("strtenkhoi")
									.DataValueField("intid")
							//.OptionLabel("Cấp cơ quan...")
									.Value(Model.intidkhoiph.ToString())
									.HtmlAttributes(new { @style = "width:100%;" })
								)

							</div>
						</div>
					}
					if ((m.intidmotatruong == 7) & (m.IsDisplay == true))
					{
						<div class="form-group form-group-window">
							<label class="col-sm-4 control-label"><span style="color:red">*&nbsp;</span>@m.strmota</label>
							<div class="col-sm-8">
								@Html.Hidden("strnoiphathanh-auto", Model.Vanbanden.strnoiphathanh)
								@Html.Hidden("strnoiphathanh-khac", Model.Vanbanden.strnoiphathanh)
								<input id="strnoiphathanh" value="@Model.Vanbanden.strnoiphathanh" />
							</div>
						</div>
					}
					if ((m.intidmotatruong == 8) & (m.IsDisplay == true))
					{
						<div class="form-group form-group-window">
							@Html.Label(m.strmota, new { @class = "control-label col-sm-4" })
							<div class="col-sm-5">
								@(Html.Kendo().DatePicker()
								.Name("strngayky")
								.Value(Model.Vanbanden.strngayky)
								.HtmlAttributes(new { style = "width:100%;" })
								.Format("dd/MM/yyyy")
								)
							</div>
						</div>
					}
					if ((m.intidmotatruong == 9) & (m.IsDisplay == true))
					{
						<div class="form-group form-group-window">
							<label class="col-sm-4 control-label"><span style="color:red">*&nbsp;</span>@m.strmota</label>
							<div class="col-sm-8">
								@Html.TextAreaFor(u => u.Vanbanden.strtrichyeu, new
						{
                            @class = "form-control form-control-window3",
							@Value = Model.Vanbanden.strtrichyeu
						})
							</div>
						</div>
					}
					if ((m.intidmotatruong == 10) & (m.IsDisplay == true))
					{
						<div class="form-group form-group-window">
							@Html.Label(m.strmota, new { @class = "control-label col-sm-4" })
							<div class="col-sm-5">
								@Html.DropDownListFor(u => u.Vanbanden.intidlinhvuc,
							new SelectList(Model.Linhvuc, "intid", "strtenlinhvuc", Model.Vanbanden.intidlinhvuc),
                         "", new { @class = "form-control form-control-window3" })
							</div>
						</div>
					}
					if ((m.intidmotatruong == 11) & (m.IsDisplay == true))
					{
						<div class="form-group form-group-window">
							@Html.Label(m.strmota, new { @class = "control-label col-sm-4" })
							<div class="col-sm-5">
								@Html.TextBoxFor(u => u.Vanbanden.strnguoiky, new
						{
                            @class = "form-control form-control-window3",
							placeholder = "Người ký",
							@Value = Model.Vanbanden.strnguoiky
						})
							</div>
						</div>
					}
					if ((m.intidmotatruong == 12) & (m.IsDisplay == true))
					{
						<div class="form-group form-group-window">
							@Html.Label(m.strmota, new { @class = "control-label col-sm-4" })
							<div class="col-sm-5">
								@Html.DropDownListFor(u => u.Vanbanden.intidkhan,
							new SelectList(Model.Vanbankhan, "intid", "strtentinhchatvb", Model.Vanbanden.intidkhan),
                         "", new { @class = "form-control form-control-window3" })
							</div>
						</div>
					}
					if ((m.intidmotatruong == 13) & (m.IsDisplay == true))
					{
						<div class="form-group form-group-window">
							@Html.Label(m.strmota, new { @class = "control-label col-sm-4" })
							<div class="col-sm-5">
								@Html.DropDownListFor(u => u.Vanbanden.intidmat,
							new SelectList(Model.Vanbanmat, "intid", "strtentinhchatvb", Model.Vanbanden.intidmat),
                         "", new { @class = "form-control form-control-window3" })
							</div>
						</div>
					}
					if ((m.intidmotatruong == 14) & (m.IsDisplay == true))
					{
						<div class="form-group form-group-window">
							@Html.Label(m.strmota, new { @class = "control-label col-sm-4" })
							<div class="col-sm-5">
								@(Html.Kendo().DatePicker()
							.Name("strhanxuly")
							.Value(Model.Vanbanden.strhanxuly)
							.HtmlAttributes(new { style = "width:100%;" })
							.Format("dd/MM/yyyy")
								)
							</div>
						</div>
					}
					if ((m.intidmotatruong == 15) & (m.IsDisplay == true))
					{
						<div class="form-group form-group-window">
							<label class="col-sm-4 control-label"><span style="color:red">*&nbsp;</span>@m.strmota</label>
							<div class="col-sm-5">
								@(Html.Kendo().DropDownList()
									.Name("idnguoiduyet")
									.BindTo(Model.Nguoiduyet)
									.DataTextField("strhoten")
									.DataValueField("intid")
									.Value(Model.Vanbanden.intidnguoiduyet.ToString())
									.HtmlAttributes(new { @style = "width:100%;" })
								)                                
							</div>
						</div>
					}
					if ((m.intidmotatruong == 16) & (m.IsDisplay == true))
					{
						<div class="form-group form-group-window">
							<label class="col-sm-4 control-label">@m.strmota</label>
							<div class="col-sm-5">
								@(Html.Kendo().AutoComplete()
								.Name("strnoinhan")
								.Filter(FilterType.Contains)
								.Placeholder("Chọn cán bộ xử lý...")
								.BindTo(Model.Nguoixuly.Select(u => u.strhoten))
								.HtmlAttributes(new { @class = "form-control", style = "width:100%;" })
								.HighlightFirst(true)
								.IgnoreCase(true)
								.Value(Model.Vanbanden.strnoinhan)
								)

							</div>
						</div>
					}
					if ((m.intidmotatruong == 17) & (m.IsDisplay == true))
					{
						<div class="form-group form-group-window">
							@Html.Label(m.strmota, new { @class = "control-label col-sm-4" })
							<div class="col-sm-5">
								@Html.TextBoxFor(u => u.Vanbanden.strtraloivanbanso, new
						{
                            @class = "form-control form-control-window3",
							placeholder = Model.strmota_traloivanban, //"Tên sổ-Số đi-Năm",
							@Value = Model.Vanbanden.strtraloivanbanso
						})
							</div>
						</div>
					}
					if ((m.intidmotatruong == 18) & (m.IsDisplay == true))
					{
						<div class="form-group form-group-window">
							@Html.Label(m.strmota, new { @class = "control-label col-sm-4" })
							<div class="col-sm-5">
								@Html.TextBoxFor(u => u.Vanbanden.intmucquantrong, new
						{
                            @class = "form-control form-control-window3",
							placeholder = "",
							@Value = Model.Vanbanden.intmucquantrong
						})
							</div>
						</div>
					}
					if ((m.intidmotatruong == 19) & (m.IsDisplay == true))
					{
						<div class="form-group form-group-window">
							@Html.Label(m.strmota, new { @class = "control-label col-sm-4" })
							<div class="col-sm-5">
								@Html.DropDownListFor(u => u.Vanbanden.intiddiachiluutru,
							new SelectList(Model.Diachiluutru, "Id", "strtendonvi", Model.Vanbanden.intiddiachiluutru),
                         "", new { @class = "form-control form-control-window3" })
							</div>
						</div>
					}
					if ((m.intidmotatruong == 20) & (m.IsDisplay == true))
					{
						<div class="form-group form-group-window">
							@Html.Label(m.strmota, new { @class = "control-label col-sm-4" })
							<div class="col-sm-5">
								@Html.TextBoxFor(u => u.Vanbanden.strnoigui, new
						{
                            @class = "form-control form-control-window3",
							placeholder = "",
							@Value = Model.Vanbanden.strnoigui
						})
							</div>
						</div>
					}
					if ((m.intidmotatruong == 21) & (m.IsDisplay == true))
					{
						<div class="form-group form-group-window">
							@Html.Label(m.strmota, new { @class = "control-label col-sm-4" })
							<div class="col-sm-8">
								@Html.TextBoxFor(u => u.Vanbanden.strtomtatnoidung, new
						{
                            @class = "form-control form-control-window3",
							placeholder = "",
							@Value = Model.Vanbanden.strtomtatnoidung
						})
							</div>
						</div>
					}
					if ((m.intidmotatruong == 22) & (m.IsDisplay == true))
					{
						<div class="form-group form-group-window">
							@Html.Label(m.strmota, new { @class = "control-label col-sm-4" })
							<div class="col-sm-5">
								@Html.TextBoxFor(u => u.Vanbanden.strtukhoa, new
							{
                                @class = "form-control form-control-window3",
								placeholder = "",
								@Value = Model.Vanbanden.strtukhoa
							})
							</div>
						</div>
					}
					if ((m.intidmotatruong == 23) & (m.IsDisplay == true))
					{
						<div class="form-group form-group-window">
							@Html.Label(m.strmota, new { @class = "control-label col-sm-4" })
							<div class="col-sm-5">
								@Html.CheckBoxFor(u => u.IsQPPL)
							</div>
						</div>
					}

				}

			</form>



		</div>
	</div>
</div>
<style type="text/css">
    .k-state-focused {border-color: #428bca;background-color: #428bca;color: #fff;}
</style>
<script type="text/javascript">
	$(document).ready(function () {
		SetClientHeight();
		setTimeout(function () { $('#strngayden').focus(); }, 1000);
		var strten = '@Model.Vanbanden.strnoiphathanh';
		$("#strnoiphathanh-auto").val(strten);
		var intidvanban = '@Model.Vanbanden.intid';
		$('#Vanbanden_intid').val(intidvanban);
		if (intidvanban == 0) {
			GetAjaxSovbden();
		} else {
			ButtonEnable("Attachbtn", true);
		};
		$('#formAddvanban').keypress(function (e) {
			preventEnterSubmit(e);
		});
		@if (Model.IsSave == true)
		{
			<text>
		ShowResult("ketqua", "Cập nhật thành công");
		setTimeout(function () { $('#ketqua').hide(); }, 3000);
		</text>
		};
		GetTenDonvi();
			   
	});
	
	$(window).resize(function () {
		SetClientHeight();
	});
	function SetClientHeight() {
		var contentHeight = $('#content').innerHeight();
		var headerHeight = $('#head').innerHeight();
		var tbar = $('#tbar').innerHeight();
		var windowHeight = $(window).height();
		var contentWidth = $('#content').innerWidth();
		if (contentWidth > 768) {
			if (contentHeight > 800) { contentHeight = 800; }
			$('#vanban').height(contentHeight - headerHeight - tbar - 280);
		};
	}	
	//=======================================
	$(window).bind('keydown', function(event) {
		if (event.ctrlKey || event.metaKey) {
			switch (String.fromCharCode(event.which).toLowerCase()) {
				case 'h':
					event.preventDefault();
					AddNew();
					break;
				case 'y':
					event.preventDefault();
					AddNext();
					break;
				case 'g':
					event.preventDefault();
					Save();
					break;	           
				case 'q':
					event.preventDefault();
					Back();
					break;
				case 'o':
					event.preventDefault();
					var intDongy = GetintDongy();
					console.log(intDongy);
					if (intDongy == 1) {
						UpdateHanxulyVBDT();
					}
					if (intDongy == 2) {
						UpdateVBDTDinhkem();
					}	                
					break;
			}
		}
	});	
	
	$('#Backbtn').click(function () {
		Back();
	});
	function Back(){
		var url = '@Url.Action("Index", "Vanbanden", new { isBack = true })';
		var idmail = '@Model.idmail';
		if (idmail != 0) {
			url = '@Url.Action("Index", "Vanbandendientu", new { isBack = true })';
		}
		$().redirect(url);
	}
	function AddNew(){
		var url = '@Url.Action("Themvanban", "Vanbanden", new { id = string.Empty })';
		window.location = url;
	}
	$('#Addbtn').click(function () {
		AddNew();
	});
	$('#AddNextbtn').click(function () {
		AddNext();
	});
	function AddNext() {
		var idloaivb = $('#idloaivanban').val();
		$('#idloaivb').val(idloaivb);
		$('#intAddNext').val(1);
		SubmitFormAddVanban();
	}
	$('#Savebtn').click(function () {
		Save();
	})
	function Save(){
		var validatable = $("#formAddVanban").kendoValidator({
			rules: {
				ngayden: function (input) {
					if (input.is("[name=strngayden]")) {
						var ngay = $('#strngayden').val();
						if (ngay == "") {
							return false;
						} else {
							var date = kendo.parseDate(ngay);
							if (!date) {
								return false;
							}
							return true;
						}
					}
					return true;
				},
				soden: function (input) {
					if (input.is("[name=Vanbanden.intsoden]")) {
						return $('#Vanbanden_intsoden').val() != "";
					}
					return true;
				},
				kyhieu: function (input) {
					if (input.is("[name=Vanbanden.strkyhieu]")) {
						return $('#Vanbanden_strkyhieu').val() != "";
					}
					return true;
				},
				noiphathanh: function (input) {
					if (input.is("[name=strnoiphathanh]")) {
						return $('#strnoiphathanh').val() != "";
					}
					return true;
				},
				trichyeu: function (input) {
					if (input.is("[name=Vanbanden.strtrichyeu]")) {
						return $('#Vanbanden_strtrichyeu').val() != "";
					}
					return true;
				},
				ngayky: function (input) {
					if (input.is("[name=strngayky]")) {
						var ngay = $('#strngayky').val();
						if (ngay != "") {
							var date = kendo.parseDate(ngay);
							if (!date) {
								return false;
							}
							return true;
						}
					}
					return true;
				},
				hanxuly: function (input) {
					if (input.is("[name=strhanxuly]")) {
						var ngay = $('#strhanxuly').val();
						if (ngay != "") {
							var date = kendo.parseDate(ngay);
							if (!date) {
								return false;
							}
							return true;
						}
					}
					return true;
				},
			},
			messages: {
				ngayden: "Ngày không hợp lệ",
				soden: "*",
				kyhieu: "*",
				noiphathanh: "*",
				trichyeu: "*",
				ngayky: "Ngày không hợp lệ",
				hanxuly: "Ngày không hợp lệ"
			}
			//errorTemplate: "<span>#=message#</span>"
		}).data("kendoValidator");

		if (validatable.validate()) {
			$('#idloaivb').val(0);
			$('#intAddNext').val(0);
			SubmitFormAddVanban();
			ShowLoading();
		}
	}
	//=======================================
	$('#idsovanban').change(function () {
		GetAjaxSovbden();
	})

	function GetAjaxSovbden() {
		$('#Vanbanden_intsoden').val("");
		var idsovanban = $('#idsovanban').val();
		var url = '@Url.Action("_AjaxGetSovb", "Vanbanden")';
		url = url + '?idsovb=' + idsovanban;
		$.ajax(
			{
				type: "POST",
				url: url,
				success: function (data) {
					$('#Vanbanden_intsoden').val(data.intsoden);
					var dropdownlist = $("#idkhoiphathanh").data("kendoDropDownList");
					dropdownlist.select(function (dataItem) {
						return dataItem.intid == data.idkhoiph;
					});
					GetTenDonvi();
				}
			});
	}

	$('#idkhoiphathanh').change(function () {
		GetTenDonvi();
	})
	function GetTenDonvi() {
		RemoveAutoComplete();

		var idkhoiph = $('#idkhoiphathanh').val();
		var dataSource = new kendo.data.DataSource({
			transport: {
				read: {
					url: '@Url.Action("_AjaxGetTenDonvi", "Vanbanden", (new { idkhoiph = "__id__" }))'.replace('__id__', idkhoiph),
					dataType: "json",
					cache: false
				}
			}
		});
		$("#strnoiphathanh").kendoAutoComplete({
			dataSource: dataSource,
			cache: false,
			filter: "contains",
			highlightFirst: true,
			ignoreCase: true,
			placeholder: "Tên đơn vị phát hành ...",
			select: onSelectNoiphathanh,
			dataTextField: "strkyhieu_ten"
			//template: '<span> #: strkyhieu # || #: strten #</span>'
		});
	}
	function RemoveAutoComplete() {
		$("#strnoiphathanh").kendoAutoComplete();
		var autoComplete = $("#strnoiphathanh").data("kendoAutoComplete");
		autoComplete.destroy();

	}
	function onSelectNoiphathanh(e) {
		var dataItem = this.dataItem(e.item.index());
		var strten = dataItem.strten;
		$("#strnoiphathanh-auto").val(strten);
	}
	$('#strnoiphathanh').focusout(function () {
		var strten_auto = $("#strnoiphathanh-auto").val();
		var strten_khac = $("#strnoiphathanh-khac").val();        
		if (strten_khac.toLowerCase().indexOf("||") >= 0){
			$("#strnoiphathanh").val(strten_auto);
		}else{
			$("#strnoiphathanh").val(strten_khac);
		}
		SetNoiphathanh_Auto();
	})
	function SetNoiphathanh_Auto() {
		var strten = $("#strnoiphathanh").val();
		$("#strnoiphathanh-auto").val(strten);
	}
	$('#strnoiphathanh').keyup(function () {
		$("#strnoiphathanh-khac").val(this.value);
	})
	$('#strkyhieu').keyup(function () {
		var inhoa = $('#InHoa').prop('checked');
		if(inhoa==true){
			var strkyhieu = $('#strkyhieu').val();
			var item = strkyhieu.toUpperCase();
			$('#strkyhieu').val(item);  
		}              
	})
	$('#strngayky').keyup(function () {
		var ngay = $('#strngayky').val(); 
		var _ngay = editdate(ngay);        
		$('#strngayky').val(_ngay);
	})
	//====================================
	
	$('#idloaivanban').change(function () {
		setTimeout(function () { changeLoaivb(); }, 1000);		
	})
	function changeLoaivb() {
		var idloaivb = $('#idloaivanban').val();
		$('#idloaivb').val(idloaivb);
		$('#intAddNext').val(0);
		SubmitFormAddVanban();
	}

	function SubmitFormAddVanban() {
		// set strnoinhan truoc khi submit (cap nhat vbdt)
		SetNoiphathanh_Auto();
		$('#formAddVanban').submit();
	}

	//$('#Vanbanden_strkyhieu').focusout(function () {
	//    KiemtraVBtrung();
	//})
	//$('#strnoiphathanh').focusout(function () {
		//KiemtraVBtrung();
	//})
	$('#strngayky').focusout(function () {
		KiemtraVBtrung();
	})
	function KiemtraVBtrung() {
		var strsokyhieu = $('#strkyhieu').val();
		var strngayky = $('#strngayky').val();
		var strcoquan = $('#strnoiphathanh').val();
		var idmail = $('#idmail').val();
		if ((strsokyhieu != "") && (strngayky != "") && (strcoquan != "")) {
			$.ajax(
			{
				type: "POST",
				url: '@Url.Action("_AjaxKiemtraVBtrung", "Vanbanden")',
				data: { 'strsokyhieu': strsokyhieu, 'strngayky': strngayky, 'strcoquan': strcoquan, 'idmail': idmail },
				success: function (data) {
					switch (data.idloai) {
						case -1:

							break;
						case 0: // vb giay
							OpenUpdateVBDTDinhkem(data.message);
							$('#idvbdt').val(data.idvanban);
							break;
						case 1: // vbdt
							OpenUpdateHanXuly(data.message);
							$('#idvbdt').val(data.idvanban);
							break;
						case 2: // vb giay_dt
							SetThongbao(data.message);				            
							break;
						default:					        
							break;
					}
				}
			});
		}
	}
	$('textarea').focus(function() {
		var $this = $(this);
		$this.select();
		window.setTimeout(function() {
			$this.select();
		}, 1);
		// Work around WebKit's little problem
		function mouseUpHandler() {
			// Prevent further mouseup intervention
			$this.off("mouseup", mouseUpHandler);
			return false;
		}
		$this.mouseup(mouseUpHandler);
	});
	
	$('#Attachbtn').click(function () {
		OpenUploadVBDen();
	})
	$('#PrintListVBbtn').click(function () {
		var id = $('#Vanbanden_intid').val();
		var url = '@Url.Action("InPhieuNhanVBDen", "Baocao")';
		url = url + '?id=' + id;	   
		open(url, "_blank");
	})
	
	//=============================================
	function SetintDongy(id) {
		$('#intDongy').val(id);
	}
	function GetintDongy() {
		return $('#intDongy').val();
	}
	function CloseUpdateHanXuly() {
		var window = $("#UpdateHanXuly").data("kendoWindow");
		window.close();
	}
	function OpenUpdateHanXuly(message) {
		SetintDongy(1);
		var window = $("#UpdateHanXuly").data("kendoWindow");
		window.center();
		window.open();
		$('#detail-updatehanxuly').text(message);
	}
	function CloseUpdateVBDTDinhkem() {
		var window = $("#UpdateVBDTDinhkem").data("kendoWindow");
		window.close();
	}
	function OpenUpdateVBDTDinhkem(message) {
		SetintDongy(2);
		var window = $("#UpdateVBDTDinhkem").data("kendoWindow");
		window.center();
		window.open();
		$('#detail-UpdateVBDTDinhkem').text(message);
	}

</script>
@Html.Action("_UploadVBDen", "Vanbanden", new { idvanban = Model.Vanbanden.intid })
@Html.Hidden("intDongy",0)
@(Html.Kendo().Window()
	.Name("UpdateHanXuly")
	.Draggable()
	.AutoFocus(true)
	.Title("Cập nhật thời hạn xử lý")
	.Resizable()
	.Width(400)
	.HtmlAttributes(new { style = "height:100%;" })
	.Visible(false)
	.Actions(actions => actions.Close())
	.Content(
	@<text>
		<div>
			<div class="modal-body" id="detail-updatehanxuly">
			</div>
			<div class="modal-footer">
				<button id="SubmitUpdateHanXulybtn" type="button" class="btn btn-sm btn-primary btn-flat " data-original-title="" title="Ctrl-O"><i class="glyphicon glyphicon-floppy-saved"></i>&nbsp;Đồng ý</button>
				<button id="BackUpdateHanXulybtn" type="button" class="btn btn-sm btn-primary btn-flat " data-original-title="" title=""><i class="glyphicon glyphicon-arrow-left"></i>&nbsp;Bỏ qua</button>
				@Html.Hidden("idvbdt")
			</div>
		</div>
		<script type="text/javascript">
			function UpdateHanxulyVBDT() {
				var id = $('#idvbdt').val();
				$.ajax(
					{
						type: "POST",
						url: '@Url.Action("_CapnhatThoigianXulyVBDT", "Vanbanden")',
						data: { idvanban: id },
						success: function (data) {
							CloseUpdateHanXuly();
							if (data.id == 1) {					            
								var url = '@Url.Action("Themvanban", "Vanbanden", (new { id = "__id__" }))'.replace('__id__', id);
								window.location = url;					            
							} else {
								SetThongbao("Lỗi! Cập nhật không thành công");
							}
						}
					});
			}
			$('#SubmitUpdateHanXulybtn').click(function () {
				UpdateHanxulyVBDT();
			})
			$('#BackUpdateHanXulybtn').click(function () {
				CloseUpdateHanXuly();
			})
		</script>
	</text>
	)
)
@(Html.Kendo().Window()
	.Name("UpdateVBDTDinhkem")
	.Draggable()
	.AutoFocus(true)
	.Title("Cập nhật Văn bản điên tử đính kèm")
	.Resizable()
	.Width(400)
	.HtmlAttributes(new { style = "height:100%;" })
	.Visible(false)
	.Actions(actions => actions.Close())
	.Content(
	@<text>
		<div>
			<div class="modal-body" id="detail-UpdateVBDTDinhkem">
			</div>
			<div class="modal-footer">
				<button id="SubmitUpdateVBDTbtn" type="button" class="btn btn-sm btn-primary btn-flat " data-original-title="" title="Ctrl-O"><i class="glyphicon glyphicon-floppy-saved"></i>&nbsp;Đồng ý</button>
				<button id="BackUpdateVBDTbtn" type="button" class="btn btn-sm btn-primary btn-flat " data-original-title="" title=""><i class="glyphicon glyphicon-arrow-left"></i>&nbsp;Bỏ qua</button>
				
			</div>
		</div>
		<script type="text/javascript">
	function UpdateVBDTDinhkem() {
		var idvanban = $('#idvbdt').val();
		var idmail = $('#idmail').val();
		$.ajax(
			{
				type: "POST",
				url: '@Url.Action("_CapnhatVBDTDinhkem", "Vanbanden")',
				data: { idvanban: idvanban, idmail:idmail },
				success: function (data) {
					CloseUpdateVBDTDinhkem();
					if (data.id == 1) {					    
						var url = '@Url.Action("Themvanban", "Vanbanden")';
						url = url + '?id=' + idvanban + '&idmail=' + idmail;					    
					    //$().redirect(url);
						window.location = url;
					} else {
						SetThongbao("Lỗi! Cập nhật không thành công");
					}
				}
			});
	}
	$('#SubmitUpdateVBDTbtn').click(function () {
		UpdateVBDTDinhkem();
	})
	$('#BackUpdateVBDTbtn').click(function () {
		CloseUpdateVBDTDinhkem();
	})
		</script>
	</text>
	)
)



