@model QLVB.DTO.Account.OptionViewModel
@{    
    string strImageProfile = QLVB.Common.Utilities.AppConts.ImageProfile;
    if (Model.strImageProfile != null)
    {
        strImageProfile += Model.strImageProfile;
    }
    else
    {
        strImageProfile += "avatar_default.png";
    }   
}
@section header{
    <i class="glyphicon glyphicon-cog">&nbsp;</i>Cài đặt cá nhân
}

<div class="row">    
    <div class="col-sm-6">
        <div class="box">
            <header>
                <div class="icons">
                    <i class="glyphicon glyphicon-pencil"></i>
                </div>                
                Chọn hình đại diện
            </header>
            <div id="div-1" class="body">                
                <form action="@Url.Action("UploadImageProfile","File")" class="form-horizontal" id="formImageProfile" method="post" enctype="multipart/form-data">
                    <table class="table table-condensed table-bordered responsive-table">
                        <tr>
                            <td>
                                <input type="file" name="files" id="files" />
                                <br />
                                <button type="submit" class="btn btn-primary btn-flat "><i class="glyphicon glyphicon-floppy-saved"></i>&nbsp;Ghi nhận</button>
                                <br />
                                <span class="summary-valid">@ViewBag.message</span>
                                <br />
                            </td>
                            <td>                              
                                <img class="user-image" alt="Hình đại diện" src="@Url.Content(strImageProfile)">
                            </td>

                        </tr>
                    </table>                    
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="box">
            <header>
                <div class="icons">
                    <i class="glyphicon glyphicon-pencil"></i>
                </div>
                Cài đặt xử lý
            </header>
            <div id="div-1" class="body">
                <form class="form-horizontal" id="formOption">
                    <div class="form-actions no-margin-bottom">
                        <button id="saveOptionbtn" type="button" class="btn btn-primary btn-flat " data-original-title="" title=""><i class="glyphicon glyphicon-floppy-saved"></i>&nbsp;Ghi nhận</button>
                        <span id="ketquaOtion" class="validation-summary-valid"></span>
                    </div>
                    <hr />
                    <table class="table table-condensed responsive-table" style="width: 100%">
                        @foreach (var p in Model.ListOption)
                        {
                            <tr>
                                <td style="width:10%; text-align:center">
                                    @Html.CheckBox(p.intVitri.ToString(), p.IsValue, new { @class = "primary" })
                                </td>
                                <td style="width:90%; text-align:left">
                                    @Html.Label(p.strmota, new { @class = "font-label" })
                                </td>
                            </tr>
                        }                        

                    </table>



                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    @Html.Action("Tuychon")

</div>

<script type="text/javascript">
    $("#saveOptionbtn").click(function () {
        $.ajax({
            type: "POST",
            url: '@Url.Action("_SaveOption","Account")',
            data: $("#formOption").serialize(),
            success: function (data) {
                if (data == 1) {
                    ShowResult("ketquaOtion", "Cập nhật thành công");
                }
                else {
                    ShowResult("ketquaOtion", "Lỗi !!!");
                }
            },
            dataType: "Json"
        });
    });
</script>
