@model QLVB.DTO.Vanbandientu.ToolbarVBDenViewModel
@{
	ViewBag.Title = "Index";
	bool isBack = ViewBag.isBack;
	int inttinhtrangcat = ViewBag.inttinhtrangcat;
    bool IsEdxml = QLVB.Common.Utilities.AppSettings.IsEdxml;
}
@section header{
	<i class="fa fa-file-text">&nbsp;</i>Hộp thư Văn bản đến điện tử
}
<span id="ketquaNhanvb" class="validation-summary-valid"></span>
<div class="box ">
    <header>
        <nav class="box-toolbar">
            <button id="Addbtn" style="display:@Model.Capnhatvb;" type="button" class="btn btn-sm btn-primary btn-flat button-box" title="Thêm mới văn bản">
                <i class="glyphicon glyphicon-plus"></i>&nbsp;Cập nhật
            </button>
            <button id="Deletebtn" disabled style="display:@Model.Xoavb;" type="button" class="btn btn-danger btn-sm btn-primary btn-flat button-box" title="Xóa văn bản">
                <i class="glyphicon glyphicon-trash"></i>&nbsp;Xóa
            </button>
            <button id="Searchbtn" class="btn btn-success btn-sm btn-primary btn-flat button-box">
                <i class="glyphicon glyphicon-search"></i>&nbsp;Tìm kiếm
            </button>
            <button id="Emailbtn" style="display:@Model.Capnhatvb;" type="button" class="btn btn-sm btn-primary btn-flat button-box">
                <i class="glyphicon glyphicon-envelope"></i>&nbsp;Nhận Email
            </button>
            @if (IsEdxml)
            {
                <button id="VBDT-Chinhphubtn" style="display:@Model.Capnhatvb;" type="button" class="btn btn-sm btn-primary btn-flat button-box">
                    <i class="glyphicon glyphicon-envelope"></i>&nbsp;Nhận VBĐT Chính phủ
                </button>
            }   
            
            <button id="VBDT-Tructinhbtn" style="display:@Model.Capnhatvb;" type="button" class="btn btn-sm btn-primary btn-flat button-box">
                <i class="glyphicon glyphicon-envelope"></i>&nbsp;Nhận VBĐT Tỉnh
            </button>
                            
            <button id="PrintListVBbtn" type="button" class="btn btn-sm btn-primary btn-flat button-box">
                <i class="glyphicon glyphicon-print"></i>&nbsp;In&nbsp;
            </button>
            <button id="TonghopVBbtn" type="button" class="btn btn-sm btn-primary btn-flat button-box">
                <i class="glyphicon glyphicon-search"></i>&nbsp;Tổng hợp VBĐT&nbsp;
            </button>

        </nav>
    </header>

</div>
<div class="row">
	<div class="col-sm-3 col-md-2" id="category">
		@Html.Action("_Category")
	</div>
	<div class="col-sm-9 col-md-10" id="listvanbanden">
		@Html.Action("_ListVanbandendientu", "Vanbandendientu", new { isBack = isBack, inttinhtrangcat = inttinhtrangcat })
	</div>
	@Html.Hidden("idvanban")	
</div>
<script type="text/javascript">    
	function onChange(arg) {
		var selected = $.map(this.select(), function (item) {
			var value = $(item).text();
			var grid = $("#grid").data("kendoGrid");
			var row = grid.select();
			var intid = grid.dataItem(row).intid;
			var inttrangthai = grid.dataItem(row).inttrangthai;
			SetIdVanban(intid);
			DisplayToolbar(inttrangthai);
			
		});
	}
	function onDataBound(arg) {
		dataView = this.dataSource.view();
		for (var i = 0; i < dataView.length; i++) {
			if (dataView[i].inttrangthai == 0) {		        
				var uid = dataView[i].uid;
				$("#grid tbody").find("tr[data-uid=" + uid + "]").addClass("chuaduyet");
			}			
		}
	}
	
	function DisplayToolbar(inttrangthai) {	
		ButtonEnable("Deletebtn", true);		
	}
	
	function SetIdVanban(idvanban) {
		$('#idvanban').val(idvanban);
	}
	function GetIdVanban() {
		var id = $('#idvanban').val();
		return id;
	}	
	function ViewDetailVBDTDen(id) {
		OpenViewDetailVBDTDen(id);
	}
	$('#Emailbtn').click(function () {
		$.ajax(
		{
			type: "POST",
			url: '@Url.Action("_NhanEmail", "Vanbandendientu")',			
			beforeSend: function () {
				ShowLoading();
				ShowResult("ketquaNhanvb", "");
			},
			success: function (data) {
				HideLoading();
				//SetThongbao(data);
				if (data.id == -1) {
					ShowResult("ketquaNhanvb", "Lỗi !!! " + data.message);
				}
				else {
					ShowResult("ketquaNhanvb", "Nhận thành công " + data.message + " email. Số email chưa nhận là " + data.id);
					RefreshGrid();
				}
				setTimeout(function () { $('#ketquaNhanvb').hide(); }, 10000);
			},
			dataType: "Json"
		});
	})
	$('#Searchbtn').click(function () {
		OpenSearchVBDen();
	})
	$('#Deletebtn').click(function () {
		var idvanban = 0;
		idvanban = GetIdVanban();
		if (idvanban != 0) {
			var url = '@Url.Action("_formDeleteVanban", "Vanbandendientu", (new { id = "__id__" }))'.replace('__id__', idvanban);
			$('#detail-DeleteVB').load(url);
			OpenDeleteVB();
		} else {
			SetThongbao("Bạn chưa chọn văn bản");
		}
	})
	function CloseDeleteVB() {
		var window = $("#DeleteVB").data("kendoWindow");
		window.close();
	}
	function OpenDeleteVB() {
		var window = $("#DeleteVB").data("kendoWindow");
		window.center();
		window.open();
	}
	$('#Addbtn').click(function () {
		var idvanban = 0;
		idvanban = GetIdVanban();
		if (idvanban != 0) {
			var url = '@Url.Action("Themvanban", "Vanbanden")';
			url = url + "?idmail=" + idvanban;
			window.location = url;
		} else {
			SetThongbao("Bạn chưa chọn văn bản");
		}
	})
	$('#PrintListVBbtn').click(function () {
		var url = '@Url.Action("Export", "Vanbandendientu")';
		window.location = url;
	})
    $('#TonghopVBbtn').click(function () {
        var url = '@Url.Action("Tonghop", "Vanbandendientu")';
        window.location = url;
    })
    //========================================
    $('#VBDT-Chinhphubtn').click(function () {
        $.ajax(
        {
            type: "POST",
            url: '@Url.Action("_NhanEdxml", "Vanbandendientu")',
            beforeSend: function () {
                ShowLoading();
                ShowResult("ketquaNhanvb", "");
            },
            success: function (data) {
                HideLoading();                 
                if (data.id === 1) {
                    ShowResult("ketquaNhanvb", "Nhận thành công " + data.message + " văn bản điện tử");
                    RefreshGrid();                    
                }
                else {
                    ShowResult("ketquaNhanvb", "Lỗi !!! " + data.message);
                }
                setTimeout(function () { $('#ketquaNhanvb').hide(); }, 10000);
            },
            dataType: "Json"
        });
    })
    $('#VBDT-Tructinhbtn').click(function () {
        $.ajax(
        {
            type: "POST",
            url: '@Url.Action("_NhanVanbanTrucTinh", "Vanbandendientu")',
            beforeSend: function () {
                ShowLoading();
                ShowResult("ketquaNhanvb", "");
            },
            success: function (data) {
                HideLoading();
                if (data.id === 1) {
                    ShowResult("ketquaNhanvb", "Nhận thành công " + data.message + " văn bản điện tử");
                    RefreshGrid();
                }
                else {
                    ShowResult("ketquaNhanvb", "Lỗi !!! " + data.message);
                }
                setTimeout(function () { $('#ketquaNhanvb').hide(); }, 10000);
            },
            dataType: "Json"
        });
    })
</script>

@Html.Action("_ViewDetailVBDTDen", "Vanbandendientu")
@Html.Action("_SearchVBDenDientu", "Vanbandendientu")

@(Html.Kendo().Window()
	.Name("DeleteVB")
	.Draggable()
	.AutoFocus(true)
	.Title("Xóa văn bản")
	.Resizable()
	.Width(500)
	.HtmlAttributes(new { style = "height:100%;" })
	.Visible(false)
	.Actions(actions => actions.Minimize().Maximize().Close())
	.Content(
	@<text>
		<div id="detail-DeleteVB">
		</div>
	</text>
	)
)