@{
    string SideBarLeft = QLVB.Common.Utilities.AppSettings.SideBarLeft;//"sidebar-left-opened";
    string SiteName = QLVB.Common.Utilities.AppSettings.SiteName;
    string FixHeaderBar = QLVB.Common.Utilities.AppSettings.FixHeaderBar == true ? "padTop53" : string.Empty;

}
<!doctype html>
<html class="no-js">
<head>
    <meta charset="UTF-8">
    <title>@SiteName</title>
    <!--IE Compatibility modes--> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--Mobile first-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link rel="stylesheet" href=@Url.Content("~/Content/assets/lib/bootstrap/css/bootstrap.min.css")>    
    @Styles.Render("~/Content/metis/css")   
    <!-- Metis Theme stylesheet -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src=@Url.Content("~/Content/assets/lib/html5shiv/html5shiv.js")></script>
        <script src=@Url.Content("~/Content/assets/lib/respond/respond.min.js")></script>
        <![endif]-->
    <!--Modernizr 2.8.2-->  
    @Scripts.Render("~/bundles/modernizr")
    <!--jQuery 2.1.1 -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/metis/js")
   
    @Scripts.Render("~/bundles/lib")
   
    @Scripts.Render("~/bundles/jqueryui")

    @Scripts.Render("~/bundles/kendo")
    @Styles.Render("~/Content/kendo/css")

    @{string kendoTheme = "~/Content/kendo/kendo." + QLVB.Common.Utilities.AppSettings.DefaultKendoTheme + ".min.css";}
    <link rel="stylesheet" href=@Url.Content(kendoTheme)>

    @Scripts.Render("~/bundles/signalr")
    <script src="~/signalr/hubs" type="text/javascript"></script>

    @Scripts.Render("~/bundles/flowchart")
    @Styles.Render("~/Content/flowchart")
</head>
<body class="@FixHeaderBar @SideBarLeft ">
    <div id="wrap">
        @Html.Action("Header", "Menu")

        @Html.Action("SideBarLeft", "Menu")
        <div id="content">
            <div class="outer">
                <div class="inner">
                    @if (IsSectionDefined("header"))
                    {
                        <header class="head" id="head">
                            <!-- ."main-bar -->
                            <div class="main-bar">
                                <h3>
                                    @RenderSection("header", false)
                                </h3>
                            </div><!-- /.main-bar -->
                        </header>
                    }
                    @RenderBody()
                </div><!-- /.inner -->
            </div><!-- /.outer -->
        </div><!-- /#content -->
        @Html.Action("SideBarRight", "Menu")
    </div><!-- /#wrap -->
    <footer class="Footer" id="footer">
        <p>
            &copy; @DateTime.Now.Year TRUNG TÂM TIN HỌC - VĂN PHÒNG UBND TỈNH ĐỒNG NAI.
            ĐT: @QLVB.Common.Utilities.AppConts.Dienthoai. 
            PHIÊN BẢN @QLVB.Common.Utilities.AppConts.Version           
        </p>
    </footer><!-- /#footer -->
    <!-- #helpModal -->
    @Html.Partial("helpModal")
    @Html.Partial("Thongbao")
    <!-- /#helpModal -->
    @RenderSection("scripts", required: false)

    @StackExchange.Profiling.MiniProfiler.RenderIncludes()


    <script type="text/javascript">
        $(document).ready(function () {
            $.ajax(
                {
                    type: "POST",
                    url: '@Url.Action("CheckSession", "Session")',
                    success: function (data) {
                        var status = data.status;
                        if (status == 0) {
                            window.location = '@Url.Action("Index", "Session")';
                        }
                    }
                });
        });
        $(function () {
            setInterval(KeepSessionAlive, 100000);            
        });
        function KeepSessionAlive() {
            $.ajax(
            {
                type: "POST",
                url: '@Url.Action("KeepSession", "Session")'
            })
        };

        kendo.culture("vi-VN");

        //======print============================================
        function PrintElement(elem) {
            var headElements = '<meta charset="utf-8" />,<meta http-equiv="X-UA-Compatible" content="IE=edge"/>';
            var keepAttr = ["class", "style"];
            $(elem).printArea({ retainAttr: keepAttr, extraHead: headElements });
            //$(elem).printArea();
        }
        //==========================
        function ShowLoading() {
            $('#loading').show();
        }
        function HideLoading() {
            $('#loading').hide();
        }
        //==========================
        var defaultfontsize = 13;
        function changeFontSize(element, step) {
            step = parseInt(step, 10);
            defaultfontsize += step;
            var size = defaultfontsize + 'px';
            var el = document.getElementById(element);
            //var curFont = parseInt(el.style.fontSize, 10);
            el.style.fontSize = size;
                        
            //$("body").css("font-size", size);
        }
    </script>
    <div id="loading" style="display:none;">
        <img id="loading-image" src='@Url.Content("~/Content/Images/ajax-loader.gif")' alt="Loading..." />
    </div>
   
</body>
</html>