@using DLTD.Web.Main.Controllers

@using Kendo.Mvc.UI;
@model DLTD.Web.Main.ViewModels.TonghopTinhhinhXulyViewModel
 @{
    ViewBag.Title = "TinhHinhXl";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li>
                <i class="glyphicon glyphicon-home"></i>
                <a href="/">TÌNH HÌNH XỬ LÝ</a>
            </li>
            @*<li><i class="fa fa-bars"></i>Pages</li>*@
            <li><i class="glyphicon glyphicon-list"></i></li>
        </ol>
    </div>
</div>
<div class="row box-toolbar">
    <div class="col-lg-6">
        <button id="btnThongke" type="button" class="btn btn-sm btn-primary btn-flat" title="Tổng hợp">
            <i class="glyphicon glyphicon-refresh"></i>&nbsp;Thống kê
        </button>&nbsp;&nbsp;&nbsp;
        <button type="submit" class="btn btn-sm btn-primary btn-flat" title="Xuất báo cáo"><i class="glyphicon glyphicon-grain"></i>Xuất báo cáo</button>
    </div>
    <div class="col-lg-6">
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <span class="control-label">Từ ngày</span>
        @(Html.Kendo().DatePicker()
              .Name("TuNgay")
           
              .HtmlAttributes(new { style = "width: 150px" })
              .Culture("vi-VN")
        ) &nbsp;&nbsp;&nbsp;
        <span class="control-label">Đến ngày</span>
        @(Html.Kendo().DatePicker()
              .Name("DenNgay")
          
              .HtmlAttributes(new { style = "width: 150px" })
              .Culture("vi-VN")
        )
    </div>
    <div class="col-lg-6">
        @(Html.Kendo().DropDownList()
                  .Name("idKhoi")
                  .DataTextField("Ten")
                  .DataValueField("Id")
                  .HtmlAttributes(new { style = "width: 250px" })
                  .OptionLabel("Tất cả các nguồn chỉ đạo")
                  .BindTo(Model.Khoi)
        )
    </div>   
</div>
<div class="row">
    <div class="col-lg-6">
        @(Html.Kendo().DropDownList()
                  .Name("idDonvi")      
                  .DataTextField("Ten")
                  .DataValueField("Id")
                  .HtmlAttributes(new { style = "width: 250px" })
                  .OptionLabel("Tất cả các đơn vị xử lý chính")
                  .BindTo(Model.DonVi)
        )
    </div>
    <div class="col-lg-6">

    </div>
</div>
<div class="row">
    <div class="col-lg-6">

    </div>
    <div class="col-lg-6">

    </div>
</div>
<div id="TonghopTHXLVB" class="row">
   
</div>
<script type="text/javascript">

    $("#TuNgay").kendoDatePicker({ culture: "vi-VN" });
    $("#DenNgay").kendoDatePicker({ culture: "vi-VN" });
 

    $("#btnThongke").click(function() {     

        $.ajax({
            url: "@Url.Action("ThongKe", "TinhHinhXL")",
            type: "POST",
            data: { tuNgay: $('#TuNgay').val(), denNgay: $('#DenNgay').val(), idKhoi: $('#idKhoi').val(), idDonVi:$('#idDonvi').val() },
        success: function(response) {         
            $('#TonghopTHXLVB').html(response);
        }
    });

    return false;
    });
    function OpenDetail(intloai) {
        $.ajax({
            url: "@Url.Action("GetVanBanChiDao", "TinhHinhXL")",
            type: "POST",
        data: { tuNgay: $('#TuNgay').val(), denNgay: $('#DenNgay').val(), idKhoi: $('#idKhoi').val(), idDonVi:$('#idDonvi').val(), trangthai:intloai },
        success: function(response) {         
            $('#TonghopTHXLVB').html(response);
        }
    }

</script>

<hr />

