@{
    ViewBag.Title = "Index";    
}

@section header{
    <i class="glyphicon glyphicon-envelope">&nbsp;</i>Hộp thư Văn bản đi điện tử
}
<div class="box ">
    <header>
        <nav class="box-toolbar">          
            <button id="Searchbtn" class="btn btn-success btn-sm btn-primary btn-flat button-box">
                <i class="glyphicon glyphicon-search"></i>&nbsp;Tìm kiếm
            </button>            
            <button id="PrintListVBbtn" type="button" class="btn btn-sm btn-primary btn-flat button-box">
                <i class="glyphicon glyphicon-print"></i>&nbsp;In&nbsp;
            </button>
            <button id="TonghopVBbtn" type="button" class="btn btn-sm btn-primary btn-flat button-box">
                <i class="glyphicon glyphicon-search"></i>&nbsp;Tổng hợp VBĐT&nbsp;
            </button>            
        </nav>
    </header>
</div>
<div class="row">
    <div class="col-sm-2" id="category">
        @Html.Action("_Category","Vanbandidientu")
    </div>
    <div class="col-sm-6" id="listvanbandi">
        @Html.Action("_ListVanbandidientu", "Vanbandidientu")
    </div>
    <div class="col-sm-4" id="listdonvigui">
        @Html.Action("_Listdonvigui", "Vanbandidientu", new { idvanban = 0 })
    </div>
    @Html.Hidden("idvanban")
</div>
<script type="text/javascript">
    function onChange(arg) {
        var selected = $.map(this.select(), function (item) {
            var value = $(item).text();
            var grid = $("#grid").data("kendoGrid");
            var row = grid.select();
            var intid = grid.dataItem(row).intid;
            var inttrangthai = grid.dataItem(row).inttrangthai;
            SetIdVanban(intid);
            DisplayToolbar(inttrangthai);
            GetListDonvi(intid);

        });
    }
    function onDataBound(arg) {
        dataView = this.dataSource.view();
        for (var i = 0; i < dataView.length; i++) {
            if (dataView[i].inttrangthai == 0) {
                var uid = dataView[i].uid;
                $("#grid tbody").find("tr[data-uid=" + uid + "]").addClass("chuaduyet");
            }
            else {
                var uid = dataView[i].uid;
                var strClass = SetColorVanban(dataView[i].inttinhtrangxuly, dataView[i].isykien)
                $("#grid tbody").find("tr[data-uid=" + uid + "]").addClass(strClass);
            }
        }
    }
    function SetColorVanban(inttinhtrangxuly, isykien) {
        var strClass = "";
        switch (inttinhtrangxuly) {
            case 0: // dang xu ly
                if (isykien == true) {
                    strClass = "coykien";
                } else {
                    strClass = "dangxuly";
                }
                break;
            case 1: // da hoan thanh
                strClass = "daxuly";
                break;
            default:  // null
                strClass = "daxuly";
                break;
        }
        return strClass;
    }
    function DisplayToolbar(inttrangthai) {
        if (inttrangthai == 1) {
            ButtonEnable("Deletebtn", false);
        } else {
            ButtonEnable("Deletebtn", true);
        }
    }

    function SetIdVanban(idvanban) {
        $('#idvanban').val(idvanban);
    }
    function GetIdVanban() {
        var id = $('#idvanban').val();
        return id;
    }
    function ViewDetailVBDi(id) {
        OpenViewDetailVBDi(id);
    }
    function GetListDonvi(id) {
        var url = '@Url.Action("_Listdonvigui", "Vanbandidientu")';
        url = url + "?idvanban=" + id;
        $('#listdonvigui').load(url);
    }
    $('#Searchbtn').click(function () {
        OpenSearchVBDi();
    })
    $('#PrintListVBbtn').click(function () {
        var url = '@Url.Action("Export", "Vanbandidientu")';
        window.location = url;
    })
    $('#TonghopVBbtn').click(function () {
        var url = '@Url.Action("Tonghop", "Vanbandidientu")';
        window.location = url;
    })
    
</script>

@Html.Action("_ViewDetailVBDen", "Vanbanden")
@Html.Action("_ViewDetailVBDi", "Vanbandi")
@Html.Action("_SearchVBDiDientu","Vanbandidientu")
@Html.Action("_ViewTinhHinhXuLy", "Vanbandidientu")