@using QLVB.Common.Date;
@{
	ViewBag.Title = "Quytrinh";
	DateTime dteNgaybd = Model.dteNgaybd;
	string strngaybd = DateServices.FormatDateVN(dteNgaybd);
	DateTime dteNgaykt = Model.dteNgaykt;
	string strngaykt = DateServices.FormatDateVN(dteNgaykt);
}
@section header{
	<i class="glyphicon glyphicon-tasks">&nbsp;</i>Tổng hợp tình hình xử lý Quy trình văn bản đến
}

<div class="box ">
	<header>
		<nav class="box-toolbar">			
			<div class="col-sm-3">
				@(Html.Kendo().DropDownList()
					.Name("intidloaiquytrinh")
					.HtmlAttributes(new { style = "width:100%;" })
					.OptionLabel("Chọn loại quy trình...")
					.DataTextField("strtenloaiquytrinh")
					.DataValueField("intid")
					.Value(Model.intidloaiquytrinh.ToString())
					.BindTo(Model.Loaiquytrinh)
				)
			</div>           
			@*<div class="col-sm-3">
				@(Html.Kendo().DropDownList()
					.Name("intidquytrinh")
					.HtmlAttributes(new { style = "width:100%;" })
					.OptionLabel("Quy trình xử lý...")
					.DataTextField("strtenquytrinh")
					.DataValueField("intid")
					.DataSource(source =>
					{
						source.Read(read =>
						{
							read.Action("GetQuytrinh", "Tinhhinhxuly")
								.Data("filterLoaiQuytrinh");
						})
						 .ServerFiltering(true);
					})
					.Enable(false)
					.AutoBind(false)
					.CascadeFrom("intidloaiquytrinh")
				)
			</div>*@
			<div class="col-sm-6">
				<button id="Thongkebtn" type="button" class="btn btn-sm btn-primary btn-flat" title="Tổng hợp">
					<i class="glyphicon glyphicon-refresh"></i>&nbsp;Thống kê
				</button>
				<button id="PrintTonghopVBDenbtn" type="button" class="btn btn-sm btn-primary btn-flat button-box">
					<i class="glyphicon glyphicon-print"></i>&nbsp;In&nbsp;
				</button>
			
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Từ ngày &nbsp;
				@(Html.Kendo().DatePicker()
						.Name("strngaybd")
						.Value(dteNgaybd)
						.Format("dd/MM/yyyy")
				)
				&nbsp;&nbsp;==>&nbsp;&nbsp;
				@(Html.Kendo().DatePicker()
						.Name("strngaykt")
						.Value(dteNgaykt)
						.Format("dd/MM/yyyy")
				)
			</div>
</nav>
	</header>
</div>

<div id="TonghopVBDen" class="row">
	@Html.Action("_TonghopQuytrinh", "Tinhhinhxuly", new { idloaiquytrinh = Model.intidloaiquytrinh, strngaybd = strngaybd, strngaykt = strngaykt })
</div>
<script type="text/javascript">
	function filterLoaiQuytrinh() {
		return {
			idloai: $("#intidloaiquytrinh").val()
		};
	}	
	$('#intidloaiquytrinh').change(function () {
		ReloadTonghopxuly();
	});
	$('#Thongkebtn').click(function () {
		ReloadTonghopxuly();
	})
	function ReloadTonghopxuly() {
		ShowLoading();
		var idquytrinh = $('#intidquytrinh').val();
		var idloai = $("#intidloaiquytrinh").val();
		var strngaybd = $('#strngaybd').val();
		var strngaykt = $('#strngaykt').val();
		var url = '@Url.Action("_TonghopQuytrinh", "Tinhhinhxuly")';
		url = url + '?idquytrinh=' + idquytrinh;
		url = url + '&idloaiquytrinh=' + idloai;
		url = url + '&strngaybd=' + strngaybd + '&strngaykt=' + strngaykt;
		$('#TonghopVBDen').load(url);
	}
	function OpenDetail(intloai, idquytrinh) {
		var strngaybd = $('#strngaybd').val();
		var strngaykt = $('#strngaykt').val();
		var idloaiquytrinh = $('#intidloaiquytrinh').val();
		var url = '@Url.Action("ListQuytrinh","Tinhhinhxuly")';
		url = url + '?intloai=' + intloai;
		url = url + '&idquytrinh=' + idquytrinh + '&idloaiquytrinh=' + idloaiquytrinh;
		url = url + '&strngaybd=' + strngaybd + '&strngaykt=' + strngaykt;
		//window.location = url;
		$().redirect(url);
	}
	function OpenTong(intloai) {
		var strngaybd = $('#strngaybd').val();
		var strngaykt = $('#strngaykt').val();
		var iddonvi = $('#listdonvi').val();
		var url = '@Url.Action("ListQuytrinh", "Tinhhinhxuly")';
		url = url + '?intloai=' + intloai;
		url = url + '&iddonvi=' + iddonvi;
		url = url + '&strngaybd=' + strngaybd + '&strngaykt=' + strngaykt;
		//window.location = url;
	}
	$('#PrintTonghopVBDenbtn').click(function () {
		PrintElement('#TonghopVBDen');
	})
</script>