@model QLVB.DTO.Loaivanban.DeleteLoaivanbanViewModel
<div class="modal-body">
    Bạn có muốn xóa loại văn bản : @Model.strtenvanban không?
</div>
<div class="modal-footer">
    <button id="SubmitDeleteLoaivbhbtn" type="button" class="btn btn-sm btn-primary btn-flat " data-original-title="" title=""><i class="glyphicon glyphicon-floppy-saved"></i>&nbsp;Đồng ý</button>
    <button id="Backbtn" type="button" class="btn btn-sm btn-primary btn-flat " data-original-title="" title=""><i class="glyphicon glyphicon-arrow-left"></i>&nbsp;Bỏ qua</button>
</div>

<script type="text/javascript">
    $("#Backbtn").bind("click", function () {
        CloseEditLoaivb();
    })
    $('#SubmitDeleteLoaivbhbtn').click(function () {
        $.ajax({
            type: "POST",
            url: '@Url.Action("DeleteLoaivb", "Loaivbden")',
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
                intid: '@Model.intid',
                strtenvanban: '@Model.strtenvanban'
            }),
            success: function (data) {
                if (data == 1) {
                    RefreshGrid();
                    CloseEditLoaivb();
                    SetIdLoaivb(0);
                    var url = '@Url.Action("_AjaxTruongvb", "Loaivbden", (new { id = "__id__" }) )'.replace('__id__', 0);
                    $('#loaitruongvb').load(url);
                }
                else {
                    CloseEditLoaivb();
                    SetThongbao("Lỗi, không xóa được");
                }
            },
        });
    })
</script>

