@model QLVB.DTO.Vanbanden.SearchVBViewModel
           

@(Html.Kendo().Window()
    .Name("SearchVBDenLQ")
    .Draggable()
    .AutoFocus(true)
    .Title("Tìm kiếm văn bản đến")
    .Resizable()
    .Width(670)
    .Height(500)
    .Visible(false)
    .Actions(actions => actions.Minimize().Maximize().Close())
    .Content(
    @<text>
        <div id="detail-SearchVBDenLQ">
            <div class="box">
                <header>
                    <nav style="padding: 3px;">
                        <button id="SubmitSearchVBDenLQbtn" type="button" class="btn btn-sm btn-primary btn-flat " data-original-title="" title=""><i class="glyphicon glyphicon-search"></i>&nbsp;Tìm kiếm</button>
                        <button id="BackSearchVBDenLQbtn" type="button" class="btn btn-sm btn-primary btn-flat " data-original-title="" title=""><i class="glyphicon glyphicon-arrow-left"></i>&nbsp;Quay lại</button>
                        <button id="RefreshSearchVBDenLQbtn" type="button" class="btn btn-sm btn-primary btn-flat " data-original-title="" title=""><i class="glyphicon glyphicon-refresh"></i>&nbsp;Refresh</button>

                    </nav>
                </header>
            </div>
            <form class="form-horizontal" id="formSearchVBDenLQ">
                @Html.Hidden("isSearch", true)
                @Html.Hidden("idhoso", (int)ViewBag.idhoso)
                <table class="table table-condensed table-bordered responsive-table">
                    <tbody>
                        <tr>
                            <td class="table-label table-col-4">@Html.Label("Số đến", new { @class = "font-label" })</td>
                            <td>@Html.TextBoxFor(m => m.intsodenbd, null, new { @class = "form-control form-control-window2 ", placeholder = "" })</td>
                            <td class="table-col-4" style="text-align:center;">@Html.Label("==>", new { @class = "font-label" })</td>
                            <td>@Html.TextBoxFor(m => m.intsodenkt, null, new { @class = "form-control form-control-window2 ", placeholder = "" })</td>
                        </tr>
                        <tr>
                            <td class="table-label table-col-4">@Html.Label("Ngày đến", new { @class = "font-label" })</td>
                            <td>
                                @(Html.Kendo().DatePicker()
                                    .Name("strngaydenbd")
                                        //.Value("10/10/2014")
                                    .HtmlAttributes(new { style = "width:100%;" })
                                    .Format("dd/MM/yyyy")
                                )
                            </td>
                            <td class="table-col-4" style="text-align:center;">@Html.Label("==>", new { @class = "font-label" })</td>
                            <td>
                                @(Html.Kendo().DatePicker()
                                    .Name("strngaydenkt")
                                    .HtmlAttributes(new { style = "width:100%;" })
                                    .Format("dd/MM/yyyy")
                                )
                            </td>
                        </tr>
                        <tr>
                            <td class="table-label table-col-4">@Html.Label("Ngày ký", new { @class = "font-label" })</td>
                            <td>
                                @(Html.Kendo().DatePicker()
                                    .Name("strngaykybd")
                                    .HtmlAttributes(new { style = "width:100%;" })
                                    .Format("dd/MM/yyyy")
                                )
                            </td>
                            <td class="table-col-4" style="text-align:center;">@Html.Label("==>", new { @class = "font-label" })</td>
                            <td>
                                @(Html.Kendo().DatePicker()
                                    .Name("strngaykykt")
                                    .HtmlAttributes(new { style = "width:100%;" })
                                    .Format("dd/MM/yyyy")
                                )
                            </td>
                        </tr>
                        <tr>
                            <td class="table-label table-col-4">@Html.Label("Số, ký hiệu", new { @class = "font-label" })</td>
                            <td>@Html.TextBox("strsokyhieu", null, new { @class = "form-control form-control-window2 ", placeholder = "Số, ký hiệu" })</td>
                            <td class="table-col-4" style="text-align:center;">@Html.Label("Người ký", new { @class = "font-label" })</td>
                            <td> @Html.TextBox("strnguoiky", null, new { @class = "form-control form-control-window2 ", placeholder = "Người ký" })</td>
                        </tr>
                        <tr>
                            <td class="table-label table-col-4">@Html.Label("Sổ văn bản", new { @class = "font-label" })</td>
                            <td>
                                @(Html.Kendo().DropDownList()
                                    .Name("idsovb")
                                    .BindTo(Model.Sovanban)
                                    .DataTextField("strten")
                                    .DataValueField("intid")
                                    .HtmlAttributes(new { @style = "width:100%;" })
                                    .OptionLabel(" ")
                                )
                            </td>
                            <td class="table-col-4" style="text-align:center;">@Html.Label("Loại văn bản", new { @class = "font-label" })</td>
                            <td>
                                @(Html.Kendo().DropDownList()
                                    .Name("idloaivb")
                                    .BindTo(Model.Loaivanban)
                                    .DataTextField("strtenvanban")
                                    .DataValueField("intid")
                                    .HtmlAttributes(new { @style = "width:100%;" })
                                    .OptionLabel(" ")
                                )
                            </td>
                        </tr>
                        <tr>
                            <td class="table-label table-col-4">@Html.Label("Cơ quan gửi", new { @class = "font-label" })</td>
                            <td colspan="3">@Html.TextBox("strnoigui", null, new { @class = "form-control form-control-window ", placeholder = "Cơ quan phát hành" })</td>

                        </tr>
                        <tr>
                            <td class="table-label table-col-4">@Html.Label("Cấp cơ quan", new { @class = "font-label" })</td>
                            <td colspan="3">
                                @(Html.Kendo().DropDownList()
                                    .Name("idkhoiph")
                                    .BindTo(Model.Khoiphathanh)
                                    .DataTextField("strtenkhoi")
                                    .DataValueField("intid")
                                    .HtmlAttributes(new { @style = "width:100%;" })
                                    .OptionLabel(" ")
                                )
                            </td>
                        </tr>
                        <tr>
                            <td class="table-label table-col-4">@Html.Label("Trích yếu", new { @class = "font-label" })</td>
                            <td colspan="3">@Html.TextBox("strtrichyeu", null, new { @class = "form-control form-control-window ", placeholder = "Trích yếu văn bản" })</td>
                        </tr>
                        <tr>
                            <td class="table-label table-col-4">@Html.Label("Xử lý chính", new { @class = "font-label" })</td>
                            <td colspan="3">
                                @(Html.Kendo().AutoComplete()
                                .Name("strnguoixuly")
                                .Filter(FilterType.Contains)
                                .Placeholder("Người xử lý chính")
                                .BindTo(Model.Nguoixuly.Select(u => u.strhoten))
                                .HtmlAttributes(new { @class = "form-control", style = "width:100%;" })
                                .HighlightFirst(true)
                                .IgnoreCase(true)
                                )
                            </td>
                        </tr>

                    </tbody>
                </table>
            </form>
        </div>
    </text>
	)
)

<script type="text/javascript">

	function CloseSearchVBDenLQ() {
		var window = $("#SearchVBDenLQ").data("kendoWindow");
		window.close();
	}
	function OpenSearchVBDenLQ() {
		var window = $("#SearchVBDenLQ").data("kendoWindow");
		window.center();
		window.open();
		setTimeout(function () { $('#intsodenbd').focus(); }, 1000);
	}
	$('#BackSearchVBDenLQbtn').click(function () {
		CloseSearchVBDenLQ();
	})

	$('#formSearchVBDenLQ').on("keypress", function (e) {
		if (e.keyCode == 13) {
			//alert("Enter pressed");
			SubmitSearchVBDenLQ();
			return false; // prevent the button click from happening
		}
	});
	$('#SubmitSearchVBDenLQbtn').click(function () {
		SubmitSearchVBDenLQ();
	})
	function SubmitSearchVBDenLQ() {
		var collection = $('#formSearchVBDenLQ').serialize();
		var url = '@Url.Action("ListVBDenLienquan", "Vanbanden")';
		url = url + "?" + collection;		
	    $().redirect(url);		
		CloseSearchVBDenLQ();		
	}
	$('#RefreshSearchVBDenLQbtn').click(function () {
		ResetFormVBDenLQ();
	})
	function ResetFormVBDenLQ() {
		$("input").val('');
		$("#isSearch").val('True');		
	}
</script>
