@model QLVB.DTO.Hoso.EditHosoQuytrinhXulyViewModel

<div class="box">
    <form class="form-horizontal" id="formEditXuly">
        <span id="ketquaSaveXuly" class="validation-summary-valid"></span>
        <header>
            <nav style="padding: 3px;">
                <button id="SaveXulybtn" type="button" class="btn btn-sm btn-primary btn-flat " data-original-title="" title=""><i class="glyphicon glyphicon-floppy-saved"></i>&nbsp;Ghi nhận</button>
                <button id="BackXulybtn" type="button" class="btn btn-sm btn-primary btn-flat " data-original-title="" title=""><i class="glyphicon glyphicon-arrow-left"></i>&nbsp;Quay lại</button>
            </nav>
        </header>
        @Html.HiddenFor(m => m.idhoso)
        @Html.HiddenFor(m => m.strtenquytrinh)
        @Html.HiddenFor(m => m.intidNode)
        @Html.HiddenFor(m => m.strNodeId)
        @Html.HiddenFor(m=>m.strTenNode)
        <div class="form-group form-group-window">
            @Html.LabelFor(m => m.intDonvi, new { @class = "control-label col-sm-4" })
            <div class="col-sm-6">
                @(Html.Kendo().DropDownList()
                    .Name("intDonvi")
                    .HtmlAttributes(new { style = "width:100%;" })
                    .OptionLabel("Đơn vị thực hiện...")
                    .DataTextField("strtendonvi")
                    .DataValueField("intid")
                    .BindTo(Model.listDonvi)
                )
            </div>
        </div>
        <div class="form-group form-group-window">
            @Html.LabelFor(m => m.intCanbo, new { @class = "control-label col-sm-4" })
            <div class="col-sm-6">
                <script>
                    function filterDonvi() {
                        return {
                            iddonvi: $("#intDonvi").val()
                        };
                    }
                </script>

                @(Html.Kendo().DropDownList()
                    .Name("intCanbo")
                    .HtmlAttributes(new { style = "width:100%;" })
                    .OptionLabel("Cán bộ thực hiện...")
                    .DataTextField("strhoten")
                    .DataValueField("intid")
                    .DataSource(source =>
                    {
                        source.Read(read =>
                        {
                            read.Action("GetCanbothuchien", "Quytrinh")
                                .Data("filterDonvi");
                        })
                         .ServerFiltering(true);
                    })
                    .Enable(false)
                    .AutoBind(false)
                    .CascadeFrom("intDonvi")
                )

            </div>
        </div>
        <div class="form-group form-group-window">
            @Html.LabelFor(m => m.LoaiVaitro, new { @class = "control-label col-sm-4" })
            <div class="col-sm-6">
                @Html.EnumDropDownListFor(m => m.LoaiVaitro, new { @class = "form-control form-control-window" })
            </div>
        </div>       
    </form>

</div>
<script type="text/javascript">

    $("#SaveXulybtn").click(function () {
        var validatable = $("#formEditXuly").kendoValidator().data("kendoValidator");
        if (validatable.validate()) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("_SaveHosoQuytrinhXuly", "Hoso")',
                dataType: "json",
                data: $('#formEditXuly').serialize(),
                success: function (data) {
                    if (data == 1) {
                        ShowResult("ketquaSaveXuly", "Cập nhật thành công");                        
                        ReloadThongtinxuly();
                        CloseChangeQuytrinh();
                        CloseThongtinXuly();
                    }
                    else {
                        ShowResult("ketquaSaveXuly", data);
                    }
                },
            });
        }
    });
    $('#BackXulybtn').click(function () {
        CloseThongtinXuly()
    })
</script>
