@(Html.Kendo().Window()
	.Name("FormLoaiVBLQ")
	.Draggable()
	.AutoFocus(true)
	.Modal(true)
	.Title("Loại văn bản liên quan")
	.Resizable()
	.Width(350)
	.Height(200)
	.Visible(false)
	.Actions(actions => actions.Close())
	.Content(
	@<text>
		<div class="box">
			<header>
				<nav style="padding: 3px;">
					<button id="ChonVBLQbtn" type="button" class="btn btn-sm btn-primary btn-flat " data-original-title="" title=""><i class="glyphicon glyphicon-floppy-saved"></i>&nbsp;Ghi nhận</button>
				</nav>
			</header>
			<table class="table table-condensed responsive-table" style="width: 100%">
				<tr>
					<td style="width:10%; text-align:center">
						@Html.CheckBox("VBLQDen", new { @class = "primary" })
					</td>
					<td style="width:90%; text-align:left">
						@Html.Label("Văn bản đến", new { @class = "font-label" })
					</td>
				</tr>
				<tr>
					<td style="width:10%; text-align:center">
						@Html.CheckBox("VBLQDi", new { @class = "primary" })
					</td>
					<td style="width:90%; text-align:left">
						@Html.Label("Văn bản đi", new { @class = "font-label" })
					</td>
				</tr>
			</table>
			<script type="text/javascript">
				$('#ChonVBLQbtn').click(function () {
					var idhoso = GetIdHoso();
					var isVBDen = $('#VBLQDen').prop('checked');
					var isVBDi = $('#VBLQDi').prop('checked');
					if (isVBDen) {
					    var url = '@Url.Action("ListVBDenLienquan", "Vanbanden")';
					    url = url + "?idhoso=" + idhoso;
					}
				    if (isVBDi) {
				        var url = '@Url.Action("ListVBDiLienquan", "Vanbandi")';
				        url = url + "?idhoso=" + idhoso;
				    }					
					window.location = url;
				});
			</script>
		</div>
	</text>
	)
)
