
@{
	ViewBag.Title = "XulyHoso";
	int idhosocongviec = ViewBag.idhosocongviec;
    string strBack = ViewBag.strBack;
}
@Html.Action("_ToolbarXuly", "Hoso", new { id = idhosocongviec , strBack = strBack })
@Html.Hidden("idhoso", @idhosocongviec)
<div class="row">
	<div class="col-sm-4" id="listdanhsachcanboxuly">
		@Html.Action("_DanhsachNguoixuly", "Hoso", new { idhoso = idhosocongviec })
	</div>
	<div class="col-sm-8">
		@Html.Action("_ThongtinHoso", "Hoso", new { idhoso = idhosocongviec })
	</div>
</div>
<div class="row">
	<div class="col-sm-12" id="chitietthongtinxuly">
		@Html.Action("_ThongtinXuly", "Hoso", new { idhoso = idhosocongviec })
	</div>
</div>

@Html.Action("_ViewPhoihopxuly", "Hoso")
@Html.Action("_ViewDetailVBDen", "Vanbanden")
@Html.Action("_ViewDetailVBDi", "Vanbandi")
@Html.Action("_ViewDetailHoso", "Hoso")
@Html.Partial("_FormLoaiVBLQ")
@Html.Partial("_TamngungQuytrinh",idhosocongviec)

<script type="text/javascript">
    function ReloadCanboxuly() {
        var idhoso = '@idhosocongviec';
        var url = '@Url.Action("_DanhsachNguoixuly", "Hoso")';
        url = url + "?idhoso=" + idhoso;
        $('#listdanhsachcanboxuly').load(url);
    };
    function ReloadThongtinxuly() {
        var idhoso = '@idhosocongviec';
        var url = '@Url.Action("_ThongtinXuly", "Hoso")';
        url = url + "?idhoso=" + idhoso;
        $('#chitietthongtinxuly').load(url);
    };
    function CloseYkienxuly() {
        var window = $("#FormYkienxuly").data("kendoWindow");
        window.close();
    }
    function OpenYkienxuly() {
        var window = $("#FormYkienxuly").data("kendoWindow");
        window.center();
        window.open();
        var idhoso = '@idhosocongviec';
        var url = '@Url.Action("_AddYkien", "Hoso")';
        $('#AddNewYkien').load(url);
    }
    function ClosePhieutrinh() {
        var window = $("#FormPhieutrinh").data("kendoWindow");
        window.close();
    }
    function OpenPhieutrinh(idphieutrinh) {
        var window = $("#FormPhieutrinh").data("kendoWindow");
        window.center();
        window.open();
        var idhoso = '@idhosocongviec';
        var url = '@Url.Action("_Phieutrinh", "Hoso")';
        url = url + "?idphieutrinh=" + idphieutrinh + "&idhoso=" + idhoso;
        $('#detail-Phieutrinh').load(url);
    }
    function CloseVBLQ() {
        var window = $("#FormLoaiVBLQ").data("kendoWindow");
        window.close();
    }
    function OpenVBLQ() {
        var window = $("#FormLoaiVBLQ").data("kendoWindow");
        window.center();
        window.open();
    }
    function CloseHosoVBLQ() {
        var window = $("#HosoVBLQ").data("kendoWindow");
        window.close();
    }
    function OpenHosoVBLQ(idhoso, idloai) {
        var window = $("#HosoVBLQ").data("kendoWindow");
        window.center();
        window.open();
        var url = "";
        switch (idloai) {
            case 1:
                url = '@Url.Action("_HosoVBDenLQ", "Hoso")';
                break;
            case 2:
                url = '@Url.Action("_HosoVBDiLQ", "Hoso")';
                break;
            case 3:
                //url = '@Url.Action("_HosoVBAttachLQ", "Hoso")';
                break;
        }
        url = url + "?idhoso=" + idhoso;
        $('#detail-HosoVBLQ').load(url);
    }
    function CloseViewQuytrinh() {
        var window = $("#ViewQuytrinh").data("kendoWindow");
        window.close();
    }
    function OpenViewQuytrinh(idhoso, update) {
        var window = $("#ViewQuytrinh").data("kendoWindow");
        window.center();
        window.open();
        var url = '@Url.Action("_DisplayQuytrinh", "Hoso")';
        url = url + "?idhoso=" + idhoso;
        url = url + "&update=" + update;
        //$('#detail-Quytrinh').load(url);
    }
    function CloseXulyQuytrinh() {
        var window = $("#XulyQuytrinh").data("kendoWindow");
        window.close();
    }
    function OpenXulyQuytrinh(idhoso) {
        var window = $("#XulyQuytrinh").data("kendoWindow");
        window.center();
        window.open();
        var url = '@Url.Action("_XulyQuytrinh", "Hoso")';
        url = url + "?idhoso=" + idhoso;
        $('#detail-XulyQuytrinh').load(url);
    }
    function CloseChangeQuytrinh() {
        var window = $("#ChangeQuytrinh").data("kendoWindow");
        window.close();
    }
    function OpenChangeQuytrinh(idhoso, update) {
        var window = $("#ChangeQuytrinh").data("kendoWindow");
        window.center();
        window.open();
        var url = '@Url.Action("_ChangeQuytrinh", "Hoso")';
		url = url + "?idhoso=" + idhoso;
		url = url + "&update=" + update;
		$('#detail-ChangeQuytrinh').load(url);
	}
    function CloseDuthaoVB() {
        var window = $("#PhathanhVanban").data("kendoWindow");
        window.close();
    }
    function OpenDuthaoVB(listfile) {
        var window = $("#PhathanhVanban").data("kendoWindow");
        window.center();
        window.open();
        var idhoso = '@idhosocongviec';
        var url = '@Url.Action("_DuthaoVB", "Hoso")';
        url = url + "?idhoso=" + idhoso;
        url = url + "&listfile=" + listfile;
        $('#detail-PhathanhVanban').load(url);
    }
</script>

@(Html.Kendo().Window()
	.Name("FormYkienxuly")
	.Draggable()
	.AutoFocus(true)
	.Modal(true)
	.Title("Ý kiến xử lý")
	.Resizable()
	.Width(600)
	.Height(400)
	.Visible(false)
	.Actions(actions => actions.Minimize().Maximize().Close())
	.Content(
	@<text>
		<div id="AddNewYkien"></div>
	</text>
	)
)

@(Html.Kendo().Window()
	.Name("FormPhieutrinh")
	.Draggable()
	.AutoFocus(true)
	.Modal(true)
	.Title("Phiếu trình")
	.Resizable()
	.Width(600)
	.Height(470)
	.Visible(false)
	.Actions(actions => actions.Minimize().Maximize().Close())
	.Content(
	@<text>
		<div id="detail-Phieutrinh"></div>
	</text>
	)
)

@(Html.Kendo().Window()
	.Name("HosoVBLQ")
	.Draggable()
	.AutoFocus(true)
	.Modal(false)
	.Title("Hồ sơ các văn bản liên quan")
	.Resizable()
	.Width(700)
	.Height(500)
	.Visible(false)
	.Actions(actions => actions.Minimize().Maximize().Close())
	.Content(
	@<text>
		<div id="detail-HosoVBLQ"></div>
	</text>
	)
)

@(Html.Kendo().Window()
	.Name("ViewQuytrinh")
	.Draggable()
	.AutoFocus(true)
	.Modal(false)
	.Title("Quy trình xử lý")
	.Resizable()
	.Width(900)
	.Height(500)
	.Visible(false)
	.Actions(actions => actions.Close())
	.Content(
	@<text>
		<div id="detail-Quytrinh"></div>
	</text>
	)
)
@(Html.Kendo().Window()
	.Name("XulyQuytrinh")
	.Draggable()
	.AutoFocus(true)
	.Modal(false)
	.Title("Quy trình xử lý")
	.Resizable()
	.Width(600)
	.Height(500)
	.Visible(false)
	.Actions(actions => actions.Close())
	.Content(
	@<text>
		<div id="detail-XulyQuytrinh"></div>
	</text>
	)
)
@(Html.Kendo().Window()
	.Name("ChangeQuytrinh")
	.Draggable()
	.AutoFocus(true)
	.Modal(false)
	.Title("Quy trình xử lý")
	.Resizable()
	.Width(900)
	.Height(500)
	.Visible(false)
	.Actions(actions => actions.Maximize().Close())
	.Content(
	@<text>
		<div id="detail-ChangeQuytrinh"></div>
	</text>
	)
)

@(Html.Kendo().Window()
    .Name("PhathanhVanban")
    .Draggable()
    .AutoFocus(true)
    .Modal(false)
    .Title("Dự thảo Văn bản")
    .Resizable()
    .Width(700)
    .Height(300)
    .Visible(false)
    .Actions(actions => actions.Maximize().Close())
    .Content(
    @<text>
        <div id="detail-PhathanhVanban"></div>
    </text>
	)
)
