@model QLVB.DTO.Hoso.PhanQuytrinhViewModel

@{
	ViewBag.Title = "PhanQuytrinh";
}

@section header{
	<i class="glyphicon glyphicon-file">&nbsp;</i>Phân xử lý văn bản
}

<div class="box " id="tbar">
	<header>
		<nav style="padding: 3px;">
			<button id="Savebtn" type="button" class="btn btn-sm btn-primary btn-flat " data-original-title="" title=""><i class="glyphicon glyphicon-floppy-saved"></i>&nbsp;Ghi nhận</button>			
			<button id="Backbtn" type="button" class="btn btn-sm btn-primary btn-flat " data-original-title="" title=""><i class="glyphicon glyphicon-arrow-left"></i>&nbsp;Quay lại</button>
		</nav>
	</header>
</div>

<div class="row">
	<div class="col-sm-10">
		<span id="ketqua" class="validation-summary-valid"></span>
		<form class="form-horizontal" id="formPhanQuytrinh" method="post" action="@Url.Action("PhanQuytrinh","Hoso")">
			@Html.Hidden("idhosocongviec", Model.HosocongviecModel.intid)
			@Html.Hidden("idvanban", Model.intidvanban)

			<div class="form-group form-group-window">
				<label class="col-sm-4 control-label"><span style="color:red">*&nbsp;</span>Loại quy trình</label>
				<div class="col-sm-5">
					@(Html.Kendo().DropDownList()
					.Name("intidloaiquytrinh")
					.HtmlAttributes(new { style = "width:100%;" })
					.OptionLabel("Chọn loại quy trình...")
					.DataTextField("strtenloaiquytrinh")
					.DataValueField("intid")
					.BindTo(Model.Loaiquytrinh)
					)
				</div>
			</div>
			<div class="form-group form-group-window">
				<label class="col-sm-4 control-label"><span style="color:red">*&nbsp;</span>Tên quy trình</label>
				<div class="col-sm-5">
					<script>
					function filterLoaiQuytrinh() {
						return {
							idloai: $("#intidloaiquytrinh").val()
						};
					}
					</script>

					@(Html.Kendo().DropDownList()
					.Name("intidquytrinh")
					.HtmlAttributes(new { style = "width:100%;" })
					.OptionLabel("Quy trình xử lý...")
					.DataTextField("strtenquytrinh")
					.DataValueField("intid")
					.DataSource(source =>
					{
						source.Read(read =>
						{
							read.Action("GetQuytrinh", "Hoso")
								.Data("filterLoaiQuytrinh");
						})
						 .ServerFiltering(true);
					})
					.Enable(false)
					.AutoBind(false)
					.CascadeFrom("intidloaiquytrinh")
					)
					
				</div>
			</div>
			<div class="form-group form-group-window">
				<label class="col-sm-4 control-label"><span style="color:red">*&nbsp;</span>Tiêu đề</label>
				<div class="col-sm-8">
					@Html.TextArea("strtieude", Model.HosocongviecModel.strtieude, new
						{
							@class = "form-control",
							@Value = Model.HosocongviecModel.strtieude
						})
				</div>
			</div>
			<div class="form-group form-group-window">
				@Html.Label("Lĩnh vực", new { @class = "control-label col-sm-4" })
				<div class="col-sm-5">
					@(Html.Kendo().DropDownList()
						.Name("idlinhvuc")
						.BindTo(Model.LinhvucModel)
						.DataTextField("strtenlinhvuc")
						.DataValueField("intid")
						.Value(Model.HosocongviecModel.intlinhvuc.ToString())
						.HtmlAttributes(new { @style = "width:100%;" })
						.OptionLabel("    ")
					)
					@*@Html.DropDownList("idlinhvuc",
						new SelectList(Model.LinhvucModel, "intid", "strtenlinhvuc", Model.HosocongviecModel.intlinhvuc),
						"", new { @class = "form-control" })*@
				</div>
			</div>
			<div class="form-group form-group-window">
				<label class="col-sm-4 control-label"><span style="color:red">*&nbsp;</span>Ngày mở hồ sơ</label>
				<div class="col-sm-5">
					@(Html.Kendo().DatePicker()
						.Name("strngaymohoso")
						.Value(Model.HosocongviecModel.strngaymohoso)
						.HtmlAttributes(new { style = "width:100%;" })
						.Format("dd/MM/yyyy")
					)
				</div>
			</div>
			<div class="form-group form-group-window">
				@Html.Label("Nội dung công việc", new { @class = "control-label col-sm-4" })
				<div class="col-sm-8">
					@Html.TextArea("strnoidung", Model.HosocongviecModel.strnoidung, new
						{
							@class = "form-control",
							@Value = Model.HosocongviecModel.strnoidung
						})
				</div>
			</div>
			
		</form>
		<br />
	</div>
</div>
@Html.Action("_ViewPhoihopxuly", "Hoso")

<script type="text/javascript">
	$(document).ready(function () {
		@if (Model.IsSave == true)
		{
			<text>
			ShowResult("ketqua", "Cập nhật thành công");
			setTimeout(function () { $('#ketqua').hide(); }, 3000);
			</text>
		}
		var idhoso = '@Model.HosocongviecModel.intid';
		if (idhoso != 0) {
			ButtonEnable("Phoihopxulybtn", true);
		}
	});
	$('#Backbtn').click(function () {
		var url = '@Url.Action("Index", "Vanbanden", new { isBack = true })';
		$().redirect(url);
	});
	$('#Savebtn').click(function () {
		var validatable = $("#formPhanQuytrinh").kendoValidator({
			rules: {
				ngaymohoso: function (input) {
					if (input.is("[name=strngaymohoso]")) {
						var ngay = $('#strngaymohoso').val();
						if (ngay == "") {
							return false;
						} else {
							var date = kendo.parseDate(ngay);
							if (!date) {
								return false;
							}
							return true;
						}
					}
					return true;
				},
				tieude: function (input) {
					if (input.is("[name=strtieude]")) {
						return $('#strtieude').val() != "";
					}
					return true;
				},
				hanxuly: function (input) {
					if (input.is("[name=strthoihanxuly]")) {
						var ngay = $('#strthoihanxuly').val();
						if (ngay != "") {
							var date = kendo.parseDate(ngay);
							if (!date) {
								return false;
							}
							return true;
						}
					}
					return true;
				}
			},
			messages: {
				ngaymohoso: "Ngày không hợp lệ",
				strtieude: "*",
				hanxuly: "Ngày không hợp lệ"
			}
			//errorTemplate: "<span>#=message#</span>"
		}).data("kendoValidator");

		if (validatable.validate()) {
			SubmitFormPhanQuytrinh();
			ShowLoading();
		}
		//var multiselect = $("#idlanhdaophutrach").data("kendoMultiSelect");
		//// get data items for the selected options.
		//var dataItem = multiselect.dataItems();
		//var value = multiselect.value();
	});
	function SubmitFormPhanQuytrinh() {
		$('#formPhanQuytrinh').submit();
	};
	$('#Phoihopxulybtn').click(function () {
		var idhoso = '@Model.HosocongviecModel.intid';
		if (idhoso != 0) {
			OpenViewPhoihopxuly(idhoso);
		}
	});

</script>

