@model QLVB.DTO.Hoso.SearchCongviecViewModel

@{
	SelectList ListLinhvuc = new SelectList(Model.ListLinhvuc, "intid", "strtenlinhvuc");	
}

@(Html.Kendo().Window()
	.Name("SearchHSCV")
	.Draggable()
	.AutoFocus(true)
	.Title("Tìm kiếm Hồ sơ công việc")
	.Resizable()
	.Width(670)
	.Height(500)
	.Visible(false)
	.Actions(actions => actions.Minimize().Maximize().Close())
	.Content(
	@<text>
		<div id="detail-SearchHSCV">
			<div class="box">
				<header>
					<nav style="padding: 3px;">
						<button id="SubmitSearchHSCVbtn" type="button" class="btn btn-sm btn-primary btn-flat " data-original-title="" title=""><i class="glyphicon glyphicon-search"></i>&nbsp;Tìm kiếm</button>
						<button id="BackSearchHSCVbtn" type="button" class="btn btn-sm btn-primary btn-flat " data-original-title="" title=""><i class="glyphicon glyphicon-arrow-left"></i>&nbsp;Quay lại</button>
						<button id="RefreshSearchHSCVbtn" type="button" class="btn btn-sm btn-primary btn-flat " data-original-title="" title=""><i class="glyphicon glyphicon-refresh"></i>&nbsp;Refresh</button>

					</nav>
				</header>
			</div>
			<form class="form-horizontal" id="formSearchHSCV">
				@Html.Hidden("isSearch", true)
				<table class="table table-condensed table-bordered responsive-table">
					<tbody>						
						<tr>
							<td class="table-label table-col-4">@Html.Label("Ngày mở hồ sơ", new { @class = "font-label" })</td>
							<td>
								@(Html.Kendo().DatePicker()
									.Name("strngayhsbd")
									.HtmlAttributes(new { style = "width:100%;" })
									.Format("dd/MM/yyyy")
								)
							</td>
							<td class="table-col-4" style="text-align:center;">@Html.Label("==>", new { @class = "font-label" })</td>
							<td>
								@(Html.Kendo().DatePicker()
									.Name("strngayhskt")
									.HtmlAttributes(new { style = "width:100%;" })
									.Format("dd/MM/yyyy")
								)
							</td>
						</tr>						
						<tr>							
							<td class="table-label table-col-4">@Html.Label("Lĩnh vực", new { @class = "font-label" })</td>
							<td colspan="3">
								@(Html.Kendo().DropDownList()
									.Name("idlinhvuc")
									.BindTo(Model.ListLinhvuc)
									.DataTextField("strtenlinhvuc")
									.DataValueField("intid")
									.HtmlAttributes(new { @style = "width:100%;" })
									.OptionLabel(" ")
								)
							</td>
						</tr>						
						<tr>
							<td class="table-label table-col-4">@Html.Label("Tiêu đề", new { @class = "font-label" })</td>
							<td colspan="3">@Html.TextBox("strtieude", null, new { @class = "form-control form-control-window ", placeholder = "Tiêu đề hồ sơ" })</td>
						</tr>						
						<tr>
							<td class="table-label table-col-4">@Html.Label("Hạn trả lời", new { @class = "font-label" })</td>
							<td colspan="3">
								@(Html.Kendo().DatePicker()
									.Name("strhantraloi")
									.HtmlAttributes(new { style = "width:100%;" })
									.Format("dd/MM/yyyy")
								)
							</td>							
						</tr>

					</tbody>
				</table>
			</form>
		</div>
	</text>
	)
)

<script type="text/javascript">

	function CloseSearchHSCV() {
		var window = $("#SearchHSCV").data("kendoWindow");
		window.close();
	}
	function OpenSearchHSCV() {
		var window = $("#SearchHSCV").data("kendoWindow");
		window.center();
		window.open();
		setTimeout(function () { $('#strngayhsbd').focus(); }, 1000);
	}
	$('#BackSearchHSCVbtn').click(function () {
		CloseSearchHSCV();
	})
	$('#formSearchHSCV').on("keypress", function (e) {
		if (e.keyCode == 13) {
			//alert("Enter pressed");
			SubmitSearchHSCV();
			return false; // prevent the button click from happening
		}
	});
	$('#SubmitSearchHSCVbtn').click(function () {
		SubmitSearchHSCV();
	})
	function SubmitSearchHSCV() {
		var collection = $('#formSearchHSCV').serialize();
		var url = '@Url.Action("_ListCongviec", "Hoso")';
		url = url + "?" + collection;
		$('#listcongviec').load(url);
		CloseSearchHSCV();
	}
	$('#RefreshSearchHSCVbtn').click(function () {
		ResetFormHSCV();
	})
	function ResetFormHSCV() {
		$("input").val('');
		$("#isSearch").val('True');		
	}
</script>