
@model QLVB.DTO.Vanbandi.DetailVBDiViewModel


<table class="table-condensed table-bordered responsive-table">
    <tr>
        <td colspan="4" class="title-header">
            <i class="glyphicon glyphicon-arrow-right"></i>&nbsp;THÔNG TIN VĂN BẢN
        </td>
    </tr>
    <tr>
        <th class="table-col-4">Người soạn</th>
        <td class="table-col-4">@Model.strnguoisoan</td>
        <th class="table-col-4">Đơn vị soạn</th>
        <td class="table-col-4">@Model.strdonvisoan</td>
    </tr>
    <tr>
        <th class="table-col-4">Số, ký hiệu</th>
        <td class="table-col-4">
            @if (Model.intso > 0)
            {
                string strSo = Model.intso.ToString() + Model.strsophu + "/" + Model.strkyhieu;
                @strSo
            }
        </td>

        <th class="table-col-4">Ngày ký</th>
        <td class="table-col-4">@Model.strngayky</td>
    </tr>
    <tr>
        <th class="table-col-4">Sổ văn bản</th>
        <td class="table-col-4">@Model.strsovanban</td>
        <th class="table-col-4">Loại văn bản</th>
        <td class="table-col-4">@Model.strloaivanban</td>
    </tr>
    <tr>
        <th class="table-col-4">Trích yếu nội dung</th>
        <td class="table-col-4" colspan="3">@Model.strtrichyeu</td>
    </tr>
    <tr>
        <th class="table-col-4">Người duyệt</th>
        <td class="table-col-4">@Model.strnguoiduyet</td>
        <th class="table-col-4">Người ký</th>
        <td class="table-col-4">@Model.strnguoiky</td>
    </tr>
    <tr>
        <th class="table-col-4">Độ mật</th>
        <td class="table-col-4">@Model.strvbmat</td>
        <th class="table-col-4">Độ khẩn</th>
        <td class="table-col-4">@Model.strvbkhan</td>
    </tr>
    <tr>
        <th class="table-col-4">Số tờ</th>
        <td class="table-col-4">@Model.strsoto</td>
        <th class="table-col-4">Số bản</th>
        <td class="table-col-4">@Model.strsoto</td>
    </tr>
    <tr>
        <th class="table-col-4">Hạn trả lời</th>
        <td class="table-col-4">@Model.strhantraloi</td>
        <th class="table-col-4">Trả lời văn bản</th>
        <td class="table-col-4">
            @if (Model.idvanbanden != 0)
            {
                <a style='color:blue' href='javascript:OpenTraloiVBDen(@Model.idvanbanden)'><i>@Model.strtraloivanban</i></a>
            }
            else
            {
                @Model.strtraloivanban
            }
        </td>
    </tr>
    <tr>
        <th class="table-col-4">Nơi nhận</th>
        <td class="table-col-4" colspan="3">@Model.strnoinhan</td>
    </tr>
    @if (Model.Vanbanhoibaos.Count() > 0)
    {
        <tr>
            <td colspan="4" class="title-header">
                <i class="glyphicon glyphicon-arrow-right"></i>&nbsp;VĂN BẢN HỒI BÁO
            </td>
        </tr>
        <tr>
            <td class="table-col-4" colspan="4">
                <table class="table-condensed table-bordered responsive-table" style="width:100%;">
                    <tr>
                        <td style='width: 15%; text-align: center;'><i>Số VB</i></td>
                        <td style='width: 15%; text-align: center;'><i>Ngày ký</i></td>
                        <td style='width: 50%; text-align: center;'><i>Trích yếu</i></td>
                        <td style='width: 20%; text-align: center;'><i>Nơi gửi</i></td>

                    </tr>
                    @{
        int stt = 1;
        string strcolor = "#fff";
        foreach (var vb in Model.Vanbanhoibaos)
        {
            stt++;
            strcolor = stt % 2 == 1 ? "#f5f5f5" : "#fff";
            <tr style="background:@strcolor">
                <td style='width: 15%; text-align: center;'>
                    <a style='color:blue' href='javascript:OpenTraloiVBDen(@vb.idvanban)'><i>@vb.so_kyhieu</i></a>

                </td>
                <td style='width: 15%; text-align: center;'>@vb.strngayky</td>
                <td style='width: 50%; text-align: center;'>@vb.strichyeu</td>
                <td style='width: 20%; text-align: center;'>@vb.Donvigui</td>
            </tr>
        }
                    }

                </table>
            </td>
        </tr>


    }
    @*<tr>
            <th scope="row">Hồ sơ văn bản:</th>
            <td id="strhosovanban" colspan="3"></td>
        </tr>*@
    <tr>
        <td colspan="4" class="title-header">
            <i class="glyphicon glyphicon-arrow-right"></i>&nbsp;VĂN BẢN TOÀN VĂN
        </td>
    </tr>
    <tr>
        <td id="strfileattach" colspan="4" class="table-col-4" style="text-align:center;">
            @if (Model.isattach)
            {
                Html.RenderPartial("_ViewStoreFile", Model.DownloadFiles);
            }
            else
            {
                @Html.Raw("Không có file đính kèm")
            }
        </td>
    </tr>
</table>



