@model QLVB.DTO.Donvi.MoveUserViewModel
@{
    MultiSelectList listcanbosource = new MultiSelectList(Model.canbosource, "intid", "strhoten");
    MultiSelectList listcanbodest = new MultiSelectList(Model.canbodest, "intid", "strhoten");
}

<div class="box">
    <header>
        <nav style="padding: 3px;">
            <button id="SubmitMoveUserbtn" type="button" class="btn btn-sm btn-primary btn-flat " data-original-title="" title=""><i class="glyphicon glyphicon-floppy-saved"></i>&nbsp;Ghi nhận</button>
            <button id="BackMoveUserbtn" type="button" class="btn btn-sm btn-primary btn-flat " data-original-title="" title=""><i class="glyphicon glyphicon-arrow-left"></i>&nbsp;Bỏ qua</button>            
        </nav>
    </header>
</div>
<div class="row" style="margin-right:-8px; ">
    <div class="col-sm-4">        
        <div class="form-group">
            <select class="form-control form-control-window">
                <option>@Model.strtendonvi</option>
            </select>
        </div>
        <div class="form-group">            
            @Html.ListBoxFor(m => m.canbosource, listcanbosource, new { id = "box1View", @class = "form-control form-control-window", size = "12" })
        </div>
        
    </div><!--/.col-sm-4 -->
    <div class="col-sm-2">      
        <p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
        <div class="text-center">
            <div class="btn-group-vertical">
                <button id="to2" type="button" class="btn btn-primary">
                    <i class="glyphicon glyphicon-arrow-right"></i>
                </button>
                @*<button id="allTo2" type="button" class="btn btn-primary">
                    <i class="fa fa-forward"></i>
                </button>
                <button id="allTo1" type="button" class="btn btn-danger">
                    <i class="fa fa-backward"></i>
                </button>*@
                <button id="to1" type="button" class="btn btn-danger">
                    <i class=" glyphicon glyphicon-arrow-left"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="col-sm-4">       
        <div class="form-group">
            <select id="list2" class="form-control form-control-window">
                @for (int i = 0; i < Model.maxLevelDonvi; i++)
                {
                    foreach (var m in Model.cacdonvi)
                    {
                        string sSelect = "";
                        sSelect = m.Id == Model.iddest ? "selected" : "";                        
                        string strIndent = "";
                        if (m.intlevel == i)
                        {
                            for (var j = 0; j < i; j++) { strIndent += "&nbsp;&nbsp;&nbsp;"; }
                            <option value="@m.Id" @sSelect >@Html.Raw(strIndent) @m.strtendonvi</option>

                            foreach (var m2 in Model.cacdonvi)
                            {
                                sSelect = m2.Id == Model.iddest ? "selected" : "";     
                                if ((m2.intlevel == Model.maxLevelDonvi) && (m2.ParentId == m.Id))
                                {
                                    string strLastNode = "";
                                    for (var j = 0; j < Model.maxLevelDonvi; j++) { strLastNode += "&nbsp;&nbsp;&nbsp;"; }
                                    <option value="@m2.Id" @sSelect >@Html.Raw(strLastNode) @m2.strtendonvi</option>
                                }
                            }
                        }
                    }
                }

            </select>

        </div><!--/ end form-group select donvi-->
        <div class="form-group">
            @Html.ListBoxFor(m => m.canbosource, listcanbodest, new { id = "box2View", @class = "form-control form-control-window", size = "12" })            
        </div><!-- /.form-group -->       
    </div>
</div>
<script type="text/javascript">
    $('#BackMoveUserbtn').click(function () {
        CloseMoveUser();
    })    
    $('#to2').click(function () {
        listbox_moveacrossLeftToRight('box1View', 'box2View');
    })
    $('#to1').click(function () {
        listbox_moveaRightToLeft('box2View', 'box1View');
    })

    var listiduser = '';
    function listbox_moveacrossLeftToRight(sourceID, destID) {
        var src = document.getElementById(sourceID);
        var dest = document.getElementById(destID);

        for (var count = 0; count < src.options.length; count++) {

            if (src.options[count].selected == true) {
                listiduser = listiduser + $(src).val() + ';';
                //console.log(listiduser);

                var option = src.options[count];

                var newOption = document.createElement("option");
                newOption.value = option.value;
                newOption.text = option.text;
                //newOption.selected = true;
                try {
                    dest.add(newOption, null); //Standard
                    src.remove(count, null);
                } catch (error) {
                    dest.add(newOption); // IE only
                    src.remove(count);
                }
                count--;
            }

        }
        if (src.options.length > 0) {
            //src.options[0].selected = true;
        }

    }
    function listbox_moveaRightToLeft(sourceID, destID) {
        var src = document.getElementById(sourceID);
        var dest = document.getElementById(destID);

        for (var count = 0; count < src.options.length; count++) {

            if (src.options[count].selected == true) {
                var option = src.options[count];

                var newOption = document.createElement("option");
                newOption.value = option.value;
                newOption.text = option.text;
                //newOption.selected = true;
                try {
                    dest.add(newOption, null); //Standard
                    src.remove(count, null);
                } catch (error) {
                    dest.add(newOption); // IE only
                    src.remove(count);
                }
                count--;
            }

        }
        if (src.options.length > 0) {
            //src.options[0].selected = true;
        }

    }

    $('#list2').change(function () {
        changeDonvi();
    })
    function changeDonvi() {
        var idsource = GetIdDonvi();
        var iddest = $('#list2').val();
        var url = '@Url.Action("_formMoveUser", "Donvi")';
        url = url + '?idsource=' + idsource;
        url = url + '&iddest=' + iddest;
        $('#detail-MoveUser').load(url);        
    }
    $('#SubmitMoveUserbtn').click(function () {       
        $.ajax(
            {
                type: "POST",
                url: '@Url.Action("SaveMoveUser", "Donvi")',
                dataType: "json",
                data: { strlistiduser: listiduser, iddonvi: $('#list2').val() },
                success: function (data) {
                    if (data == 1) {                        
                        RefreshGrid();
                        CloseMoveUser();
                    }
                    else {                        
                        RefreshGrid();
                        CloseMoveUser();
                    }
                }
            });

    })    
</script>