@model IEnumerable<QLVB.DTO.Truclienthongtinh.OrganizationVM>
@{ 
    int count = 0;
    int idvanban = ViewBag.idvanban;
}

@if (Model != null)
{
    <form class="form-horizontal" id="formSendTrucTinh">
        @Html.Hidden("idvanbanTrucTinh", idvanban)
        <table class="table responsive-table">
            <thead>
                <tr>
                    <td style="width:5%; text-align:center">STT</td>
                    <td style="width:5%; text-align:center"><b>@Html.CheckBox("parentcheckboxTrucTinh")</b></td>
                    <td style="width:40%;">
                        <b>Tên đơn vị</b>
                    </td>
                    <td style="width:20%; text-align:center">Mã định danh Trục của tỉnh</td>
                    <td style="width:20%; text-align:center">Mã định danh Chính phủ</td>
                    
                </tr>
            </thead>
            <tbody id="listdonviTrucTinh">
                @foreach (var p in Model)
                {
                    count++;
                    <tr>
                        <td style="width:5%; text-align:center;">@count</td>
                        <td style="width:5%; text-align:center">
                            <b>@Html.CheckBox(p.code)</b>
                            @Html.Hidden(p.code, p.name)
                        </td>
                        <td style="width:40%;">@p.name</td>
                        <td style="width:20%; text-align:center;">@p.code</td>
                        <td style="width:20%; text-align:center;">@p.edxmlCode</td>
                        
                    </tr>
                }

            </tbody>
        </table>
    </form>
<script type="text/javascript">
    ButtonEnable("SendDonviTinhbtn", true);
    ButtonEnable("SendDonviAgainTinhbtn", true);

    $('#parentcheckboxTrucTinh').click(function () {
        var ischeck = $(this).prop('checked');
        $("#listdonviTrucTinh").find(':checkbox').each(function () {
            var disable = $(this).prop('disabled');
            if (disable == false) {
                $(this).prop('checked', ischeck);
            }
        })        
    });

</script>
}
else
{
@Html.Raw("Kết nối không thành công")
}
