@model QLVB.DTO.Vanbandi.ToolbarViewModel
<div class="box ">
	<header>
		<nav class="box-toolbar">
			<button id="Addbtn" style="display:@Model.Capnhatvb;" type="button" class="btn btn-sm btn-primary btn-flat button-box" title="Thêm mới văn bản">
				<i class="glyphicon glyphicon-plus"></i>&nbsp;Thêm mới
			</button>
			<button id="Editbtn" disabled style="display:@Model.Capnhatvb;" type="button" class="btn btn-sm btn-primary btn-flat button-box" title="Cập nhật văn bản">
				<i class="glyphicon glyphicon-pencil"></i>&nbsp;Sửa
			</button>
			<button id="Deletebtn" disabled style="display:@Model.Xoavb;" type="button" class="btn btn-danger btn-sm btn-primary btn-flat button-box" title="Xóa văn bản">
				<i class="glyphicon glyphicon-trash"></i>&nbsp;Xóa
			</button>
			<button id="Searchbtn" class="btn btn-success btn-sm btn-primary btn-flat button-box">
				<i class="glyphicon glyphicon-search"></i>&nbsp;Tìm kiếm
			</button>
			<button id="Duyetbtn" style="display:@Model.Duyetvb;" type="button" class="btn btn-warning btn-sm btn-primary btn-flat button-box">
				<i class="glyphicon glyphicon-ok"></i>&nbsp;Duyệt
			</button>
			<button id="Huyduyetbtn" style="display:none" type="button" class="btn btn-warning btn-sm btn-primary btn-flat button-box">
				<i class="glyphicon glyphicon-remove"></i>&nbsp;Hủy duyệt
			</button>

			<button id="Capquyenxembtn" disabled style="display:@Model.Capquyenxem" type="button" class="btn btn-sm btn-primary btn-flat button-box">
				<i class="glyphicon glyphicon-share-alt"></i>&nbsp;Cấp quyền xem
			</button>
			<button id="Emailbtn" disabled style="display:@Model.Email" type="button" class="btn btn-sm btn-primary btn-flat button-box">
				<i class="glyphicon glyphicon-envelope"></i>&nbsp;Email
			</button>
			<button id="PrintListVBbtn" type="button" class="btn btn-sm btn-primary btn-flat button-box">
				<i class="glyphicon glyphicon-print"></i>&nbsp;In&nbsp;
			</button>
			<button id="Luutrubtn" style="display:@Model.Luutru;" type="button" class="btn btn-sm btn-primary btn-flat button-box" title="Lưu trữ văn bản">
				<i class="glyphicon glyphicon-folder-close"></i>&nbsp;Cập nhật Lưu trữ
			</button>
		</nav>
	</header>
</div>
<script type="text/javascript">
	$('#Searchbtn').click(function () {
		OpenSearchVBDi();
	});
	$('#Addbtn').click(function () {
		var url = '@Url.Action("Themvanban", "Vanbandi")';
		window.location = url;
	});
	$('#Editbtn').click(function () {
		var idvanban = 0;
		idvanban = GetIdVanban();
		if (idvanban != 0) {
			var url = '@Url.Action("Themvanban", "Vanbandi", (new { id = "__id__" }))'.replace('__id__', idvanban);
			window.location = url;
		} else {
			SetThongbao("Bạn chưa chọn văn bản");
		}
	});
	$('#Deletebtn').click(function () {
		var idvanban = 0;
		idvanban = GetIdVanban();
		if (idvanban != 0) {
			var url = '@Url.Action("_formDeleteVanban", "Vanbandi", (new { id = "__id__" }))'.replace('__id__', idvanban);
			$('#detail-DeleteVB').load(url);
			OpenDeleteVB();
		} else {
			SetThongbao("Bạn chưa chọn văn bản");
		}
	});
	$('#Duyetbtn').click(function () {
		var idvanban = 0;
		idvanban = GetIdVanban();
		if (idvanban != 0) {
			$.ajax(
				{
					type: "POST",
					url: '@Url.Action("_AjaxDuyetVanban", "Vanbandi")',
					data: { id: idvanban },
					success: function (data) {
						if (data == 1) {
							RefreshGrid();
						}
						else {
							SetThongbao(data);
							RefreshGrid();
						}
					}
				});
		} else {
			SetThongbao("Bạn chưa chọn văn bản");
		}
	})
	$('#Huyduyetbtn').click(function () {
		var idvanban = 0;
		idvanban = GetIdVanban();
		if (idvanban != 0) {
			$.ajax(
				{
					type: "POST",
					url: '@Url.Action("_AjaxHuyDuyetVanban", "Vanbandi")',
					data: { id: idvanban },
					success: function (data) {
						if (data == 1) {
							RefreshGrid();
						}
						else {
							SetThongbao(data);
							RefreshGrid();
						}
					}
				});
		} else {
			SetThongbao("Bạn chưa chọn văn bản");
		}
	});
	$('#Capquyenxembtn').click(function () {
		var idvanban = 0;
		idvanban = GetIdVanban();
		if (idvanban != 0) {
			OpenViewCapquyenxemVBDi(idvanban);
		} else {
			SetThongbao("Bạn chưa chọn văn bản");
		}
	});
	$('#PrintListVBbtn').click(function () {
		var url = '@Url.Action("Export", "Vanbandi")';
		window.location = url;
	});
	$('#Emailbtn').click(function () {
		var idvanban = 0;
		idvanban = GetIdVanban();
		var url = '@Url.Action("Email", "Vanbandi", (new { id = "__id__" }))'.replace('__id__', idvanban);	    
		window.location = url;
	});
	$('#Luutrubtn').click(function () {
		var idvanban = GetIdVanban();
		var url = '@Url.Action("CapnhatVanban", "Luutru")';
		url = url + '?idvanban=' + idvanban + '&intloai=2';
		$().redirect(url);
	});
</script>
