@model QLVB.DTO.Vanbandi.ListEmailDonviViewModel

@{
	ViewBag.Title = "Email";
	bool IsEdxml = QLVB.Common.Utilities.AppSettings.IsEdxml;
}
@section header{
	<i class="glyphicon glyphicon-envelope"></i>&nbsp;Gửi văn bản điện tử
}
<link href=@Url.Content("~/Content/bootstrap-tabs-x.min.css") media="all" rel="stylesheet" type="text/css" />
<script src=@Url.Content("~/Scripts/bootstrap-tabs-x.min.js")></script>

<div class="tabs-x tabs-above">
	<ul class="nav nav-tabs" id="iconsTab">
		<li class="active">
			<a href="#sendEmail-tab" data-toggle="tab">Đơn vị gửi/nhận VB điện tử</a>
		</li>
		<li> <a href="#EmailKhac-tab" data-toggle="tab">Email</a>  </li>
        <li> <a href="#TrucLienthongTinh-tab" data-toggle="tab">Trục liên thông tỉnh</a>  </li>
		@if (IsEdxml)
		{
			<li>
				<a href="#Chinhphu-tab" data-toggle="tab">Kết nối chính phủ</a>
			</li>
		}
	</ul>

	<div class="tab-content">
		<div id="sendEmail-tab" class="tab-pane active">
			<div class="box">
				<header>
					<nav style="padding: 3px;">
						<button id="SendDonvibtn" type="button" class="btn btn-sm btn-primary btn-flat " data-original-title="" title="">
							<i class="glyphicon glyphicon-envelope"></i>&nbsp;Gửi Email
						</button>
						<button id="Backbtn" type="button" class="btn btn-sm btn-primary btn-flat " data-original-title="" title=""><i class="glyphicon glyphicon-arrow-left"></i>&nbsp;Quay lại</button>
					    <button id="SendDonviAgainbtn" type="button" class="btn btn-sm btn-primary btn-flat " data-original-title="" title="">
					        <i class="glyphicon glyphicon-refresh"></i>&nbsp;Gửi Email lần nữa
					    </button>

                        <input type="checkbox" id="chkShowAll" /><span> Hiển thị các đơn vị có mã trục tỉnh</span>

					</nav>
				</header>
				<span id="ketquaSendvb" class="validation-summary-valid"></span>
			</div>
			<div id="sendEmail" style="min-height:400px;max-height:800px; width: 100%; overflow-x:hidden; overflow-y: scroll;">
				<form class="form-horizontal" id="formSendDonvi">
					@Html.HiddenFor(m => m.idvanban)
					<div class="body collapse in">
						@if (Model.IsAutoSend)
					{
						<input checked="checked" id="autosend" name="autosend" type="checkbox" value="true">
						<span style="color:orangered;"><strong>Tự động gửi văn bản điện tử tới các đơn vị</strong></span>
					}
						<table class="table responsive-table">
							<thead>
								<tr>
									<td style="width:10%; text-align:center">
										<b>@Html.CheckBox("parentcheckbox")</b>
									</td>
									<td style="width:50%;">
										<b>Tên đơn vị</b>
									</td>
									<td style="width:40%;">
										<b>Email</b>
									</td>
								</tr>
							</thead>
							<tbody id="listdonvi">
								@foreach (var p in Model.donvi)
							{
								<tr@(string.IsNullOrEmpty(p.strmatructinh) ? "" : " style='display:none;color:#333' hastructinh='yes'")>
									<td style="width:10%; text-align:center">
										@if (p.IsSend)
										{
										@Html.CheckBox(p.iddonvi.ToString(), p.IsSend, new { disabled = "disabled" })
										}
										else
										{
										@Html.CheckBox(p.iddonvi.ToString(), p.IsSend)
										}
									</td>
									<td style="width:50%">@p.strtendonvi</td>
									<td style="width:10%;">@p.stremailvbdt</td>
								</tr>
							}
								<tr>
									<td style="width:10%; text-align:center"></td>
									<td style="width:50%;color:red;"><strong>ĐƠN VỊ KHÁC</strong></td>
									<td style="width:10%;"></td>
								</tr>

								@foreach (var p in Model.donvikhac)
							{
								<tr@(string.IsNullOrEmpty(p.strmatructinh) ? "" : " style='display:none;color:#333' hastructinh='yes'")>
									<td style="width:10%; text-align:center">
										@if (p.IsSend)
										{
										@Html.CheckBox(p.iddonvi.ToString(), p.IsSend, new { disabled = "disabled" })
										}
										else
										{
										@Html.CheckBox(p.iddonvi.ToString(), p.IsSend)
										}
									</td>
									<td style="width:50%">@p.strtendonvi</td>
									<td style="width:10%;">@p.stremail</td>
								</tr>
							}
							</tbody>
						</table>
					</div>
				</form>
			</div>

		</div>

		<div class="tab-pane" id="EmailKhac-tab">
			<div class="box">
				<header>
					<button id="sendEMailKhacbtn" type="button" class="btn btn-sm btn-primary btn-flat " data-original-title="" title="">
						<i class="glyphicon glyphicon-envelope"></i>&nbsp;Gửi Email
					</button>
					<button id="BackEmailKhacbtn" type="button" class="btn btn-sm btn-primary btn-flat " data-original-title="" title=""><i class="glyphicon glyphicon-arrow-left"></i>&nbsp;Quay lại</button>
					<span id="ketquaEMailKhac" class="validation-summary-valid"></span>
				</header>
				<div id="div-email" class="body">
                    <form class="form-horizontal" id="formEMailKhac">
                        @Html.Hidden("idvanbanEmailKhac",Model.idvanban)
                        <div class="form-group">
                            @Html.Label("Gửi tới", new { @class = "control-label col-xs-3" })
                            <div class="col-xs-9">
                                @Html.TextArea("donviEmailKhac", string.Empty,
                                new { @class = "form-control", placeholder = "Danh sách email: abc@dongnai.gov.vn;def@dongnai.gov.vn;..." })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Tiêu đề", new { @class = "control-label col-xs-3" })
                            <div class="col-xs-9">
                                @Html.TextBox("strtieudeEmailKhac", Model.strtieude,
                                new { @class = "form-control", placeholder = "Tiêu đề" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("File đính kèm", new { @class = "control-label col-xs-3" })
                            <div class="col-xs-9">
                               @foreach (var fi in Model.listfile)
                               {
                                    <span>@fi.strmota</span>
                               }
                            </div>
                           
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                @Html.TextArea("strnoidungEmailKhac", Model.strnoidung,
                                new { @class = "form-control", rows = "12" })
                            </div>
                        </div>
                    </form>
				</div>
			</div>
		</div>

        <div class="tab-pane" id="TrucLienthongTinh-tab">
            <nav style="padding: 3px;">
                <button id="GetDonviTinhbtn" type="button" class="btn btn-sm btn-primary btn-flat " data-original-title="" title="">
                    <i class="glyphicon glyphicon-envelope"></i>&nbsp;DS các đơn vị
                </button>
                <button id="SendDonviTinhbtn" disabled type="button" class="btn btn-sm btn-primary btn-flat " data-original-title="" title="">
                    <i class="glyphicon glyphicon-envelope"></i>&nbsp;Gửi VBĐT
                </button>
                <button id="BackTinhbtn" type="button" class="btn btn-sm btn-primary btn-flat " data-original-title="" title=""><i class="glyphicon glyphicon-arrow-left"></i>&nbsp;Quay lại</button>
                <button id="SendDonviAgainTinhbtn" disabled type="button" class="btn btn-sm btn-primary btn-flat " data-original-title="" title="">
                    <i class="glyphicon glyphicon-refresh"></i>&nbsp;Gửi VBĐT lần nữa
                </button>
            </nav>
            <span id="ketquaSendTinhvb" class="validation-summary-valid"></span>
            <div id="chitiet-Tinh-tab"></div>
        </div>

		@if (IsEdxml)
		{
			<div class="tab-pane" id="Chinhphu-tab">
				<nav style="padding: 3px;">
					<button id="GetDonviChinhphubtn" type="button" class="btn btn-sm btn-primary btn-flat " data-original-title="" title="">
						<i class="glyphicon glyphicon-envelope"></i>&nbsp;DS các đơn vị
					</button>
					<button id="SendDonviChinhphubtn" disabled type="button" class="btn btn-sm btn-primary btn-flat " data-original-title="" title="">
						<i class="glyphicon glyphicon-envelope"></i>&nbsp;Gửi VBĐT
					</button>
					<button id="BackChinhphubtn" type="button" class="btn btn-sm btn-primary btn-flat " data-original-title="" title=""><i class="glyphicon glyphicon-arrow-left"></i>&nbsp;Quay lại</button>
					<button id="SendDonviAgainChinhphubtn" disabled type="button" class="btn btn-sm btn-primary btn-flat " data-original-title="" title="">
						<i class="glyphicon glyphicon-refresh"></i>&nbsp;Gửi VBĐT lần nữa
					</button>
				</nav>
				<span id="ketquaSendChinhphuvb" class="validation-summary-valid"></span>
				<div id="chitiet-chinhphu-tab"></div>
			</div>
		}
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function () {
		SetClientHeight();
	});
	function SetClientHeight() {
		var contentHeight = $('#content').innerHeight();
		var headerHeight = $('#head').innerHeight();
		var tbar = $('#tbar').innerHeight();
		var windowHeight = $(window).height();
		var contentWidth = $('#content').innerWidth();
		if (contentWidth > 768) {
			if (contentHeight > 800) { contentHeight = 800; }
			$('#sendEmail').height(contentHeight - headerHeight - tbar - 320);
		};
	}
	function Back() {
		var url = '@Url.Action("Index", "Vanbandi", new { isBack = true })';
		$().redirect(url);
	}
	$('#Backbtn').click(function () {
		Back();
	});
	$('#SendDonviAgainbtn').click(function () {
		$("input[type='checkbox']").prop('checked', false);
		$("input[type='checkbox']").removeAttr('disabled');
	});
	$('#parentcheckbox').click(function () {
		var ischeck = $(this).prop('checked');
	    $("#listdonvi").find(':checkbox').each(function() {
	        var disable = $(this).prop('disabled');
	        var visible = $(this).is(':visible');
	        if (!disable && visible) {
	            $(this).prop('checked', ischeck);
	        }
	    });
	    //$("input[type='checkbox']").prop('checked', $(this).prop('checked'));
	});
	$('#chkShowAll').click(function() {
	    var ischeck = $(this).prop('checked');
	    if (ischeck)
	        $("#listdonvi").find('tr[hastructinh=yes]').show();
	    else $("#listdonvi").find('tr[hastructinh=yes]').hide();
	});

	$('#SendDonvibtn').click(function () {
		$.ajax(
		{
			type: "POST",
			url: '@Url.Action("_SendDonvi", "Vanbandi")',
			data: $("#formSendDonvi").serialize(),
			beforeSend: function () {
				ShowLoading();
			},
			success: function (data) {
				HideLoading();
				//SetThongbao(data);
				if (data.id == 1) {
					ShowResult("ketquaSendvb", data.message);
				}
				else {
					ShowResult("ketquaSendvb", "Lỗi !!! " + data.message);
				}
			},
			dataType: "Json"
		});
	});
	//============================================
	$('#BackEmailKhacbtn').click(function () {
		Back();
	});
	$('#sendEMailKhacbtn').click(function () {
	    $.ajax(
		{
		    type: "POST",
		    url: '@Url.Action("_SaveEmailKhac", "Vanbandi")',
		    data: $("#formEMailKhac").serialize(),
		    beforeSend: function () {
		        ShowLoading();
		    },
		    success: function (data) {
		        HideLoading();
		        if (data.id === 1) {
		            ShowResult("ketquaEMailKhac", "Văn bản gửi thành công");
		        }
		        else {
		            ShowResult("ketquaEMailKhac", "Lỗi !!! " + data);
		        }
		    },
		    dataType: "Json"
		});
	});
	//============================================
	$('#BackChinhphubtn').click(function () {
		Back();
	});
	$('#GetDonviChinhphubtn').click(function () {
		ShowLoading();
		var url = '@Url.Action("_GetDonviEdxml","Vanbandi")';
		url = url + '?id=' + '@Model.idvanban';
		$("#chitiet-chinhphu-tab").load(url, function () {
			HideLoading();
		});
	});
	$('#SendDonviChinhphubtn').click(function () {
		$.ajax(
		{
			type: "POST",
			url: '@Url.Action("_SendEdxmlChinhphu", "Vanbandi")',
			data: $("#formSendEdxmlChinhphu").serialize(),
			beforeSend: function () {
				ShowLoading();
			},
			success: function (data) {
				HideLoading();
				if (data == "OK") {
					ShowResult("ketquaSendChinhphuvb", "Văn bản gửi thành công");
				}
				else {
					ShowResult("ketquaSendChinhphuvb", "Lỗi !!! " + data);
				}
			},
			dataType: "Json"
		});
	});
    //============================================
    $('#BackTinhbtn').click(function () {
        Back();
    });
    $('#GetDonviTinhbtn').click(function () {
        ShowLoading();
        var url = '@Url.Action("_GetDonviTrucTinh","Vanbandi")';
        url = url + '?id=' + '@Model.idvanban';
        $("#chitiet-Tinh-tab").load(url, function () {
            HideLoading();
        });
    });
    $('#SendDonviTinhbtn').click(function () {
        $.ajax(
		{
		    type: "POST",
		    url: '@Url.Action("_SendVBTruclienthongTinh", "Vanbandi")',
		    data: $("#formSendTrucTinh").serialize(),
		    beforeSend: function () {
		        ShowLoading();
		    },
		    success: function (data) {
		        HideLoading();
		        if (data == "OK") {
		            ShowResult("ketquaSendTinhvb", "Văn bản gửi thành công");
		        }
		        else {
		            ShowResult("ketquaSendTinhvb", "Lỗi !!! " + data);
		        }
		    },
		    dataType: "Json"
		});
    });
</script>
