@model QLVB.DTO.Vanbandientu.SearchVBDenDientuViewModel

@(Html.Kendo().Window()
	.Name("SearchVBDenDientu")
	.Draggable()
	.AutoFocus(true)
	.Title("Tìm kiếm văn bản đến điện tử")
	.Resizable()
	.Width(670)
	.Height(350)
	.Visible(false)
	.Actions(actions => actions.Minimize().Maximize().Close())
	.Content(
	@<text>
		<div id="detail-SearchVBDen">
			<div class="box">
				<header>
					<nav style="padding: 3px;">
						<button id="SubmitSearchVBDenbtn" type="button" class="btn btn-sm btn-primary btn-flat " data-original-title="" title=""><i class="glyphicon glyphicon-search"></i>&nbsp;Tìm kiếm</button>
						<button id="BackSearchVBDenbtn" type="button" class="btn btn-sm btn-primary btn-flat " data-original-title="" title=""><i class="fa fa-undo"></i>&nbsp;Quay lại</button>
						<button id="RefreshSearchVBDenbtn" type="button" class="btn btn-sm btn-primary btn-flat " data-original-title="" title=""><i class="glyphicon glyphicon-refresh"></i>&nbsp;Refresh</button>

					</nav>
				</header>
			</div>
			<form class="form-horizontal" id="formSearchVBDen">
				@Html.Hidden("isSearch", true)
				<table class="table table-condensed table-bordered responsive-table">
					<tbody>
						<tr>
							<td class="table-label table-col-4">@Html.Label("Số đến", new { @class = "font-label" })</td>
							<td>@Html.TextBoxFor(m => m.intsodenbd, null, new { @class = "form-control form-control-window2 ", placeholder = "" })</td>
							<td class="table-col-4" style="text-align:center;">@Html.Label("==>", new { @class = "font-label" })</td>
							<td>@Html.TextBoxFor(m => m.intsodenkt, null, new { @class = "form-control form-control-window2 ", placeholder = "" })</td>
						</tr>						
						<tr>
							<td class="table-label table-col-4">@Html.Label("Ngày ký", new { @class = "font-label" })</td>
							<td>
								@(Html.Kendo().DatePicker()
									.Name("strngaykybd")
									.HtmlAttributes(new { style = "width:100%;" })
									.Format("dd/MM/yyyy")
								)
							</td>
							<td class="table-col-4" style="text-align:center;">@Html.Label("==>", new { @class = "font-label" })</td>
							<td>
								@(Html.Kendo().DatePicker()
									.Name("strngaykykt")
									.HtmlAttributes(new { style = "width:100%;" })
									.Format("dd/MM/yyyy")
								)
							</td>
						</tr>
						<tr>
							<td class="table-label table-col-4">@Html.Label("Ký hiệu", new { @class = "font-label" })</td>
							<td>@Html.TextBox("strkyhieu", null, new { @class = "form-control form-control-window2 ", placeholder = "Số, ký hiệu" })</td>
							<td class="table-col-4" style="text-align:center;">@Html.Label("Đơn vị gửi", new { @class = "font-label" })</td>
							<td> @Html.TextBox("strnoigui", null, new { @class = "form-control form-control-window2 ", placeholder = "Đơn vị gửi" })</td>
						</tr>
						
						<tr>
							<td class="table-label table-col-4">@Html.Label("Trích yếu", new { @class = "font-label" })</td>
							<td colspan="3">@Html.TextBox("strtrichyeu", null, new { @class = "form-control form-control-window ", placeholder = "Trích yếu văn bản" })</td>
						</tr>
						<tr>
							<td class="table-label table-col-4">@Html.Label("Ngày gửi", new { @class = "font-label" })</td>
							<td>
								@(Html.Kendo().DatePicker()
									.Name("strngayguibd")
									.HtmlAttributes(new { style = "width:100%;" })
									.Format("dd/MM/yyyy")
								)
							</td>
							<td class="table-col-4" style="text-align:center;">@Html.Label("==>", new { @class = "font-label" })</td>
							<td>
								@(Html.Kendo().DatePicker()
									.Name("strngayguikt")
									.HtmlAttributes(new { style = "width:100%;" })
									.Format("dd/MM/yyyy")
								)
							</td>
						</tr>
						<tr>
							<td class="table-label table-col-4">@Html.Label("Ngày nhận", new { @class = "font-label" })</td>
							<td>
								@(Html.Kendo().DatePicker()
									.Name("strngaynhanbd")
									.HtmlAttributes(new { style = "width:100%;" })
									.Format("dd/MM/yyyy")
								)
							</td>
							<td class="table-col-4" style="text-align:center;">@Html.Label("==>", new { @class = "font-label" })</td>
							<td>
								@(Html.Kendo().DatePicker()
									.Name("strngaynhankt")
									.HtmlAttributes(new { style = "width:100%;" })
									.Format("dd/MM/yyyy")
								)
							</td>
						</tr>

					</tbody>
				</table>
			</form>
		</div>
	</text>
	)
)

<script type="text/javascript">

	function CloseSearchVBDen() {
	    var window = $("#SearchVBDenDientu").data("kendoWindow");
		window.close();
	}
	function OpenSearchVBDen() {
	    var window = $("#SearchVBDenDientu").data("kendoWindow");
		window.center();
		window.open();
		setTimeout(function () { $('#intsodenbd').focus(); }, 1000);
	}
	$('#BackSearchVBDenbtn').click(function () {
		CloseSearchVBDen();
	})

	//$('#SearchVBDen').on('shown', function () {
	//    $('#intsodenbd').focus();
	//    console.log("focus");
	//})
	$('#formSearchVBDen').on("keypress", function (e) {
		if (e.keyCode == 13) {
			//alert("Enter pressed");
			SubmitSearchVBDen();
			return false; // prevent the button click from happening
		}
	});
	$('#SubmitSearchVBDenbtn').click(function () {
		SubmitSearchVBDen();
	})
	function SubmitSearchVBDen() {
		var collection = $('#formSearchVBDen').serialize();
		var url = '@Url.Action("_Listvanbandendientu", "Vanbandendientu")';
		url = url + "?" + collection;
		$('#listvanbanden').load(url);
		CloseSearchVBDen();
	}
	$('#RefreshSearchVBDenbtn').click(function () {
		ResetFormVBDen();
	})
	function ResetFormVBDen() {
		$("input").val('');
		$("#isSearch").val('True');		
	}
</script>
