@model QLVB.DTO.Linhvuc.EditLinhvucViewModel

<div class="box">
    <header>
        <nav style="padding: 3px;">
            <button id="SaveLinhvucbtn" type="button" class="btn btn-sm btn-primary btn-flat " data-original-title="" title=""><i class="glyphicon glyphicon-floppy-saved"></i>&nbsp;Ghi nhận</button>
            <button id="Backbtn" type="button" class="btn btn-sm btn-primary btn-flat " data-original-title="" title=""><i class="glyphicon glyphicon-arrow-left"></i>&nbsp;Quay lại</button>
        </nav>
    </header>
    <span id="ketquaSaveLinhvuc" class="validation-summary-valid"></span>
    <form class="form-horizontal" id="formEditLinhvuc">
        @Html.HiddenFor(m => m.intid)
        <div class="form-group form-group-window">
            @Html.LabelFor(m => m.strkyhieu, new { @class = "control-label col-sm-4" })
            <div class="col-sm-6">
                @Html.TextBoxFor(m => m.strkyhieu, new { @class = "form-control form-control-window", placeholder = "Tên nhóm quyền" })
            </div>
        </div>
        <div class="form-group form-group-window">
            @Html.LabelFor(m => m.strtenlinhvuc, new { @class = "control-label col-sm-4" })
            <div class="col-sm-6">
                @Html.TextBoxFor(m => m.strtenlinhvuc, new { @class = "form-control form-control-window", placeholder = "Tên nhóm quyền" })
            </div>
        </div>
        <div class="form-group form-group-window">
            @Html.LabelFor(m => m.strghichu, new { @class = "control-label col-sm-4" })
            <div class="col-sm-6">
                @Html.TextBoxFor(m => m.strghichu, new { @class = "form-control form-control-window", placeholder = "Tên nhóm quyền" })
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    $("#SaveLinhvucbtn").bind("click", function () {        
        $.ajax({
            type: "POST",
            url: '@Url.Action("Save", "Linhvuc")',
            dataType: "json",
            data: $('#formEditLinhvuc').serialize() ,
            success: function (data) {
                if (data == 1) {
                    ShowResult("ketquaSaveLinhvuc", "Cập nhật thành công");
                    RefreshGrid();
                }
                else {
                    ShowResult("ketquaSaveLinhvuc", "Lỗi !!!");
                    RefreshGrid();
                }
            },
        });
    });
    $("#Backbtn").bind("click", function () {
        CloseEditLinhvuc();
    })
</script>

