@using QLVB.DTO
@{
    ViewBag.Title = "Linh vuc";
}
@section header{
    <i class="glyphicon glyphicon-tags">&nbsp;</i>Lĩnh vực
}
<div class="row">    
    <div class="col-sm-12">
        <div class="box dark">
            <header>
                <nav style="padding: 3px;">
                    <button id="Addbtn" type="button" class="btn btn-sm btn-primary btn-flat " data-original-title="" title=""><i class="glyphicon glyphicon-plus"></i>&nbsp;Thêm</button>
                    <button id="Editbtn" type="button" class="btn btn-sm btn-primary btn-flat " data-original-title="" title=""><i class="glyphicon glyphicon-pencil"></i>&nbsp;Sửa</button>
                    <button id="Deletebtn" type="button" class="btn btn-sm btn-primary btn-flat " data-original-title="" title=""><i class="glyphicon glyphicon-trash"></i>&nbsp;Xóa</button>
                </nav>
            </header>
        </div>
        @(Html.Kendo().Grid<QLVB.DTO.Linhvuc.ListLinhvucViewModel>()
        .Name("grid")
        .Columns(columns =>
        {
            columns.Bound(o => o.intid).Hidden();
            columns.Bound(o => o.strkyhieu).Title("Ký hiệu").Width("25%");
            columns.Bound(o => o.strtenlinhvuc).Title("Tên lĩnh vực").Width("30%");            
            columns.Bound(o => o.strghichu).Title("Ghi chú");
        })
        .HtmlAttributes(new { style = "white-space: normal" })
        .Scrollable()
        .Sortable()
        .Selectable()
        .Pageable(pageable => pageable
            .Refresh(true)
            //.PageSizes(true)
            .ButtonCount(5)
            .Messages(ms => ms.Display(KendoGridDisplay.PageDisplay).Empty(KendoGridDisplay.PageEmpty)
                .First(KendoGridDisplay.PageFirst).Previous(KendoGridDisplay.PagePrevious)
                .Next(KendoGridDisplay.PageNext).Last(KendoGridDisplay.PageLast))
            )
        .DataSource(dataSource => dataSource
            .Ajax()
            .PageSize(QLVB.Common.Utilities.AppSettings.DisplayItemsPerPage)
            .Read(read => read.Action("Linhvuc_Read", "Linhvuc"))
            )
        .Events(events => events.Change("onChange"))
        )
    </div>

    @Html.Hidden("idlinhvuc")
</div>

<script type="text/javascript">
    $(window).resize(function () {
        SetGridHeight();
    });
    $(document).ready(function () {
        SetGridHeight();
    })
    function onChange(arg) {
        var selected = $.map(this.select(), function (item) {
            var value = $(item).text();
            var grid = $("#grid").data("kendoGrid");
            var row = grid.select();
            var intid = grid.dataItem(row).intid;
            SetIdLinhvuc(intid);
            var url = '@Url.Action("_formEditLinhvuc", "Linhvuc", (new { id = "__id__" }))'.replace('__id__', intid);
            $('#detail-editLinhvuc').load(url);
        });
    }
    function SetIdLinhvuc(idlinhvuc) {
        $("#idlinhvuc").val(idlinhvuc);
    }
    function GetIdLinhvuc() {
        var idlinhvuc = $("#idlinhvuc").val();
        return idlinhvuc;
    }
    $("#Addbtn").bind("click", function () {
        var id = 0;
        var url = '@Url.Action("_formEditLinhvuc", "Linhvuc", (new { id = "__id__" }))'.replace('__id__', id);
        $('#detail-editLinhvuc').load(url);
        OpenEditLinhvuc();
    });
    $("#Editbtn").bind("click", function () {
        var id = GetIdLinhvuc();
        if (id != 0) {
            var url = '@Url.Action("_formEditLinhvuc", "Linhvuc", (new { id = "__id__" }))'.replace('__id__', id);
            $('#detail-editLinhvuc').load(url);
            OpenEditLinhvuc();
        } else {
            SetThongbao("Bạn chưa chọn lĩnh vực")
        }
    });
    $("#Deletebtn").bind("click", function () {
        var id = GetIdLinhvuc();
        if (id != 0) {
            var url = '@Url.Action("_formDeleteLinhvuc", "Linhvuc", (new { id = "__id__" }))'.replace('__id__', id);
            $('#detail-editLinhvuc').load(url);
            OpenEditLinhvuc();
        } else {
            SetThongbao("Bạn chưa chọn lĩnh vực")
        }
    });
    function CloseEditLinhvuc() {
        var window = $("#EditLinhvuc").data("kendoWindow");
        window.close();
    }
    function OpenEditLinhvuc() {
        var window = $("#EditLinhvuc").data("kendoWindow");
        window.center();
        window.open();
    }
</script>

@(Html.Kendo().Window()
    .Name("EditLinhvuc")
    .Draggable()
    .AutoFocus(true)
    .Title("Cập nhật Lĩnh vực")
    .Resizable()
    .Width(500)
    .HtmlAttributes(new { style = "height:100%;" })
    .Visible(false)
    .Actions(actions => actions.Minimize().Maximize().Close())
    .Content(
    @<text>
        <div id="detail-editLinhvuc">
        </div>
    </text>
    )
)


