@model QLVB.DTO.Quytrinh.EditQuytrinhViewModel
@*@using QLVB.DTO*@
@{
    SelectList ListQuytrinh = new SelectList(Model.LoaiQuytrinh, "intid", "strtenloaiquytrinh");
    DateTime dteNow = DateTime.Now;
}

<div class="box">
    <form class="form-horizontal" id="formEditQuytrinh">
        <span id="ketquaSaveQuytrinh" class="validation-summary-valid"></span>
        <header>
            <nav style="padding: 3px;">
                <button id="SaveQuytrinhbtn" type="button" class="btn btn-sm btn-primary btn-flat " data-original-title="" title=""><i class="glyphicon glyphicon-floppy-saved"></i>&nbsp;Ghi nhận</button>
                <button id="BackQuytrinhbtn" type="button" class="btn btn-sm btn-primary btn-flat " data-original-title="" title=""><i class="glyphicon glyphicon-arrow-left"></i>&nbsp;Quay lại</button>
            </nav>
        </header>

        @Html.HiddenFor(m => m.intid)        
        <div class="form-group form-group-window">
            @Html.LabelFor(m => m.idloai, new { @class = "control-label col-sm-3" })
            <div class="col-sm-6">
                <td>@Html.DropDownListFor(m => m.idloai, ListQuytrinh, new { @class = "form-control form-control-window" })</td>
            </div>
        </div>
        <div class="form-group form-group-window">
            @Html.LabelFor(m => m.strtenquytrinh, new { @class = "control-label col-sm-3" })
            <div class="col-sm-6">
                @Html.TextBoxFor(m => m.strtenquytrinh, new { @class = "form-control form-control-window", placeholder = "Tên Loại quy trình" })
            </div>
        </div>
        <div class="form-group form-group-window">
            @Html.LabelFor(m => m.intSongay, new { @class = "control-label col-sm-3" })
            <div class="col-sm-6">
                @Html.TextBoxFor(m => m.intSongay, new { @class = "form-control form-control-window", placeholder = "0" })
            </div>
        </div>
        <div class="form-group form-group-window">
            @Html.LabelFor(m => m.dteThoigianApdung, new { @class = "control-label col-sm-3" })
            <div class="col-sm-6">                
                @(Html.Kendo().DatePicker()
                        .Name("dteThoigianApdung")
                        .Value(Model.dteThoigianApdung)
                        .HtmlAttributes(new { style = "width:100%;" })
                        .Format("dd/MM/yyyy")
                )
            </div>
        </div>
        <div class="form-group form-group-window">
            @Html.LabelFor(m => m.IsActive, new { @class = "control-label col-sm-3" })
            <div class="col-sm-6">
                @Html.CheckBoxFor(m => m.IsActive)
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">

    $("#SaveQuytrinhbtn").click(function () {
        var validatable = $("#formEditQuytrinh").kendoValidator().data("kendoValidator");
        if (validatable.validate()) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("Savequytrinh", "Quytrinh")',
                dataType: "json",
                data: $('#formEditQuytrinh').serialize(),
                success: function (data) {
                    if (data == 1) {
                        ShowResult("ketquaSaveQuytrinh", "Cập nhật thành công");
                        RefreshLoaiQT();
                    }
                    else {
                        ShowResult("ketquaSaveQuytrinh", "Lỗi !!!");                        
                    }
                },
            });
        }
    });
    $('#BackQuytrinhbtn').click(function () {
        CloseEditQuytrinh();
    })

</script>
