@model QLVB.DTO.Loaivanban.ListTruongvbViewModel
<div class="box">
    <header>
        <nav style="padding: 3px;">
            <button id="SaveTruongbtn" type="button" class="btn btn-sm btn-primary btn-flat " data-original-title="" title=""><i class="glyphicon glyphicon-floppy-saved"></i>&nbsp;Ghi nhận</button>
            <span id="ketquaTruongvb" class="validation-summary-valid"></span>
        </nav>
    </header>

    <form class="form-horizontal" id="formAjaxLoaitruong">
        @Html.HiddenFor(m => m.idloaivb)
        <div class="body collapse in">
            <table id="listtruong" class="table responsive-table">
                <thead>
                    <tr>
                        <td style="width:10%; text-align:center">
                            <b>Chọn</b>
                        </td>
                        <td style="width:70%;">
                            <b>Mô tả trường</b>
                        </td>
                        <td style="width:10%; text-align:center">
                            <b>STT</b>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var p in Model.Phanloaitruong)
                    {
                        <tr>
                            <td style="width:10%; text-align:center">
                                @Html.Hidden(p.intid.ToString(), p.IsRequire)
                                @{  bool x = false;
                                    //int intRequire = 0;
                                    if (p.IsRequire)
                                    {
                                        x = true;
                                        //intRequire = 1;
                                        @Html.CheckBox(p.intid.ToString(), x, new { disabled = "disabled" })
                                    }
                                    else
                                    {
                                        if (p.IsDisplay)
                                        {
                                            x = true;
                                        }
                                        @Html.CheckBox(p.intid.ToString(), x)
                                    }
                                }

                            </td>
                            <td style="width:70%">
                                @Html.Label(p.strmota, new { @class = "font-label" })
                            </td>
                            <td style="width:10%; text-align:center">
                                @{string name = "stt" + p.intid.ToString(); }
                                <input name="@p.intid" size="1" maxlength="2" style="text-align: center;width:100%;border:none" value="@p.intorder" />
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </form>
</div>
<script type="text/javascript">
    $("#SaveTruongbtn").click(function () {
        $.ajax({
            type: "POST",
            url: '@Url.Action("SaveTruongvb","Loaivbden")',
            data: $("#formAjaxLoaitruong").serialize(),
            success: function (data) {
                if (data == 1) {
                    ShowResult("ketquaTruongvb", "Cập nhật thành công");
                }
                else {
                    ShowResult("ketquaTruongvb", "Lỗi !!!");
                }
            },
            dataType: "Json"
        });
    });
</script>