@using DLTD.Web.Main.Controllers
@model IList<DLTD.Web.Main.ViewModels.TinhHinhXuLyViewModel>

<table id="detail-tinhhinhxuly" class="table table-bordered table-condensed responsive-table" style="width: 100%">
    <tr style="font-weight: bold;">
        <td style="width: 5%; text-align: center;">No.</td>
        <td style="width: 10%; text-align: center;">
            @{
                var baocao = "Nguồn chỉ đạo";
                if ((LoaiThongKe)ViewBag.LoaiThongKe == LoaiThongKe.DonViXuLyChinh)
                {
                    baocao = "Đơn vị xử lý";
                }
                else if ((LoaiThongKe)ViewBag.LoaiThongKe == LoaiThongKe.Chuyenvientheodoi)
                {
                    baocao = "Người theo dõi";
                }
                else if ((LoaiThongKe)ViewBag.LoaiThongKe == LoaiThongKe.Nguoichidao)
                {
                    baocao = "Người chỉ đạo";
                }
            }

            @baocao
        </td>
        <td style="width: 10%; text-align: center;">VB Đã hoàn thành</td>
        <td style="width: 10%; text-align: center;">VB Đã xử lý</td>
        <td style="width: 10%; text-align: center;">VB Đang xử lý</td>
        <td style="width: 10%; text-align: center;">VB Đã quá hạn</td>
        <td style="width: 10%; text-align: center;">Tổng</td>
    </tr>
    @{
        var idx = 0;
    }
    @foreach (var item in Model)
    {
        idx++;
        <tr>
            <td style="text-align: center;">@idx</td>
            <td style="text-align: center;">@item.Name</td>
            <td style="text-align: center;">
                @if (item.HoanThanh > 0)
                {
                    <a onclick="openNV(@item.Id, '@item.Name', 'HoanThanh');" href="javascript:void(0);">
                        @item.HoanThanh
                    </a>
                }
                else
                {
                    @item.HoanThanh
                }
            </td>
            <td style="text-align: center;">
                @if (item.DangThucHien > 0)
                {
                    <a onclick="openNV(@item.Id, '@item.Name', 'DangXuLy');" href="javascript:void(0);">
                        @item.DangThucHien
                    </a>
                }
                else
                {
                    @item.DangThucHien
                }
                
            </td>
            <td style="text-align: center;">
                @if (item.QuaHan > 0)
                {
                    <a onclick="openNV(@item.Id, '@item.Name', 'Moi');" href="javascript:void(0);">
                        @item.QuaHan
                    </a>
                }
                else
                {
                    @item.QuaHan
                }
            </td>
            <td style="text-align: center;">
                @if (item.HoanThanhQuaHan > 0)
                {
                    <a onclick="openNV(@item.Id, '@item.Name', 'QuaHan');" href="javascript:void(0);">
                        @item.HoanThanhQuaHan
                    </a>
                }
                else
                {
                    @item.HoanThanhQuaHan
                }
            </td>
            <td style="text-align: center;">
                @if (item.TongNhiemVu > 0)
                {
                    <a onclick="openNV(@item.Id, '@item.Name', '');" href="javascript:void(0);">
                        @item.TongNhiemVu
                    </a>
                }
                else
                {
                    @item.TongNhiemVu
                }
            </td>
        </tr>
    }
    @if (idx > 2)
    {
        <tr style="color: #dc143c;font-weight: bold">
            <td colspan="2" style="text-align: right;">TỔNG</td>
            <td style="text-align: center;">@Model.Sum(x => x.HoanThanh)</td>
            <td style="text-align: center;">@Model.Sum(x => x.DangThucHien)</td>
            <td style="text-align: center;">@Model.Sum(x => x.QuaHan)</td>
            <td style="text-align: center;">@Model.Sum(x => x.HoanThanhQuaHan)</td>
            <td style="text-align: center;">@Model.Sum(x => x.TongNhiemVu)</td>
        </tr>
    }


</table>