@using DLTD.Web.Main.Controllers
@using DLTD.Web.Main.Models.Enum
@using Kendo.Mvc.UI;
@model DLTD.Web.Main.ViewModels.TonghopTinhhinhXulyViewModel
@{
    ViewBag.Title = "Tình hình thực hiện";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li>
                <i class="glyphicon glyphicon-home"></i>
                <a href="@Url.Action("Index","Home")"> Nhiệm vụ</a>
            </li>
            @*<li><i class="fa fa-bars"></i>Pages</li>*@
            <li><i class="glyphicon glyphicon-list"></i>@ViewBag.Title</li>
        </ol>
    </div>
</div>
<div class="row box-toolbar">
    <div class="col-md-6">
        <button id="btnThongke" type="button" class="btn btn-sm btn-primary btn-flat" title="Tổng hợp">
            <i class="glyphicon glyphicon-refresh"></i>&nbsp;Thống kê
        </button>&nbsp;&nbsp;&nbsp;
        <button id="btnBaoCao" type="button" class="btn btn-sm btn-primary btn-flat" title="Xuất báo cáo"><i class="glyphicon glyphicon-grain"></i>Xuất báo cáo</button>
    </div>
    <div class="col-md-6">
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <span class="control-label">Tình tình thực hiện:</span>
        &nbsp;&nbsp;&nbsp;
        <div class="clear"></div>
        <select id="trangthai" name="trangthai" class="form-control" ></select>
    </div>
    </div>
    <div class="col-md-8">
        <span class="control-label">&nbsp;&nbsp;&nbsp;</span>
       
    </div>
<div class="row">
    <div class="col-md-7">
        <div class="row">
            <div class="col-md-4">
                <span class="control-label">Thống kê theo</span>
                <input name="ThongKeTheo" id="ThongKeTheo" style="width: 100%" />
            </div>
            <div class="col-md-8">
                <span class="control-label">&nbsp;&nbsp;&nbsp;</span>
                <div class="clear"></div>
                @(Html.Kendo().ComboBox()
                      .Name("idNguonChiDao")
                      .DataTextField("Ten")
                      .DataValueField("Id")
                      .BindTo(Model.Khoi)
                      .Placeholder("Tất cả nguồn chỉ đạo")
                              .HtmlAttributes(new { style = "width: 100%" })
                )

                @(Html.Kendo().ComboBox()
                      .Name("idKhoiDonvi")
                      .DataTextField("Ten")
                      .DataValueField("Id")
                      .BindTo(Model.KhoiDonVi)
                      .Placeholder("Tất cả khối")
                      .HtmlAttributes(new { style = "width: 34%" })
                      
                )

                @(Html.Kendo().ComboBox()
                      .Name("idDonvi")
                      .DataTextField("Ten")
                      .DataValueField("Id")
                      //.BindTo(Model.DonVi)
                        .Placeholder("Tất cả đơn vị thực hiện")
                        .HtmlAttributes(new { style = "width: 65%" })
                        .CascadeFrom("idKhoiDonvi")
                        .DataSource(source =>
                        {
                            source.Read(read =>
                            {
                                read.Action("GetCascadeDonVi", "TinhHinhThucHien")
                                    .Data("filterDonVi");
                            })
                            .ServerFiltering(true);
                        })
                      )

                @(Html.Kendo().ComboBox()
                      .Name("idNguoitheodoi")
                      .DataTextField("Ten")
                      .DataValueField("Id")
                      .BindTo(Model.Nguoitheodoi)
                              .Placeholder("Tất cả người theo dõi")
                              .HtmlAttributes(new { style = "width: 100%" })
                )
                @(Html.Kendo().ComboBox()
                      .Name("idNguoichidao")
                      .DataTextField("Ten")
                      .DataValueField("Id")
                      .BindTo(Model.Nguoichidao)
                        .Placeholder("Tất cả người chỉ đạo")
                              .HtmlAttributes(new { style = "width: 100%" })
                )
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="row">
            <div class="col-md-6">
                <span class="control-label">Từ ngày</span>
                @(Html.Kendo().DatePicker()
              .Name("TuNgay")
              .Culture("vi-VN")
                )
            </div>
            <div class="col-md-6">
                <span class="control-label">Đến ngày</span>
                @(Html.Kendo().DatePicker()
              .Name("DenNgay")
              .Culture("vi-VN")
                )
            </div>
        </div>
    </div>
</div>
<hr />
<div id="TonghopTHXLVB" class="row">

</div>
<script type="text/javascript">
    var comboKhoi, comboDonVi, comboNguoitheodoi, comboNguoichidao, comboLoaiThongKe, comboKhoiDonVi, comboTrangThai;

    function openNV(id, name, trangthai) {
        var url = "@Url.Action("Index", "Home")";
        url += "?trangThai=" + trangthai;
        url += "&key=" + id;
        url += "&name=" + name;
        url += "&type=" + comboLoaiThongKe.value();
        window.open(url, "_blank");
    }

    function filterDonVi() {
        return {
            idKhoiDonVi: $("#idKhoiDonvi").val(),
            donviFilter: $("#idDonvi").data("kendoComboBox").input.val()
        };
    }

    function onChange() {
        comboKhoi.wrapper.hide();
        comboDonVi.wrapper.hide();
        comboKhoiDonVi.wrapper.hide();
        comboNguoitheodoi.wrapper.hide();
        comboNguoichidao.wrapper.hide();
        switch(comboLoaiThongKe.value()) {
            case "0":
                comboKhoi.value("");
                comboKhoi.wrapper.show();
                break;
            case "1":
                comboKhoiDonVi.value("");
                comboKhoiDonVi.wrapper.show();
                comboDonVi.wrapper.show();
                break;
            case "2":
                comboNguoitheodoi.value("");
                comboNguoitheodoi.wrapper.show();
                break;
            case "3":
                comboNguoichidao.value("");
                comboNguoichidao.wrapper.show();
                break;
        }
    }
    $(document).ready(function () {

        $("#TuNgay").kendoDatePicker({ culture: "vi-VN" });
        $("#DenNgay").kendoDatePicker({ culture: "vi-VN" });
        comboDonVi = $("#idDonvi").data("kendoComboBox");
        comboKhoi = $("#idNguonChiDao").data("kendoComboBox");
        comboKhoiDonVi = $("#idKhoiDonvi").data("kendoComboBox");
        comboNguoitheodoi = $("#idNguoitheodoi").data("kendoComboBox");
        comboNguoichidao = $("#idNguoichidao").data("kendoComboBox");

        
        comboKhoi.wrapper.show();
        comboDonVi.wrapper.hide();
        comboKhoiDonVi.wrapper.hide();
        comboNguoitheodoi.wrapper.hide();
        comboNguoichidao.wrapper.hide();


        comboLoaiThongKe = $("#ThongKeTheo").kendoDropDownList({
            dataTextField: "text",
            dataValueField: "value",
            dataSource: [
                { text: "Nguồn chỉ đạo", value: "0" },
                { text: "Đơn vị xử lý chính", value: "1" },
                { text: "Người theo dõi", value: "2" },
                { text: "Người chỉ đạo", value: "3" }

            ],
            index: 0,
            change: onChange
        }).data("kendoDropDownList");

     
        combotinhhinhthuchien = $("#trangthai").kendoDropDownList({
            dataTextField: "text",
            dataValueField: "value",
            dataSource: [
                { text: "Chưa thực hiện", value: "0" },
                { text: "Đang xử lý", value: "1" },
                { text: "Quá hạn", value: "2" },
                { text: "Hoàn thành", value: "3" },
                { text: "Hoàn thành trễ hạn", value: "3" }

            ],
            index: 0,
            change: onChange
        }).data("kendoDropDownList");

        $("#btnThongke").click(function () {
                $.ajax({
                    url: "@Url.Action("ThongKe", "TinhHinhThucHien")",
                    type: "POST",
                    data: {
                        thongKeTheo: comboLoaiThongKe.value(),
                        tyNgay: $('#TuNgay').val(),
                        denNgay: $('#DenNgay').val(),
                        idNguonChiDao: comboKhoi.value(),
                        idDonvi: comboDonVi.value(),
                        idKhoiDonvi: comboKhoiDonVi.value(),
                        idnguoitheodoi: comboNguoitheodoi.value(),
                        idnguoichidao: comboNguoichidao.value(),
                       trangthai:combotinhhinhthuchien.value()

            },
                success: function (response) {
                    $('#TonghopTHXLVB').html(response);
                }
            });

            return false;
        });

        $('#btnBaoCao').click(function() {
            var url = "@Url.Action("TinhHinhXuLy","BaoCao")";
            url += "?loai=" + comboLoaiThongKe.value();
            url += "&tuNgay=" + $('#TuNgay').val();
            url += "&denNgay=" + $('#DenNgay').val();
            switch (comboLoaiThongKe.value()) {
                case "0":
                    url += "&key=" + comboKhoi.value();
                    url += "&name=" + comboKhoi.text();
                    break;
                case "1":
                    url += "&key=" + comboDonVi.value();
                    url += "&name=" + comboDonVi.text();
                    url += "&keyext=" + comboKhoiDonVi.value();
                    url += "&nameext=" + comboKhoiDonVi.text();
                    break;
                case "2":
                    url += "&key=" + comboNguoitheodoi.value();
                    url += "&name=" + comboNguoitheodoi.text();
                    break;
                case "3":
                    url += "&key=" + comboNguoichidao.value();
                    url += "&name=" + comboNguoichidao.text();
                    break;
            }

            window.open(url, "_blank");

            return false;
        });
    });


</script>
