@model QLVB.DTO.Tinhchatvb.EditTinhchatViewModel


<div class="box dark">
    <form class="form-horizontal" id="formEdit">
        <span id="ketquaSave" class="validation-summary-valid"></span>
        <header>
            <nav style="padding: 3px;">
                <button id="Savebtn" type="button" class="btn btn-sm btn-primary btn-flat " data-original-title="" title=""><i class="glyphicon glyphicon-floppy-saved"></i>&nbsp;Ghi nhận</button>
                <button id="Backbtn" type="button" class="btn btn-sm btn-primary btn-flat " data-original-title="" title=""><i class="glyphicon glyphicon-arrow-left"></i>&nbsp;Bỏ qua</button>
            </nav>
        </header>

        @Html.HiddenFor(m => m.intid)
        @Html.HiddenFor(m => m.intloai)
        <div class="form-group form-group-window">
            @Html.LabelFor(m => m.strkyhieu, new { @class = "control-label col-sm-4" })
            <div class="col-sm-6">
                @Html.TextBoxFor(m => m.strkyhieu, new { @class = "form-control form-control-window", placeholder = "Mã chức danh" })
            </div>
        </div>
        <div class="form-group form-group-window ">
            @Html.LabelFor(m => m.strtentinhchatvb, new { @class = "control-label col-sm-4" })
            <div class="col-sm-6">
                @Html.TextBoxFor(m => m.strtentinhchatvb, new { @class = "form-control form-control-window", placeholder = "Tên chức danh" })
            </div>
        </div>
        <div class="form-group form-group-window ">
            @Html.LabelFor(m => m.strmota, new { @class = "control-label col-sm-4" })
            <div class="col-sm-6">
                @Html.TextBoxFor(m => m.strmota, new { @class = "form-control form-control-window", placeholder = "Ghi chú" })
            </div>
        </div>
        
    </form>
</div>
<script type="text/javascript">
    $("#Savebtn").click(function () {
              
        var validatable = $("#formEdit").kendoValidator().data("kendoValidator");
        if (validatable.validate()) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("Save", "Tinhchatvb")',
                dataType: "json",
                data: $("#formEdit").serialize() ,
                success: function (data) {
                    if (data == 1) {
                        ShowResult("ketquaSave", "Cập nhật thành công");
                        RefreshGrid();
                    }
                    else {
                        ShowResult("ketquaSave", "Lỗi !!!");
                        RefreshGrid();
                    }
                },
            });
        }
    });
    $('#Backbtn').click(function () {
        CloseEditLoaivb();
    })
</script>
