@{
    ViewBag.Title = "Tính chất văn bản";
}

@section header{
    <i class="glyphicon glyphicon-list-alt">&nbsp;</i>Tính chất văn bản
}

<div class="row">
    <div class="col-sm-4">
        @(Html.Kendo().TreeView()
            .Name("treeview")
            .ExpandAll(true)
            .Events(events => events.Select("onSelect_treeview"))
            .HtmlAttributes(new { style="overflow-y:hidden;" })
            .Items(treeview =>
            {
                treeview.Add().Text("Văn bản khẩn").Id("1")
                    .SpriteCssClasses("folder");

                treeview.Add().Text("Văn bản mật").Id("2")
                    .SpriteCssClasses("folder");
            })
        )
    </div>
    <div class="col-sm-8" id="listtinhchatvb">
        @*@Html.Action("_Listtinhchatvb", "Tinhchatvb", new { intloai = 1 })*@
    </div>
    @Html.Hidden("idloaivb")
    @Html.Hidden("idtinhchat")
</div>

<script type="text/javascript">
    function onSelect_treeview(e) {
        var text = $("#treeview").getKendoTreeView().dataItem(e.node).text;
        var intloai = $("#treeview").getKendoTreeView().dataItem(e.node).id;
        SetIdLoaivb(intloai);
        var url = '@Url.Action("_Listtinhchatvb", "Tinhchatvb", (new { intloai = "__id__" }))'.replace('__id__', intloai);
        $('#listtinhchatvb').load(url);
    }
    function onChange(arg) {
        var selected = $.map(this.select(), function (item) {
            var value = $(item).text();
            var grid = $("#grid").data("kendoGrid");
            var row = grid.select();
            var intid = grid.dataItem(row).intid;
            SetIdTinhchat(intid);
        });
    }
    function SetIdLoaivb(idloaivb) {        
        $('#idloaivb').val(idloaivb);
    }
    function GetIdLoaivb() {
        var id = $('#idloaivb').val();
        return id;
    }
    function SetIdTinhchat(idtinhchat) {
        $('#idtinhchat').val(idtinhchat);
    }
    function GetIdTinhchat() {
        var id = $('#idtinhchat').val();
        return id;
    }
</script>

@(Html.Kendo().Window()
    .Name("EditLoaivb")
    .Draggable()
    .AutoFocus(true)
    .Title("Cập nhật tính chất văn bản")
    .Resizable()
    .Width(500)
    .HtmlAttributes(new { style = "height:100%;" })
    .Visible(false)
    .Actions(actions => actions.Minimize().Maximize().Close())
    .Content(
    @<text>
        <div id="detail-editLoaivb">
        </div>
    </text>
    )
)