@model QLVB.DTO.Hoso.PhathanhVBViewModel

<div class="box " id="tbar">
	<header>
		<nav style="padding: 3px;">                  
			<button id="SavePhathanhbtn" type="button" class="btn btn-sm btn-primary btn-flat " data-original-title="" title=""><i class="glyphicon glyphicon-floppy-saved"></i>&nbsp;Ghi nhận</button>
			
			<button id="BackPhathanhbtn" type="button" class="btn btn-sm btn-primary btn-flat " data-original-title="" title=""><i class="glyphicon glyphicon-arrow-left"></i>&nbsp;Quay lại</button>
		</nav>
	</header>
</div>

<div id="phathanhvanban">
	<div class="row">
		<div class="col-sm-12">
			<span id="ketqua" class="validation-summary-valid"></span>
			<form class="form-horizontal" id="formDuthaoVanban" method="post" action="@Url.Action("_DuthaoVB", "Hoso")">
				@Html.HiddenFor(m=>m.idhoso)
				@Html.HiddenFor(m=>m.idvanbanden)
                @Html.HiddenFor(m=>m.strlistfile)
				<div class="form-group form-group-window">
					<label class="col-sm-3 control-label"><span style="color:red">*&nbsp;</span>Loại văn bản</label>
					<div class="col-sm-5">
						@(Html.Kendo().DropDownList()
                                    .Name("intidloaivanban")
									.BindTo(Model.PhanloaiVanban)
									.DataTextField("strtenvanban")
									.DataValueField("intid")
									//.Value(Model.intidloaivanban.ToString())
									.HtmlAttributes(new { @style = "width:100%;" })
						)

					</div>
				</div>

				<div class="form-group form-group-window">
					<label class="col-sm-3 control-label"><span style="color:red">*&nbsp;</span>Trích yếu</label>
					<div class="col-sm-7">
						@Html.TextAreaFor(u => u.strtrichyeu, new
								{
									@class = "form-control",
									@rows = "4",
									@Value = Model.strtrichyeu
								})
					</div>
				</div>

				<div class="form-group form-group-window">
					<label class="col-sm-3 control-label"><span style="color:red">*&nbsp;</span>Người duyệt</label>
					<div class="col-sm-5">						
                        @(Html.Kendo().DropDownList()
                                    .Name("idnguoiduyet")
                                    .BindTo(Model.Nguoiky)
                                    .DataTextField("strhoten")
                                    .DataValueField("intid")                                    
                                    .HtmlAttributes(new { @style = "width:100%;" })
                        )
					</div>
				</div>
								

			</form>
		</div>
	</div>
</div>
<script type="text/javascript">
	$('#BackPhathanhbtn').click(function () {
		CloseDuthaoVB();
	})
	$('#SavePhathanhbtn').click(function () {
		var validatable = $("#formDuthaoVanban").kendoValidator({
			rules: {                
				trichyeu: function (input) {
					if (input.is("[name=strtrichyeu]")) {
						return $('#strtrichyeu').val() != "";
					}
					return true;
				},
				nguoiky: function (input) {
					if (input.is("[name=strnguoiky]")) {
						return $('#strnguoiky').val() != "";
					}
					return true;
				}                
			},
			messages: {                
				trichyeu: "*",
				nguoiky: "*"                
			}            
		}).data("kendoValidator");

		if (validatable.validate()) {           
			SubmitFormAddVanban();            
		}
	})
	function SubmitFormAddVanban() {
		var form = $("#formDuthaoVanban").serialize();
		$.ajax(
		{
			type: "POST",
			url: '@Url.Action("_DuthaoVB", "Hoso")',
			data:  form ,
			success: function (data) {
				if (data == 1) {
				    ReloadThongtinxuly();
				    CloseDuthaoVB();
				}
				else {
					//OpenXulyQuytrinh(idhoso);
					SetThongbao(data);
				}
			}
		});
	}
</script>
