@model QLVB.DTO.Hoso.DetailHosoViewModel

<table class="table-condensed table-bordered responsive-table" style="width:100%;">
    <tr>
        <td colspan="4" class="title-header">
            <i class="glyphicon glyphicon-arrow-right"></i>&nbsp;QUÁ TRÌNH XỬ LÝ
        </td>
    </tr>
    <tr>
        <td class="table-col-4" colspan="4">
            <b>Phiếu trình</b>
            @if (Model.phieutrinh.Count() != 0)
            {
                <table class="table-condensed table-bordered responsive-table table-striped" style="width:100%;">
                    <thead>
                        <tr>
                            <td style='width: 15%; text-align: center;'><i>Người trình</i></td>
                            <td style='width: 35%; text-align: center;'><i>Ý kiến đề xuất</i></td>
                            <td style='width: 15%; text-align: center;'><i>Lãnh đạo</i></td>
                            <td style='width: 35%; text-align: center;'><i>Ý kiến chỉ đạo</i></td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var m in Model.phieutrinh)
                        {
                            <tr>
                                <td style='width: 15%; text-align: center;'>@m.strcanbotrinh</td>
                                <td style='width: 35%;'>@m.strnoidungtrinh<br />@m.strngaytrinh</td>                                
                                <td style='width: 15%; text-align: center;'>@m.strlanhdaotrinh</td>
                                <td style='width: 35%;'>
                                    @if (m.IsChoykienchidao)
                                    {
                                        <a href="javascript:OpenPhieutrinh('@m.idphieutrinh');" style="color:blue;">
                                            <i>Bấm vào đây để cho ý kiến chỉ đạo</i>
                                        </a>
                                    }
                                    else
                                    {
                                        @m.strykienchidao<br />@m.strngaychidao
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p>
                    <i>Không có dữ liệu</i>
                </p>
            }
        </td>

    </tr>

    <tr>
        <td class="table-col-4" colspan="4">
            <b>Thông tin xử lý</b>
            @if (Model.hosoykien.Count() > 0)
            {
                <table class="table-condensed table-bordered responsive-table table-striped" style="width:100%;">
                    <thead>
                        <tr>
                            <td style='width: 15%; text-align: center;'><i>Thời gian</i></td>
                            <td style='width: 35%; text-align: center;'><i>Nội dung trao đổi</i></td>
                            <td style='width: 25%; text-align: center;'><i>Người xử lý</i></td>
                            <td style='width: 25%; text-align: center;'><i>Đơn vị </i></td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var m in Model.hosoykien)
                        {
                            <tr>
                                <td style='width: 15%; text-align: center;'>@m.strthoigian</td>
                                <td style='width: 35%; '>
                                    @m.strkykien
                                    @if (m.DownloadFiles.Count() > 0)
                                    {
                                        <br />                                       
                                        //Html.RenderPartial("_ViewFile", m.DownloadFiles);
                                        Html.RenderPartial("_ViewFileHoso", m.DownloadFiles);
                                    }
                                </td>
                                <td style='width: 25%; text-align: center;'>@m.strtencanbo</td>
                                <td style='width: 25%; text-align: center;'>@m.strtendonvi</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p>
                    <i>Không có dữ liệu</i>
                </p>
            }
        </td>
    </tr>
    <tr>
        <td class="table-col-4" colspan="4">
            <b>Luân chuyển văn bản</b>
            <table class="table-condensed table-bordered responsive-table" style="width:100%;">
                <tr>
                    <td style='width: 15%; text-align: center;'><i>Thời gian</i></td>
                    <td style='width: 25%; text-align: center;'><i>Đơn vị xử lý</i></td>
                    <td style='width: 20%; text-align: center;'><i>Người xử lý</i></td>
                    <td style='width: 20%; text-align: center;'><i>Vai trò xử lý</i></td>
                    <td style='width: 20%; text-align: center;'><i>Người chuyển xử lý</i></td>
                </tr>
                @{
                    int stt = 1;
                    string strcolor = "#fff";
                    foreach (var m in Model.doituongxuly)
                    {
                        stt++;
                        strcolor = stt % 2 == 1 ? "#f5f5f5" : "#fff";

                        <tr style="background:@strcolor">
                            <td style='width: 15%; text-align: center;'>@m.strngaytao</td>
                            <td style='width: 25%; text-align: center;'>@m.strtendonvi</td>
                            <td style='width: 20%; text-align: center;'>@m.strtencanbo</td>
                            <td style='width: 20%; text-align: center;'>@Html.Raw(m.strvaitro)</td>
                            <td style='width: 20%; text-align: center;'>@m.strtennguoitao</td>
                        </tr>
                    }
                }
            </table>

        </td>
    </tr>
    <!--=================VAN BAN LIEN QUAN=================-->
    <tr>
        <td colspan="4" class="title-header">
            <i class="glyphicon glyphicon-arrow-right"></i>&nbsp;KẾT QUẢ HỒ SƠ
        </td>
    </tr>
    <tr>
        <td class="table-col-4" colspan="4">
            Tình trạng Xử lý: @Model.strtrangthai
        </td>
    </tr>
    <tr>
        <td class="table-col-4" colspan="4">
            Ngày hoàn thành: @Model.strngayketthuc
        </td>
    </tr>
    <tr>
        <td class="table-col-4" colspan="4">
            Người hoàn thành: @Model.strnguoihoanthanh
        </td>
    </tr>
</table>