
@{
	ViewBag.Title = "Index";
	bool isBack = ViewBag.isBack;
	int idnguoinhap = ViewBag.idnguoinhap;
}

@section header{
	<i class="glyphicon glyphicon-file">&nbsp;</i>Hồ sơ công việc
}
@Html.Action("_ToolbarCongviec")
<div class="row">
	<div class="col-sm-3 col-md-2" id="category">
		@Html.Action("_CategoryCongviec")
	</div>
	<div class="col-sm-9 col-md-10" id="listcongviec">
		@Html.Action("_ListCongviec", new { isBack = isBack })
	</div>    
	@Html.Hidden("idhoso")
	@Html.Hidden("strtieude")
</div>
@Html.Partial("_formDeleteHoso","Hoso")
@Html.Action("SearchHoso","Hoso")
<script type="text/javascript">
	function onChange(arg) {
		var selected = $.map(this.select(), function (item) {
			var value = $(item).text();
			var grid = $("#grid").data("kendoGrid");
			var row = grid.select();
			var intid = grid.dataItem(row).intid;
			var strtieude = grid.dataItem(row).strtieude;
			var inttrangthai = grid.dataItem(row).inttrangthai;
			var idnguoinhap = grid.dataItem(row).idnguoinhap;
			SetIdHoso(intid);
			SetTieude(strtieude);
			DisplayToolbar(idnguoinhap);
			var currentPage = grid.dataSource.page();
			
		});
	}
	function onDataBound(arg) {
		dataView = this.dataSource.view();
		for (var i = 0; i < dataView.length; i++) {
			if (dataView[i].inttrangthai == 0) {
				var uid = dataView[i].uid;
				$("#grid tbody").find("tr[data-uid=" + uid + "]").addClass("chuaduyet");
			}
		}
	}
	function DisplayToolbar(idnguoinhap) {
		if (idnguoinhap == '@idnguoinhap') {
			ButtonEnable("Editbtn", true);
			ButtonEnable("Deletebtn", true);
			ButtonEnable("XLVBbtn", true);
		} else {
			ButtonEnable("Editbtn", false);
			ButtonEnable("Deletebtn", false);
			ButtonEnable("XLVBbtn", false);
		}	        
	}
	function SetIdHoso(idhoso) {
		$('#idhoso').val(idhoso);
	}
	function GetIdHoso() {
		return $('#idhoso').val();
	}
	function SetTieude(strtieude) {
		$('#strtieude').val(strtieude);
	}
	function GetTieude() {
		return $('#strtieude').val();
	}
	
</script>

