@model QLVB.DTO.Hoso.PhanXLVBViewModel

@{
    ViewBag.Title = "PhanXLVB";
    bool isDongHoso = QLVB.Common.Utilities.AppSettings.IsKetthucHosoVanban;
}

@section header{
    <i class="glyphicon glyphicon-file">&nbsp;</i>Phân xử lý văn bản 
}

<div class="box " id="tbar">
    <header>
        <nav style="padding: 3px;">           
            <button id="Savebtn" type="button" class="btn btn-sm btn-primary btn-flat " data-original-title="" title=""><i class="glyphicon glyphicon-floppy-saved"></i>&nbsp;Ghi nhận</button>
            <button id="Phoihopxulybtn" disabled type="button" class="btn btn-sm btn-primary btn-flat " data-original-title="" title=""><i class="glyphicon glyphicon-user"></i>&nbsp;Phối hợp xử lý</button>
            <button id="Backbtn" type="button" class="btn btn-sm btn-primary btn-flat " data-original-title="" title=""><i class="glyphicon glyphicon-arrow-left"></i>&nbsp;Quay lại</button>

        </nav>
    </header>
</div>

<div class="row">
    <div class="col-sm-10">
        <span id="ketqua" class="validation-summary-valid"></span>
        <form class="form-horizontal" id="formPhanXLVB" method="post" action="@Url.Action("PhanXLVB","Hoso")">
            @Html.Hidden("idhosocongviec", Model.HosocongviecModel.intid)
            @Html.Hidden("idvanban", Model.intidvanban)

            <div class="form-group form-group-window">
                <label class="col-sm-4 control-label"><span style="color:red">*&nbsp;</span>Tiêu đề</label>
                <div class="col-sm-8">
                    @Html.TextArea("strtieude", Model.HosocongviecModel.strtieude, new
                        {
                            @class = "form-control",
                            @Value = Model.HosocongviecModel.strtieude
                        })
                </div>
            </div>
            <div class="form-group form-group-window">
                @Html.Label("Lĩnh vực", new { @class = "control-label col-sm-4" })
                <div class="col-sm-5">
                    @(Html.Kendo().DropDownList()
                        .Name("idlinhvuc")
                        .BindTo(Model.LinhvucModel)
                        .DataTextField("strtenlinhvuc")
                        .DataValueField("intid")
                        .Value(Model.HosocongviecModel.intlinhvuc.ToString())
                        .HtmlAttributes(new { @style = "width:100%;" })
                        .OptionLabel("    ")
                    )
                </div>
            </div>
            <div class="form-group form-group-window">
                <label class="col-sm-4 control-label"><span style="color:red">*&nbsp;</span>Ngày mở hồ sơ</label>
                <div class="col-sm-5">
                    @(Html.Kendo().DatePicker()
                        .Name("strngaymohoso")
                        .Value(Model.HosocongviecModel.strngaymohoso)
                        .HtmlAttributes(new { style = "width:100%;" })
                        .Format("dd/MM/yyyy")
                    )
                </div>
            </div>
            <div class="form-group form-group-window">
                @Html.Label("Nội dung công việc", new { @class = "control-label col-sm-4" })
                <div class="col-sm-8">
                    @Html.TextArea("strnoidung", Model.HosocongviecModel.strnoidung, new
                        {
                            @class = "form-control",
                            @Value = Model.HosocongviecModel.strnoidung
                        })
                </div>
            </div>
            <div class="form-group form-group-window">
                <label class="col-sm-4 control-label"><span style="color:red">*&nbsp;</span>Lãnh đạo giao việc</label>
                <div class="col-sm-5">
                    @(Html.Kendo().DropDownList()
                        .Name("idlanhdaogiaoviec")
                        .BindTo(Model.LanhdaogiaoviecModel)
                        .DataTextField("strhoten")
                        .DataValueField("intid")
                        .Value(Model.intidlanhdaogiaoviec.ToString())
                        .HtmlAttributes(new { @style = "width:100%;" })
                        .Template("#: strkyhieu # &nbsp;&nbsp; || &nbsp;&nbsp; #: strhoten #")
                    )
                </div>
            </div>
            <div class="form-group form-group-window">
                <label class="col-sm-4 control-label">Lãnh đạo phụ trách </label>
                <div class="col-sm-5">
                    @(Html.Kendo().MultiSelect()
                        .Name("idlanhdaophutrach")
                        .Placeholder("")
                        .BindTo(Model.LanhdaophutrachModel)
                        .DataTextField("strhoten")
                        .DataValueField("intid")
                        .Value(Model.listidlanhdaophutrach)
                            //.Value( new string[] { "1","2" } )
                        .HtmlAttributes(new { @style = "width:100%;" })
                        .ItemTemplate("#: strkyhieu # &nbsp;&nbsp; || &nbsp;&nbsp; #: strhoten #")
                    )
                </div>
            </div>
            <div class="form-group form-group-window">
                <label class="col-sm-4 control-label">Đơn vị thực hiện</label>
                <div class="col-sm-5">
                    @(Html.Kendo().DropDownList()
                    .Name("intDonvi")
                    .HtmlAttributes(new { style = "width:100%;" })
                    .OptionLabel("Đơn vị thực hiện...")
                    .DataTextField("strtendonvi")
                    .DataValueField("intid")
                    .BindTo(Model.listDonvi)
                    )

                </div>
            </div>
            <div class="form-group form-group-window">
                <label class="col-sm-4 control-label"><span style="color:red">*&nbsp;</span>Xử lý chính</label>
                <div class="col-sm-5">
                    <script>
                        function filterDonvi() {
                            return {
                                iddonvi: $("#intDonvi").val()
                            };
                        }
                    </script>
                    @(Html.Kendo().DropDownList()
                    .Name("idxulychinh")
                    .HtmlAttributes(new { style = "width:100%;" })
                    .OptionLabel("Cán bộ thực hiện...")
                    .DataTextField("strhoten")
                    .DataValueField("intid")
                    .Value(Model.intidxulychinh.ToString())
                    .DataSource(source =>
                    {
                        source.Read(read =>
                        {
                            read.Action("GetCanbothuchien", "Hoso")
                                .Data("filterDonvi");
                        })
                         .ServerFiltering(true);
                    })
                    .Enable(false)
                    .AutoBind(false)
                    .CascadeFrom("intDonvi")
                    )
                </div>
            </div>
            <div class="form-group form-group-window">
                <label class="col-sm-4 control-label">Thời hạn xử lý</label>
                <div class="col-sm-5">
                    @(Html.Kendo().DatePicker()
                        .Name("strthoihanxuly")
                        .Value(Model.HosocongviecModel.strthoihanxuly)
                        .HtmlAttributes(new { style = "width:100%;" })
                        .Format("dd/MM/yyyy")
                    )
                </div>
            </div>
            @if (isDongHoso)
            {
                <div class="form-group form-group-window">
                    <label class="col-sm-4 control-label">Đóng Hồ sơ xử lý</label>
                    <div class="col-sm-5">
                       @Html.CheckBox("IsDongHoso",Model.IsDonghoso)
                    </div>
                </div>
            }
            

        </form>

        <br />
    </div>
</div>
@Html.Action("_ViewPhoihopxuly","Hoso")

<script type="text/javascript">
    $(document).ready(function () {
        setTimeout(function () { $('#strnoidung').focus(); }, 800);
        @if (Model.IsSave == true)
        {
            <text>
            ShowResult("ketqua", "Cập nhật thành công");
            setTimeout(function () { $('#ketqua').hide(); }, 3000);
            </text>
        }
        var idhoso = '@Model.HosocongviecModel.intid';
        if (idhoso != 0) {
            ButtonEnable("Phoihopxulybtn", true);
        }
    });
    $('#Backbtn').click(function () {
        var url = '@Url.Action("Index", "Vanbanden", new { isBack = true })';
        $().redirect(url);
    });
    $('#Savebtn').click(function () {
        var validatable = $("#formPhanXLVB").kendoValidator({
            rules: {
                ngaymohoso: function (input) {
                    if (input.is("[name=strngaymohoso]")) {
                        var ngay = $('#strngaymohoso').val();
                        if (ngay == "") {
                            return false;
                        } else {
                            var date = kendo.parseDate(ngay);
                            if (!date) {
                                return false;
                            }
                            return true;
                        }
                    }
                    return true;
                },               
                tieude: function (input) {
                    if (input.is("[name=strtieude]")) {
                        return $('#strtieude').val() != "";
                    }
                    return true;
                },                
                hanxuly: function (input) {
                    if (input.is("[name=strthoihanxuly]")) {
                        var ngay = $('#strthoihanxuly').val();
                        if (ngay != "") {
                            var date = kendo.parseDate(ngay);
                            if (!date) {
                                return false;
                            }
                            return true;
                        }
                    }
                    return true;
                }                
            },
            messages: {
                ngaymohoso: "Ngày không hợp lệ",                
                strtieude: "*",                
                hanxuly: "Ngày không hợp lệ"
            }
            //errorTemplate: "<span>#=message#</span>"
        }).data("kendoValidator");

        if (validatable.validate()) {
            SubmitFormPhanXLVB();
            ShowLoading();
        }
        //var multiselect = $("#idlanhdaophutrach").data("kendoMultiSelect");
        //// get data items for the selected options.
        //var dataItem = multiselect.dataItems();
        //var value = multiselect.value();
    });
    function SubmitFormPhanXLVB() {
        $('#formPhanXLVB').submit();
    };
    $('#Phoihopxulybtn').click(function () {
        var idhoso = '@Model.HosocongviecModel.intid';
        if (idhoso != 0) {
            OpenViewPhoihopxuly(idhoso);
        } 
    });

</script>
