@model IEnumerable<QLVB.Domain.Entities.Diachiluutru>
@using QLVB.Domain.Entities
@using Kendo.Mvc.UI.Fluent
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-sm-12">
        <div class="box ">
            <header>
                <nav style="padding: 3px;">
                    <button id="AddDonvibtn" type="button" class="btn btn-sm btn-primary btn-flat " data-original-title="" title="Thêm mới"><i class="glyphicon glyphicon-plus"></i>&nbsp;Thêm</button>
                    <button id="EditDonvibtn" type="button" class="btn btn-sm btn-primary btn-flat " data-original-title="" title=""><i class="glyphicon glyphicon-pencil"></i>&nbsp;Sửa</button>
                    <button id="DeleteDonvibtn" type="button" class="btn btn-sm btn-primary btn-flat " data-original-title="" title=""><i class="glyphicon glyphicon-trash"></i>&nbsp;Xóa</button>

                </nav>
            </header>
        </div>

        @(
        Html.Kendo().TreeView()
            .Name("treeview")
            .ExpandAll(true)
            .Events(events => events.Select("onSelect_treeview"))
            .BindTo((IEnumerable<Diachiluutru>)Model, (NavigationBindingFactory<TreeViewItem> mappings) =>
            {
                mappings.For<Diachiluutru>(binding => binding.ItemDataBound((item, donvi) =>
                    {
                        item.Text = donvi.strtendonvi;
                        item.Id = donvi.Id.ToString();
                    })
                    .Children(donvi => donvi.donviChild));
            })
        )
        
    </div>    
    @Html.Hidden("iddonvi")
    
</div>

<script type="text/javascript">
    function onSelect_treeview(e) {
        var text = $("#treeview").getKendoTreeView().dataItem(e.node).text;        
        var iddonvi = $("#treeview").getKendoTreeView().dataItem(e.node).id;
        SetIdDonvi(iddonvi);
                
    }
    function SetIdDonvi(iddonvi) {
        $('#iddonvi').val(iddonvi);
    }
    function GetIdDonvi() {
        var id = $('#iddonvi').val();
        return id;
    }
    function CloseEditDonvi() {
        var window = $("#EditDonvi").data("kendoWindow");
        window.close();
    }
    function OpenEditDonvi() {
        var window = $("#EditDonvi").data("kendoWindow");
        window.center();
        window.open();
    }
    $("#AddDonvibtn").bind("click", function () {
        var id = GetIdDonvi();
        if (id != 0) {
            var url = '@Url.Action("_formEditDonvi", "Luutru")';
            url = url + '?type=add&id=' + id;
            $('#detail-editDonvi').load(url);
            OpenEditDonvi();
        } else {
            SetThongbao("Bạn chưa chọn đơn vị");
        }
    });
    $("#EditDonvibtn").bind("click", function () {
        var id = GetIdDonvi();
        if (id != 0) {           
            var url = '@Url.Action("_formEditDonvi", "Luutru")';
            url = url + '?type=edit&id=' + id;
            $('#detail-editDonvi').load(url);
            OpenEditDonvi();            
        } else {
            SetThongbao("Bạn chưa chọn đơn vị");
        }
    });
    $("#DeleteDonvibtn").bind("click", function () {
        var id = GetIdDonvi();
        if (id != 0) {            
            var url = '@Url.Action("_formDeleteDonvi", "Luutru", (new { id = "__id__" }))'.replace('__id__', id);
            $('#detail-editDonvi').load(url);
            OpenEditDonvi();           
        } else {
            SetThongbao("Bạn chưa chọn đơn vị");
        }
    });
</script>
@(Html.Kendo().Window()
    .Name("EditDonvi")
    .Draggable()
    .AutoFocus(true)
    .Title("Cập nhật đơn vị")
    .Resizable()
    .Width(500)
    .HtmlAttributes(new { style = "height:100%;" })
    .Visible(false)
    .Actions(actions => actions.Minimize().Maximize().Close())
    .Content(
    @<text>
        <div id="detail-editDonvi">
        </div>
    </text>
    )
)