<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>@QLVB.Common.Utilities.AppSettings.SiteName</title>
    <!--Mobile first-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--IE Compatibility modes-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-TileColor" content="#5bc0de">
    <meta name="msapplication-TileImage" content="Content/assets/img/metis-tile.png">
    <!-- Bootstrap -->    
    <link rel="stylesheet" href=@Url.Content("~/Content/assets/lib/bootstrap/css/bootstrap.min.css")>
    @Styles.Render("~/Content/metis/css")
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="Content/assets/lib/html5shiv/html5shiv.js"></script>
          <script src=@Url.Content("~/Content/assets/lib/respond/respond.min.js")></script>
        <![endif]-->
        
    @Scripts.Render("~/bundles/modernizr")
    <!--jQuery 2.1.1 -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/metis/js")

    @Scripts.Render("~/bundles/lib")

    @Scripts.Render("~/bundles/jqueryui")

    @Scripts.Render("~/bundles/jqueryval")
</head>
<body>
    @RenderBody()
</body>   

</html>
