@using DLTD.Web.Main.Models.Enum
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Hệ thống cơ sở dữ liệu theo dõi</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/kendo/css")

    @RenderSection("style", required: false)

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/kendo")
    @Scripts.Render("~/bundles/moment")
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("CƠ SỞ DỮ LIỆU THEO DÕI", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="glyphicon glyphicon-list"></i> Nhiệm vụ <span class="caret caret-white"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="@Url.Action("Index","Home")"><i class="glyphicon glyphicon-share"></i> Tất cả </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index","Home", new {trangthai = TrangThaiVanBan.Moi})"><i class="glyphicon glyphicon-share"></i> Mới</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index","Home", new {trangthai = TrangThaiVanBan.HoanThanh})"><i class="glyphicon glyphicon-check"></i> Đã hoàn thành</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index","Home", new {trangthai = TrangThaiVanBan.DangXuLy})"><i class="glyphicon glyphicon-edit"></i> Đang thực hiện</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index","Home", new {trangthai = TrangThaiVanBan.QuaHan})"><i class="glyphicon glyphicon-info-sign"></i> Quá hạn</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index","Home", new {trangthai = TrangThaiVanBan.TraLai})"><i class="glyphicon glyphicon-info-sign"></i> Trả lại</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "TinhHinhThucHien")"><i class="glyphicon glyphicon-list-alt"></i> Tình hình thực hiện</a>
                    </li>
                    @*<li><a href="@Url.Action("Index", "BaoCao", new { id = DLTD.Web.Main.Controllers.Report.ChiTiet })"><i class="glyphicon glyphicon-list-alt"></i> Báo cáo chi tiết</a></li>
                        <li><a href="@Url.Action("Index", "BaoCao", new { id = DLTD.Web.Main.Controllers.Report.TongHop })"><i class="glyphicon glyphicon-th-list"></i> Báo cáo tổng hợp</a></li>*@

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="glyphicon glyphicon-list"></i> Báo cáo <span class="caret caret-white"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="@Url.Action("Index", "BaoCao", new { id = DLTD.Web.Main.Controllers.Report.ChiTiet })"><i class="glyphicon glyphicon-list-alt"></i> Báo cáo chi tiết</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "BaoCao", new { id = DLTD.Web.Main.Controllers.Report.TongHop })"><i class="glyphicon glyphicon-th-list"></i> Báo cáo tổng hợp</a>
                        </ul>
                    </li>
                    </ul>
                    @*<ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        </ul>*@
                    @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container-fluid body-content">
        @RenderBody()
        @*<hr />
            <footer>
                <p>&copy; @DateTime.Now.Year TRUNG TÂM TIN HỌC - VĂN PHÒNG UBND TỈNH ĐỒNG NAI. ĐT: 061.3820704.</p>
            </footer>*@
    </div>
    <script type="text/javascript">
        moment.locale("vi");
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
