@using QLVB.DTO
<div class="box ">
    <header>
        <nav class="box-toolbar">
            <button id="AddTochucbtn" type="button" class="btn btn-sm btn-primary btn-flat button-box" data-original-title="" title="Thêm mới loại văn bản"><i class="glyphicon glyphicon-plus"></i>&nbsp;Thêm</button>
            <button id="EditTochucbtn" type="button" class="btn btn-sm btn-primary btn-flat button-box" data-original-title="" title=""><i class="glyphicon glyphicon-pencil"></i>&nbsp;Sửa</button>
            <button id="DeleteTochucbtn" type="button" class="btn btn-sm btn-primary btn-flat button-box" data-original-title="" title=""><i class="glyphicon glyphicon-trash"></i>&nbsp;Xóa</button>
            <button id="UpdateTochucbtn" type="button" class="btn btn-sm btn-primary btn-flat button-box" data-original-title="" title=""><i class="glyphicon glyphicon-pencil"></i>&nbsp;Cập nhật Danh mục</button>
        </nav>
    </header>
</div>
@(Html.Kendo().Grid<QLVB.Domain.Entities.Tochucdoitac>()
    .Name("gridTochuc")
    .Columns(columns =>
    {
        columns.Bound(c => c.intid).Hidden();
        columns.Bound(c => c.strmatochucdoitac).Title("Ký hiệu").Width("15%");
        columns.Bound(c => c.strmadinhdanh).Title("Mã định danh");
        columns.Bound(c => c.strtentochucdoitac).Title("Tên đơn vị");
        columns.Bound(c => c.strmatructinh).Title("Mã trục tỉnh");
        columns.Bound(c => c.stremailvbdt).Title("Email văn bản");
    })
    .HtmlAttributes(new { style = "white-space: normal" })
    .Scrollable()
    .Sortable()
    .Selectable()
    .Resizable(resize => resize.Columns(true))
    .Pageable(pageable => pageable
        .Refresh(true)
        //.PageSizes(true)
        .ButtonCount(5)
        .Messages(ms => ms.Display(KendoGridDisplay.PageDisplay).Empty(KendoGridDisplay.PageEmpty)
            .First(KendoGridDisplay.PageFirst).Previous(KendoGridDisplay.PagePrevious)
            .Next(KendoGridDisplay.PageNext).Last(KendoGridDisplay.PageLast))
        )
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(QLVB.Common.Utilities.AppSettings.DisplayItemsPerPage)
        .Read(read => read.Action("Tochuc_Read", "Capcoquan", new { idkhoiph = (int)ViewBag.idkhoiph }))
        )
    .Events(events => events.Change("onChangeTochuc"))
)
<script type="text/javascript">
    $(window).resize(function () {
        SetGridHeightNext();
    });
    $(document).ready(function () {
        SetGridHeightNext();
    })
    function SetGridHeightNext() {
        var gridElement = $("#grid");
        var heightNext = gridElement.children(".k-grid-content").innerHeight();

        var gridNext = $("#gridTochuc");
        gridNext.children(".k-grid-content").height(heightNext);
    }
    function RefreshGridNext() {
        $("#gridTochuc").data("kendoGrid").dataSource.read();
        $("#gridTochuc").data("kendoGrid").refresh();
    }
    $("#AddTochucbtn").bind("click", function () {
        var id = 0;
        var idkhoiph = GetIdKhoiph();
        if (idkhoiph != 0) {
            var url = '@Url.Action("_formEditTochuc", "Capcoquan")';
            url = url + '?id=0&idkhoiph=' + idkhoiph;
            $('#detail-editTochuc').load(url);
            OpenEditTochuc();
        } else {
            SetThongbao("Bạn chưa chọn cấp cơ quan");
        }

    });
    $("#EditTochucbtn").bind("click", function () {
        var id = GetIdTochuc();
        var idkhoiph = GetIdKhoiph();
        if (id != 0) {
            var url = '@Url.Action("_formEditTochuc", "Capcoquan")';
            url = url + '?id=' + id + '&idkhoiph=' + idkhoiph;
            $('#detail-editTochuc').load(url);
            OpenEditTochuc();
        } else {
            SetThongbao("Bạn chưa chọn đơn vị");
        }
    });
    $("#DeleteTochucbtn").bind("click", function () {
        var id = GetIdTochuc();
        if (id != 0) {
            var url = '@Url.Action("_formDeleteTochuc", "Capcoquan", (new { id = "__id__" }))'.replace('__id__', id);
            $('#detail-editTochuc').load(url);
            OpenEditTochuc();
        } else {
            SetThongbao("Bạn chưa chọn đơn vị");
        }
    });
    $("#UpdateTochucbtn").bind("click", function () {
        var url = '@Url.Action("CapnhatDanhmucDonvi", "Capcoquan")';
        window.location = url;
    });
</script>





