@{
    ViewBag.Title = "Index";
}

@section header{
    <i class="glyphicon glyphicon-cog">&nbsp;</i>Cấp cơ quan bên ngoài
}

<div class="row">
    <div class="col-sm-5">
        @Html.Partial("_ListKhoiphathanh")
    </div>
    <div class="col-sm-7" id="listtochuc">
    </div>
    @Html.Hidden("idkhoiph")
    @Html.Hidden("idtochuc")
</div>
<script type="text/javascript">
    $(window).resize(function () {
        SetGridHeight();
    });
    $(document).ready(function () {
        SetGridHeight();
    })
    function onChange(arg) {
        var selected = $.map(this.select(), function (item) {
            var value = $(item).text();
            var grid = $("#grid").data("kendoGrid");
            var row = grid.select();
            var intid = grid.dataItem(row).intid;
            SetIdKhoiph(intid);
            var url = '@Url.Action("_ListTochuc", "Capcoquan", (new { idkhoiph = "__id__" }) )'.replace('__id__', intid);
            $('#listtochuc').load(url);
        });
    }
    function onChangeTochuc(arg) {
        var selected = $.map(this.select(), function (item) {
            var value = $(item).text();
            var grid = $("#gridTochuc").data("kendoGrid");
            var row = grid.select();
            var intid = grid.dataItem(row).intid;
            SetIdTochuc(intid);            
        });
    }
    function SetIdKhoiph(idkhoiph) {
        $('#idkhoiph').val(idkhoiph);
    }
    function GetIdKhoiph() {
        var id = $('#idkhoiph').val();
        return id;
    }
    function SetIdTochuc(idtochuc) {
        $('#idtochuc').val(idtochuc);
    }
    function GetIdTochuc() {
        var id = $('#idtochuc').val();
        return id;
    }
    function CloseEditKhoiph() {
        var window = $("#EditKhoiph").data("kendoWindow");
        window.close();
    }
    function OpenEditKhoiph() {
        var window = $("#EditKhoiph").data("kendoWindow");
        window.center();
        window.open();
    }
    function CloseEditTochuc() {
        var window = $("#EditTochuc").data("kendoWindow");
        window.close();
    }
    function OpenEditTochuc() {
        var window = $("#EditTochuc").data("kendoWindow");
        window.center();
        window.open();
    }
    $("#AddKhoiphbtn").bind("click", function () {
        var id = 0;
        var url = '@Url.Action("_formEditKhoiph", "Capcoquan", (new { id = "__id__" }))'.replace('__id__', id);
        $('#detail-editKhoiph').load(url);
        OpenEditKhoiph();
    });
    $("#EditKhoiphbtn").bind("click", function () {
        var id = GetIdKhoiph();
        if (id != 0) {
            var url = '@Url.Action("_formEditKhoiph", "Capcoquan", (new { id = "__id__" }))'.replace('__id__', id);
            $('#detail-editKhoiph').load(url);
            OpenEditKhoiph();
        } else {
            SetThongbao("Bạn chưa chọn cấp cơ quan");
        }
    });
    $("#DeleteKhoiphbtn").bind("click", function () {
        var id = GetIdKhoiph();
        if (id != 0) {
            var url = '@Url.Action("_formDeleteKhoiph", "Capcoquan", (new { id = "__id__" }))'.replace('__id__', id);
            $('#detail-editKhoiph').load(url);
            OpenEditKhoiph();
        } else {
            SetThongbao("Bạn chưa chọn cấp cơ quan");
        }
    });
    //---------------------------
    
</script>
@(Html.Kendo().Window()
    .Name("EditKhoiph")
    .Draggable()
    .AutoFocus(true)
    .Title("Cập nhật cấp cơ quan")
    .Resizable()
    .Width(500)
    .HtmlAttributes(new { style = "height:100%;" })
    .Visible(false)
    .Actions(actions => actions.Minimize().Maximize().Close())
    .Content(
    @<text>
        <div id="detail-editKhoiph">
        </div>
    </text>
    )
)

@(Html.Kendo().Window()
    .Name("EditTochuc")
    .Draggable()
    .AutoFocus(true)
    .Title("Cập nhật đơn vị")
    .Resizable()
    .Width(500)
    .HtmlAttributes(new { style = "height:100%;" })
    .Visible(false)
    .Actions(actions => actions.Minimize().Maximize().Close())
    .Content(
    @<text>
        <div id="detail-editTochuc">
        </div>
    </text>
    )
)


