@model QLVB.DTO.Tinhhinhxuly.ListTonghopVBDenViewModel

@section header{
	<i class="glyphicon glyphicon-tasks">&nbsp;</i>@Model.strloaivanban
}

<div class="box ">
	<header>
		<nav class="box-toolbar">        
			@if (Model.intloai == (int)QLVB.Domain.Entities.enumtinhtrangquytrinh.intloai.QuahanXL)
			{
				<button id="XemQuytrinhbtn" type="button" class="btn btn-sm btn-primary btn-flat button-box">
					<i class="glyphicon glyphicon-retweet"></i>&nbsp;Xem Quy trình&nbsp;
				</button>
			}            
			<button id="PrintListVBbtn" type="button" class="btn btn-sm btn-primary btn-flat button-box">
				<i class="glyphicon glyphicon-print"></i>&nbsp;In&nbsp;
			</button>
			<button id="Backbtn" type="button" class="btn btn-sm btn-primary btn-flat " data-original-title="" title=""><i class="glyphicon glyphicon-arrow-left"></i>&nbsp;Quay lại</button>
		</nav>
	</header>
</div>
<div id="ChitietQuytrinh">
	@Html.Action("_ChitietQuytrinh", new { intloai = Model.intloai, idquytrinh = Model.idquytrinh, idloaiquytrinh = Model.idloaiquytrinh, strngaybd=Model.strngaybd, strngaykt= Model.strngaykt })
</div>


@Html.Hidden("idvanban")
@Html.Hidden("idhoso")

@Html.Action("_ViewDetailVBDen", "Vanbanden")
@Html.Action("_ViewDetailVBDi", "Vanbandi")
@Html.Action("_ViewDetailHoso", "Hoso")

<script type="text/javascript">
	function SetColorVanban(inttinhtrangxuly) {
		var strClass = "";
		switch (inttinhtrangxuly) {
			case 0: // dang xu ly
				strClass = "dangxuly";
				break;
			case 1: // da hoan thanh
				strClass = "daxuly";
				break;
			default:  // null
				strClass = "daxuly";
				break;
		}
		return strClass;
	}
	function DisplayXuly(idhoso) {
		//if (idhoso == 0) {
		//	ButtonEnable("XLVBbtn", false);
		//} else {
		//	ButtonEnable("XLVBbtn", true);
		//}
	}
	function SetIdVanban(idvanban) {
		$('#idvanban').val(idvanban);
	}
	function GetIdVanban() {
		var id = $('#idvanban').val();
		return id;
	}
	function SetIdHoso(idhoso) {
		$('#idhoso').val(idhoso);
	}
	function GetIdHoso() {
		var id = $('#idhoso').val();
		return id;
	}
	function ViewDetailVBDen(id) {
		OpenViewDetailVBDen(id);
	}
	$('#Backbtn').click(function () {
		var url = '@Url.Action("Quytrinh", "Tinhhinhxuly", new { isBack = true })';
		$().redirect(url);
	});
	@*$('#XLVBbtn').click(function () {
		var idhosocongviec = 0;
		idhosocongviec = GetIdHoso();
		if (idhosocongviec != 0) {
			var url = '@Url.Action("XulyHoso", "Hoso", (new { id = "__id__" }))'.replace('__id__', idhosocongviec);
			window.location = url;
		} else {
			SetThongbao("Bạn chưa chọn văn bản");
		}
	})*@
	$('#XemQuytrinhbtn').click(function () {
		OpenViewTonghopQuytrinh();
	})
	$('#PrintListVBbtn').click(function () {
	    var idquytrinh = '@Model.idquytrinh';
	    var intloai = '@Model.intloai';
	    var strngaybd = '@Model.strngaybd';
	    var strngaykt = '@Model.strngaykt';
	    var url = '@Url.Action("ExportVBDenQuytrinh", "Tinhhinhxuly")';
	    url = url + '?idquytrinh=' + idquytrinh;
	    url = url + '&intloai=' + intloai;
	    url = url + '&strngaybd=' + strngaybd + '&strngaykt=' + strngaykt;
		window.location = url;
	})
	function CloseViewTonghopQuytrinh() {
		var window = $("#XemTonghopQuytrinh").data("kendoWindow");
		window.close();
	}
	function OpenViewTonghopQuytrinh() {        
		var idquytrinh = '@Model.idquytrinh';
		var intloai = '@Model.intloai';
		var strngaybd = '@Model.strngaybd';
		var strngaykt = '@Model.strngaykt';
		var url = '@Url.Action("_XemQuytrinh", "Tinhhinhxuly")';
		url = url + '?idquytrinh=' + idquytrinh;
		url = url + '&intloai=' + intloai;
		url = url + '&strngaybd=' + strngaybd + '&strngaykt=' + strngaykt;
		$('#detail-TonghopQuytrinh').load(url);

		var window = $("#XemTonghopQuytrinh").data("kendoWindow");
		window.center();
		window.open();
	}
	function ViewChitietVanbanQuytrinh(idnode) {
		var idquytrinh = '@Model.idquytrinh';
		var intloai = '@Model.intloai';
		var strngaybd = '@Model.strngaybd';
		var strngaykt = '@Model.strngaykt';
		var url = '@Url.Action("_ChitietQuytrinh", "Tinhhinhxuly")';
		url = url + '?idquytrinh=' + idquytrinh;
		url = url + '&intloai=' + intloai;
		url = url + '&strngaybd=' + strngaybd + '&strngaykt=' + strngaykt;
		url = url + '&NodeId=' + idnode;
		$('#ChitietQuytrinh').load(url);
	}
</script>
@(Html.Kendo().Window()
	.Name("XemTonghopQuytrinh")
	.Draggable()
	.AutoFocus(true)
	.Modal(false)
	.Title("Tổng hợp Quy trình xử lý")
	.Resizable()
	.Width(900)
	.Height(500)
	.Visible(false)
	.Actions(actions => actions.Minimize().Maximize().Close())
	.Content(
	@<text>
		<div id="detail-TonghopQuytrinh"></div>
	</text>
		)
)




