@section header{
    <i class="glyphicon glyphicon-book">&nbsp;</i>Sổ văn bản
}

<div class="row">
    <div class="col-sm-6">
        @Html.Action("_Listsovb", "Sovb")
    </div>
    <div class="col-sm-6" id="detailSovb">
    </div>
    @Html.Hidden("idsovb")
    
</div>
<script type="text/javascript">
    function SetIdSovb(idsovb) {
        $('#idsovb').val(idsovb);
    }
    function GetIdSovb() {
        var id = $('#idsovb').val();
        return id;
    }
    function CloseEditSovb() {
        var window = $("#EditSovb").data("kendoWindow");
        window.close();
    }
    function OpenEditSovb() {
        var window = $("#EditSovb").data("kendoWindow");
        window.center();
        window.open();
    }
    $("#AddDonvibtn").bind("click", function () {
        var id = 0;        
        var url = '@Url.Action("_formEditSovanban", "Sovb")';
        url = url + '?id=' + id;
        $('#detail-editSovb').load(url);
        OpenEditSovb();        
    });
    $("#EditDonvibtn").bind("click", function () {
        var id = GetIdSovb();
        if (id != 0) {
            var url = '@Url.Action("_formEditSovanban", "Sovb")';
            url = url + '?id=' + id;
            $('#detail-editSovb').load(url);
            OpenEditSovb();
        } else {
            SetThongbao("Bạn chưa chọn sổ văn bản");
        }
    });
    $("#DeleteDonvibtn").bind("click", function () {
        var id = GetIdSovb();
        if (id != 0) {
            var url = '@Url.Action("_formDeleteSovanban", "Sovb")';
            url = url + '?id=' + id;
            $('#detail-editSovb').load(url);
            OpenEditSovb();
        } else {
            SetThongbao("Bạn chưa chọn sổ văn bản");
        }
    });
</script>

@(Html.Kendo().Window()
    .Name("EditSovb")
    .Draggable()
    .AutoFocus(true)
    .Title("Cập nhật Sổ văn bản")
    .Resizable()
    .Width(500)
    .HtmlAttributes(new { style = "height:100%;" })
    .Visible(false)
    .Actions(actions => actions.Minimize().Maximize().Close())
    .Content(
    @<text>
        <div id="detail-editSovb">
        </div>
    </text>
    )
)
