@{
    ViewBag.Title = "In báo cáo";    
}

@section header{
    <i class="glyphicon glyphicon-info-sign">&nbsp;</i>In báo cáo
}
@Html.Action("_Toolbar", "Baocao")
<div class="row">
    <div class="col-sm-4 " id="category">
        @Html.Action("_Category")
    </div>
    <div class="col-sm-8 " id="listbaocao">
        @Html.Action("_DetailSovb", new { intloai = 1 })
    </div>
    @Html.Hidden("idbaocao")
    @Html.Hidden("idloai",1)
</div>

