@model IEnumerable< QLVB.DTO.Tinhhinhxuly.XLVanbanden>
@{
    int count = 0;
    int TongCB = 0;
    int TongLuuHS = 0;
    int TongDaXL = 0;
    int TongDangXL = 0;
    int TongQuahan = 0;
    int TongTrinhky = 0;
    int TongCong = 0;    
}
<table id="detail-tinhhinhxuly" class="table table-bordered table-condensed responsive-table" style="width: 100%">
    <tr style="font-weight:bold;">
        <td style="width: 5%; text-align: center;">STT</td>
        <td style="width:auto">Chuyên viên xử lý</td>
        <td style="width: 10% ;text-align:center;">VB lưu</td>
        <td style="width: 10%; text-align: center;">VB Đã xử lý</td>
        <td style="width: 10%; text-align: center;">VB Đang xử lý</td>
        <td style="width: 10%; text-align: center;">VB Đang trình ký</td>
        <td style="width: 10%; text-align: center;">VB Đã quá hạn</td>
        <td style="width: 10%; text-align: center;">Tổng</td>
    </tr>
    @foreach (var m in Model)
    {
        count++;
        TongCB = m.intVBLuu + m.intVBDaXuly + m.intVBDangXuly + m.intVBQuahan + m.intTrinhky;
        TongLuuHS += m.intVBLuu;
        TongDaXL += m.intVBDaXuly;
        TongDangXL += m.intVBDangXuly;
        TongQuahan += m.intVBQuahan;
        TongTrinhky += m.intTrinhky;
        <tr id="@m.idcanbo">
            <td style="width:5%; text-align: center;">@count</td>
            <td style="width:auto;cursor:pointer" onclick="LoadPieChart(@m.idcanbo)">@m.strhoten</td>
            <td style="width:10%;text-align:center;cursor:pointer " onclick="OpenDetail(1,@m.idcanbo)">@m.intVBLuu</td>
            <td style="width: 10%; text-align: center;cursor:pointer" onclick="OpenDetail(2,@m.idcanbo)">@m.intVBDaXuly</td>
            <td style="width: 10%; text-align: center;cursor:pointer" onclick="OpenDetail(3,@m.idcanbo)">@m.intVBDangXuly</td>
            <td style="width: 10%; text-align: center;cursor:pointer" onclick="OpenDetail(5,@m.idcanbo)">@m.intTrinhky</td>
            <td style="width: 10%; text-align: center;cursor:pointer" onclick="OpenDetail(4,@m.idcanbo)">@m.intVBQuahan</td>
            <td style="width: 10%; text-align: center;">@TongCB</td>

        </tr>
    }
    @{        
        TongCong = TongLuuHS + TongDaXL + TongDangXL + TongQuahan + TongTrinhky;
    }
    <tr id="TongCong" style="color:red;font-weight:bold;">
        <td style="width: 5%; text-align: center;">&nbsp;</td>
        <td style="width:auto;cursor:pointer" onclick="LoadPieChart(0)">TỔNG CỘNG</td>
        <td style="width: 10%; text-align: center;cursor:pointer" onclick="OpenDetail(11,0)">@TongLuuHS</td>
        <td style="width: 10%; text-align: center;cursor:pointer" onclick="OpenDetail(12,0)">@TongDaXL</td>
        <td style="width: 10%; text-align: center;cursor:pointer" onclick="OpenDetail(13,0)">@TongDangXL</td>
        <td style="width: 10%; text-align: center;cursor:pointer" onclick="OpenDetail(15,0)">@TongTrinhky</td>
        <td style="width: 10%; text-align: center;cursor:pointer" onclick="OpenDetail(14,0)">@TongQuahan</td>
        <td style="width: 10%; text-align: center;cursor:pointer" >@TongCong</td>

    </tr>
</table>
@Scripts.Render("~/bundles/d3")
<script type="text/javascript">
    $(document).ready(function () {
        HideLoading();
        LoadPieChart(0);
        LoadD3Dashboard();
    })

    function LoadPieChart(idPer) {
        if (idPer == 0) {
            var item = '#TongCong';
        } else {
            var item = '#' + idPer;
        }
        var arr = [];
        $(item).find('td').each(function () {
            arr.push($(this).text());
        })
        var json = JSON.stringify(arr);
        var url = '@Url.Action("_PieChartXLVBDen", "Tinhhinhxuly")';
        //$('#piechart').load( url, { "xuly":json} );
    }
    function LoadD3Dashboard() {
        var arr = [];        
        $('#detail-tinhhinhxuly tr').each(function () {            
            var id = $(this).attr('id');
            if (id > 0) {                
                var item = '#' + id;
                var canbo = [];
                var vitri = 0;
                var thongke = [];
                var id, ten, luuhs, daxuly, dangxuly, trinhky, quahan;
                $(item).find('td').each(function () {
                    switch (vitri) {
                        case 0:
                            id = $(this).text();
                            break;
                        case 1:
                            ten = $(this).text();
                            break;
                        case 2:
                            luuhs = $(this).text();
                            break;
                        case 3:
                            daxuly = $(this).text();
                            break;
                        case 4:
                            dangxuly = $(this).text();
                            break;
                        case 5:
                            trinhky = $(this).text();
                            break;
                        case 6:
                            quahan = $(this).text();
                            break;
                        case 7:
                            break;
                    }                         
                    vitri++;                   
                })                
                var xuly = {};
                xuly.luuhs = luuhs;
                xuly.daxuly = daxuly;
                xuly.dangxuly = dangxuly;
                xuly.trinhky = trinhky;
                xuly.quahan = quahan;
                
                var saveData = {};
                saveData.id = id;
                saveData.ten = ten;
                saveData.thongke = xuly;

                arr.push(saveData);
            }
        });        
        dashboard('#histoGram', '#legen', arr);                        
    }
</script>

<style type="text/css">
    path {  stroke: #fff; }
    path:hover {  opacity:0.9; }
    rect:hover {  fill:blue; }
</style>
<div id="piechart"></div>

<div id="dashboard" style="margin:50px" class="row">
    <div id="histoGram" class="col-xs-6" style="overflow-x:scroll"></div>
    <div id="legen" class="col-xs-6"></div>
</div>
