@using QLVB.Common.Date;
@{
	ViewBag.Title = "Vanbanden";
	DateTime dteNgaybd = Model.dteNgaybd;
	string strngaybd = DateServices.FormatDateVN(dteNgaybd);
	DateTime dteNgaykt = Model.dteNgaykt;
	string strngaykt = DateServices.FormatDateVN(dteNgaykt);
	var Loaingay = new[]{
				new {value = "1", name = "Ngày văn bản đến"},
				new {value = "2", name = "Thời hạn xử lý"}
			};
}
@section header{
	<i class="glyphicon glyphicon-tasks">&nbsp;</i>Tổng hợp tình hình xử lý văn bản đến
}

<div class="box ">
	<header>
		<nav class="box-toolbar">
			<div class="row">
				<div class="col-xs-6">
					<select id="listdonvi" style="width:300px; ">
						@if (Model.maxLevelDonvi == 0)
						{
							foreach (var m in Model.Donvi)
							{
								<option value="@m.Id">@m.strtendonvi</option>
							}
						}
						else
						{
							for (int i = 0; i < Model.maxLevelDonvi; i++)
							{
								{
									foreach (var m in Model.Donvi)
									{
										string strIndent = "";
										//string strSelect = "";
										if (m.intlevel <= i)
										{
											//if (m.Id == Model.iddonvi)
											//{
											//    strSelect = "k-state-focused k-state-selected";
											//}
											for (var j = 0; j < i; j++) { strIndent += "&nbsp;&nbsp;&nbsp;"; }
											<option value="@m.Id">@Html.Raw(strIndent) @m.strtendonvi</option>

											foreach (var m2 in Model.Donvi)
											{
												if ((m2.intlevel == Model.maxLevelDonvi) && (m2.ParentId == m.Id))
												{
													string strLastNode = "";
													for (var j = 0; j < Model.maxLevelDonvi; j++) { strLastNode += "&nbsp;&nbsp;&nbsp;"; }
													<option value="@m2.Id">@Html.Raw(strLastNode) @m2.strtendonvi</option>
												}
											}
										}
									}
								}

							}
						}

					</select>
					<button id="Thongkebtn" type="button" class="btn btn-sm btn-primary btn-flat" title="Tổng hợp">
						<i class="glyphicon glyphicon-refresh"></i>&nbsp;Thống kê
					</button>
					<button id="PrintTonghopVBDenbtn" type="button" class="btn btn-sm btn-primary btn-flat button-box">
						<i class="glyphicon glyphicon-print"></i>&nbsp;In&nbsp;
					</button>
				</div>
			</div>
			
			<div class="row">
				<div class="col-xs-6">
					Từ ngày &nbsp;
					@(Html.Kendo().DatePicker()
						.Name("strngaybd")
						.Value(dteNgaybd)
						.Format("dd/MM/yyyy")
					)
					&nbsp;&nbsp;==>&nbsp;&nbsp;
					@(Html.Kendo().DatePicker()
						.Name("strngaykt")
						.Value(dteNgaykt)
						.Format("dd/MM/yyyy")
					)
				</div>
				<div class="col-xs-3">
					@(Html.Kendo().DropDownList()
					.Name("idsovb")
					.BindTo(Model.Sovanban)
					.DataTextField("strten")
					.DataValueField("intid")
					.HtmlAttributes(new { @style = "width:200px;" })
					.Value(Model.idsovb.ToString())
					.OptionLabel("Tất cả sổ văn bản")
					)                    
				</div>
				<div class="col-xs-3">
					@(Html.Kendo().DropDownList()
					.Name("idloaingay")
					.BindTo(Loaingay)
					.DataTextField("name")
					.DataValueField("value")
					.HtmlAttributes(new { @style = "width:200px;" })
					.Value(Model.idloaingay.ToString())
					)
				</div>
			</div>

			
		</nav>
	</header>
</div>

<div id="TonghopVBDen" class="row">
	@Html.Action("_TonghopVBDen", "Tinhhinhxuly", new
{
	iddonvi = Model.iddonvi,
	strngaybd = strngaybd,
	strngaykt = strngaykt,
	idloaingay = Model.idloaingay,
	idsovb = Model.idsovb
})
</div>
<script type="text/javascript">
	$(document).ready(function () {
		$("#listdonvi").kendoDropDownList();
		var dropdownlist = $("#listdonvi").data("kendoDropDownList");
		var iddonvi = '@Model.iddonvi';
		dropdownlist.select(function (dataItem) {
			return dataItem.value === iddonvi;
		});

	})

	$('#listdonvi').change(function () {
		ReloadTonghopxuly();
	});
	$('#Thongkebtn').click(function () {
		ReloadTonghopxuly();
	})
	function GetIdSovb() {
		var idsovb = $('#idsovb').val();	    
		if (idsovb > 0) {
			
		} else {
			idsovb = 0;
		}
		return idsovb;
	}
	function ReloadTonghopxuly() {
		ShowLoading();
		var iddonvi = $('#listdonvi').val();
		var strngaybd = $('#strngaybd').val();
		var strngaykt = $('#strngaykt').val();
		var idloaingay = $('#idloaingay').val();
		var idsovb = GetIdSovb();
		var url = '@Url.Action("_TonghopVBDen", "Tinhhinhxuly")';
		url = url + '?iddonvi=' + iddonvi;
		url = url + '&strngaybd=' + strngaybd + '&strngaykt=' + strngaykt;
		url = url + "&idloaingay=" + idloaingay;
		url = url + "&idsovb=" + idsovb;		
		$('#TonghopVBDen').load(url);
	}
	function OpenDetail(intloai, idcanbo) {
		var strngaybd = $('#strngaybd').val();
		var strngaykt = $('#strngaykt').val();
		var iddonvi = $('#listdonvi').val();
		var idloaingay = $('#idloaingay').val();
		var idsovb = GetIdSovb();
		var url = '@Url.Action("ListVanbanDen","Tinhhinhxuly")';
		url = url + '?intloai=' + intloai;
		url = url + '&idcanbo=' + idcanbo + '&iddonvi=' + iddonvi;
		url = url + '&strngaybd=' + strngaybd + '&strngaykt=' + strngaykt;
		url = url + "&idloaingay=" + idloaingay;
		url = url + "&idsovb=" + idsovb;
		//window.location = url;
		$().redirect(url);
	}
	function OpenTong(intloai) {
		var idcanbo = 0;
		var strngaybd = $('#strngaybd').val();
		var strngaykt = $('#strngaykt').val();
		var iddonvi = $('#listdonvi').val();
		var idsovb = GetIdSovb();
		var url = '@Url.Action("ListVanbanDen","Tinhhinhxuly")';
		url = url + '?intloai=' + intloai;
		url = url + '&idcanbo=' + idcanbo + '&iddonvi=' + iddonvi;
		url = url + '&strngaybd=' + strngaybd + '&strngaykt=' + strngaykt;
		url = url + "&idsovb=" + idsovb;
		//$().redirect(url);
	}
	$('#PrintTonghopVBDenbtn').click(function () {
		PrintElement('#TonghopVBDen');
	})
	$('#strngaybd').keyup(function () {
	    var ngay = $('#strngaybd').val();
	    var _ngay = editdate(ngay);
	    $('#strngaybd').val(_ngay);
	})
	$('#strngaykt').keyup(function () {
	    var ngay = $('#strngaykt').val();
	    var _ngay = editdate(ngay);
	    $('#strngaykt').val(_ngay);
	})
</script>