@{
	ViewBag.Title = "Văn bản đến";
	bool isBack = ViewBag.isBack;
}

@section header{
	<i class="glyphicon glyphicon-file">&nbsp;</i>Tra cứu Văn bản đến
}
@Html.Action("_Toolbar")
<div class="row">	
	<div class="col-sm-12 col-md-12" id="listvanbanden">
		@Html.Action("_ListVanbanden", new { isBack = isBack })
	</div>
	@Html.Hidden("idvanban")
	@Html.Hidden("idhoso")
	@Html.Hidden("kendo_uid")
</div>
<script type="text/javascript">
	function onChange(arg) {
		var selected = $.map(this.select(), function (item) {
			var value = $(item).text();
			var grid = $("#grid").data("kendoGrid");
			var row = grid.select();
			var intid = grid.dataItem(row).intid;
			var inttrangthai = grid.dataItem(row).inttrangthai;
			SetIdVanban(intid);
			var uid = grid.dataItem(row).uid;
			SetUid(uid);			
			var currentPage = grid.dataSource.page();
			
		});
	}
	function onDataBound(arg) {
		dataView = this.dataSource.view();
		for (var i = 0; i < dataView.length; i++) {
			if (dataView[i].inttrangthai == 0) {
				var uid = dataView[i].uid;
				$("#grid tbody").find("tr[data-uid=" + uid + "]").addClass("chuaduyet");
			}
			else {
				var uid = dataView[i].uid;
				var strClass = SetColorVanban(dataView[i].inttinhtrangxuly, dataView[i].isykien, dataView[i].IsVbdt);
				$("#grid tbody").find("tr[data-uid=" + uid + "]").addClass(strClass);
			}
		}
	}
	function SetColorVanban(inttinhtrangxuly, isykien, IsVbdt) {
		var strClass = "";
		var intykien = 0;
		switch (inttinhtrangxuly) {
			case 0: // dang xu ly
				if (isykien == true) {
					strClass = "coykien";
				} else {
					if (IsVbdt == true) {

						strClass = "dangxuly-vbdt";
					} else {
						strClass = "dangxuly";
					}
				}
				break;
			case 1: // da hoan thanh
				strClass = "daxuly";
				break;
			default:  // null
				strClass = "daxuly";
				break;
		}
		return strClass;
	}
	
	function SetIdVanban(idvanban) {
		$('#idvanban').val(idvanban);
	}
	function GetIdVanban() {
		var id = $('#idvanban').val();
		return id;
	}
	function SetIdHoso(idhoso) {
		$('#idhoso').val(idhoso);
	}
	function GetIdHoso() {
		var id = $('#idhoso').val();
		return id;
	}
	function SetUid(uid) {
		$('#kendo_uid').val(uid);
	}
	function GetUid() {
		var id = $('#kendo_uid').val();
		return id;
	}
	function ViewDetailVBDen(id) {
		OpenViewDetailVBDen(id);
	}
	
</script>

@Html.Action("_SearchVBDen", "TracuuVanbanden")
@Html.Action("_ViewDetailVBDen", "TracuuVanbanden")
@Html.Action("_ViewDetailVBDi", "TracuuVanbandi")
@Html.Action("_ViewDetailHoso", "TracuuHoso")

