@{
    ViewBag.Title = @ViewBag.TieuDe;
}

<div fixedsize="true" class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li>
                <i class="glyphicon glyphicon-home"></i>
                <a href="@Url.Action("Index","Home")"> Nhiệm vụ</a>
            </li>
            @*<li><i class="fa fa-bars"></i>Pages</li>*@
            <li style="font-size: 18px; font-style: oblique;"><i class="glyphicon glyphicon-list"></i> @ViewBag.TieuDe</li>
        </ol>
    </div>
</div>
<div fixedsize="true" class="row">
    <div class="col-lg-8">
        @*<button class="btn btn-primary btn-sm btn-flat button-box" id="btnThemNhiemvu" onclick="window.open('@System.Web.Configuration.WebConfigurationManager.AppSettings["ServerQLVBOauthPath"]/Vanbandi', '_blank');return false;">
            <i class="glyphicon glyphicon-plus"></i>&nbsp;Thêm Nhiệm vụ
        </button>*@
        <div class="btn-group">
            <button type="button" class="btn btn-primary btn-sm btn-flat dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Thêm Nhiệm vụ <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a><i class="glyphicon glyphicon-plus"></i> Tạo mới</a>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                    <a href="javascript:void(0);" onclick="window.open('@System.Web.Configuration.WebConfigurationManager.AppSettings["ServerQLVBOauthPath"]/Vanbandi', '_blank');return false;"><i class="glyphicon glyphicon-th-list"></i> Từ văn bản đi</a>
                </li>
                <li>
                    <a href="javascript:void(0);" onclick="window.open('@System.Web.Configuration.WebConfigurationManager.AppSettings["ServerQLVBOauthPath"]/Vanbanden', '_blank');return false;"><i class="glyphicon glyphicon-th-list"></i> Từ văn bản đến</a>
                </li>
            </ul>
        </div>
        @*@if (((NhomNguoiDung)ViewBag.Nhom) == NhomNguoiDung.QuanTriHeThong && ((NhomNguoiDung)ViewBag.Nhom) == NhomNguoiDung.ChuyenVien)
            {*@
        <button class="btn btn-primary btn-sm btn-flat button-box" id="btnTinhHinhXuLy" disabled style="display:@ViewBag.TinhHinhThucHien;" data-toggle="modal" data-target="#modalTinhHinhXuLy">
            <i class="glyphicon glyphicon-list-alt"></i>&nbsp;Tình hình Thực hiện
        </button>
        @*}*@
        <button class="btn btn-success btn-sm btn-flat button-box" id="btnHoanThanh" disabled style="display: @ViewBag.HoanThanh">
            <i class="glyphicon glyphicon-check"></i>&nbsp;Hoàn Thành
        </button>
        <button class="btn btn-success btn-sm btn-flat button-box" id="btnTraLai" disabled style="display: @ViewBag.TinhHinhThucHien" data-toggle="modal" data-target="#modalTraLai">
            <i class="glyphicon glyphicon-new-window"></i>&nbsp;Trả lại
        </button>
        <button class="btn btn-danger btn-sm btn-flat button-box" id="btnDelete" disabled style="display:@ViewBag.HoanThanh">
            <i class="glyphicon glyphicon-remove-circle"></i>&nbsp;Xóa văn bản
        </button>
    </div>
    <div class="col-lg-4">
        <div class="row">
            <div class="col-md-12">
                <div id="custom-search-input">
                    <div class="input-group col-md-12">
                        <input type="text" class="form-control" placeholder="Tìm kiếm nhiệm vụ" id="txtSearch" autocomplete="off" value="" />
                        <span class="input-group-btn">
                            <button class="btn btn-info btn-sm" type="button" id="btnSearch">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                            <button class="btn btn-info btn-sm" type="button" id="btnSearchPlus">
                                Nâng cao
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12" id="DanhSachNhiemVu">
        @Html.Action("DanhSachNhiemVu", new { trangThai = ViewBag.TrangThai })
    </div>
</div>

<!-- Modal Tinh Hinh Xu Ly -->
<div class="modal fade" id="modalTinhHinhXuLy" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Tình hình thực hiện</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="font-style: normal">Văn bản:</label>
                    <p class="control-label" id="TrichYeuVanBan"></p>
                </div>
                <form id="FormInput" method="post" enctype="multipart/form-data">
                    <hr />
                    <div class="form-group">
                        <label class="control-label">Đơn vị:</label>
                        <select style="width: 100%" name="DonVi" id="selectDonVi"></select>
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <label class="control-label">Tình hình thực hiện:</label>
                            <select name="TrangThai" id="trangthai" class="form-control" style="width:146px">
                                <option value="2">Đang thực hiện</option>
                                <option value="4">Hoàn thành</option>
                            </select>
                        </div>
                        <input type="text" name="TinhHinhXuLy" class="form-control" id="TinhHinhXuLy">
                    </div>
                    <div class="form-group">
                        <label for="FileDinhKem" class="btn btn-default"><i class="glyphicon glyphicon-paperclip"></i> Đính kèm file</label>
                        <span title="Xóa file đã chọn" style="display: none; cursor: pointer" class="glyphicon glyphicon-remove" id="RemoveFile"></span>
                        <input name="FileDinhKem" id="FileDinhKem" type="file" style="display: none" />
                    </div>
                    <div class="form-group" style="text-align: right">
                        <button type="button" class="btn btn-primary" id="btnSave"><i class="glyphicon glyphicon-floppy-disk"></i> Gửi phản hồi</button>
                    </div>
                    <input type="hidden" name="IdVanBan" id="IdVanBan" />
                </form>
                <hr />
                <div class="form-group" id="danhsachbaocao">
                    <label class="control-label">Đơn vị</label>
                    <i class="date-right">Ngày báo cáo: 01/02/2016 11:20</i>
                    <div class="clear"></div>
                    <p class="control-label"> Nội dung báo cáo</p>
                    <a href="#"><i class="glyphicon glyphicon-paperclip"></i> File đính kèm</a>
                    <hr />
                    <label class="control-label">Đơn vị</label>
                    <i class="date-right">Ngày báo cáo: 01/02/2016 11:20</i>
                    <div class="clear"></div>
                    <p class="control-label"> Nội dung báo cáo Nội dung báo cáo Nội dung báo cáo Nội dung báo cáo Nội dung báo cáo Nội dung báo cáo Nội dung báo cáo Nội dung báo cáo Nội dung báo cáo</p>
                    <a href="#"><i class="glyphicon glyphicon-paperclip"></i> File đính kèm</a>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="btnCloseTHTH">Đóng</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Modal Tinh Hinh Xu Ly-->
<!-- Begin modal attachments-->
<div class="modal fade" id="modalAttachments" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><i class='glyphicon glyphicon-paperclip'></i> Nội dung văn bản</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
<!-- End modal attachments-->

<!-- Begin modal tralai-->
<div class="modal fade" id="modalTraLai" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><i class='glyphicon glyphicon-paperclip'></i> Nội dung văn bản</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <label>Văn bản</label><br/>
                        <p class="control-label" id="pvanban"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label>Lý do trả lại</label>
                        <textarea class="form-control" name="lydotralai" id="lydotralai"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" id="btnTraLaiSubmit">Trả lại</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
<!-- End modal tralai-->

<!-- Begin modal advance search-->
<div class="modal fade" id="modalSearch" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><i class='glyphicon glyphicon-search'></i> Tìm kiếm nâng cao</h4>
            </div>
            <div class="modal-body">
                <div class="row form-group">
                    <div class="col-md-6">
                        <label class="control-label">Từ ngày</label>
                        <input class="form-control" name="ngaykytu" id="ngaykytu"/>
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">Đến ngày</label>
                        <input class="form-control" name="ngaykyden" id="ngaykyden" />
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-6">
                        <label class="control-label">Số/Ký hiệu</label>
                        <input class="form-control" name="kyhieu" id="kyhieu" />
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">Đơn vị xử lý</label>
                        <select class="form-control" name="donvixuly" id="donvixuly" style='width: 100%'>
                            @Html.Raw(ViewBag.OptionsDonVi)
                        </select>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-6">
                        <label class="control-label">Người chỉ đạo</label>
                        <select class="form-control" name="nguoichidao" id="nguoichidao" style='width: 100%'>
                            @Html.Raw(ViewBag.OptionsNguoiChiDao)
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">Người theo dõi</label>
                        <select class="form-control" name="nguoitheodoi" id="nguoitheodoi" style='width: 100%'>
                            @Html.Raw(ViewBag.OptionsNguoiTheoDoi)
                        </select>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-6">
                        <label class="control-label">Hạn XL từ</label><br/>
                        <input class="form-control" name="thoihanxltu" id="thoihanxltu" />
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">Đến</label><br/>
                        <input class="form-control" name="thoihanxlden" id="thoihanxlden" />
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-6">
                        <label class="control-label">Độ ưu tiên</label><br/>
                        <input class="form-control" name="douutien" id="douutien"/>
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">Đơn vị phối hợp</label>
                        <select class="form-control" name="donviphoihop" id="donviphoihop" style='width: 100%'>
                            @Html.Raw(ViewBag.OptionsDonVi)
                        </select>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-6">
                        <label class="control-label">Nguồn chỉ đạo</label>
                        <select class="form-control" name="nguonchidao" id="nguonchidao" style='width: 100%'>
                            @Html.Raw(ViewBag.OptionsKhoi)
                        </select>
                    </div>
                    @*<div class="col-md-6">
                        <label class="control-label">Trích yếu nội dung</label>
                        <input class="form-control" name="noidung" id="noidung"/>
                    </div>*@
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label class="control-label">Trích yếu</label>
                        <input class="form-control" name="noidung" id="noidung" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <label class="control-label">Ý kiến chỉ đạo</label>
                        <input class="form-control" name="ykienchidao" id="ykienchidao" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnSearchPlusFind">Tìm kiếm</button>
                <button type="button" class="btn btn-primary" id="btnSearchPlusReset">Làm mới</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
<!-- End modal advance search-->

@section scripts {
    <script type="text/javascript">
        var idVanbanSelected = '';
        var isProcessing = false;

        $("#ngaykytu").kendoDatePicker();
        $("#ngaykyden").kendoDatePicker();
        $("#thoihanxltu").kendoDatePicker();
        $("#thoihanxlden").kendoDatePicker();

        var cboDouuTien = $("#douutien").kendoDropDownList({
            dataTextField: "text",
            dataValueField: "value",
            dataSource: [
                { text: "", value: "" },
                { text: "Thường", value: "0" },
                { text: "Hỏa tốc", value: "1" }
            ],
            index: 0
        }).data("kendoDropDownList");

        var comboDonvi = $("#donvixuly").kendoComboBox({
            filter: "contains",
            suggest: true
        }).data("kendoComboBox");

        var comboNguonChiDao = $("#nguonchidao").kendoComboBox({
            filter: "contains",
            suggest: true
        }).data("kendoComboBox");

        var comboNguoiChiDao = $("#nguoichidao").kendoComboBox({
            filter: "contains",
            suggest: true
        }).data("kendoComboBox");

        var comboNguoiTheoDoi = $("#nguoitheodoi").kendoComboBox({
            filter: "contains",
            suggest: true
        }).data("kendoComboBox");

        var combodonViPhoiHop = $("#donviphoihop").kendoComboBox({
            filter: "contains",
            suggest: true
        }).data("kendoComboBox");

        var comboTrangThai = $("#trangthai").kendoDropDownList().data("kendoDropDownList");

        $("#btnSearchPlusReset").click(function() {
            $("#ngaykytu").val("");
            $("#ngaykyden").val("");
            $("#thoihanxltu").val("");
            $("#thoihanxlden").val("");
            $("#kyhieu").val("");
            $("#noidung").val("");
            $("#ykienchidao").val("");
            cboDouuTien.value("");
            comboDonvi.value("");
            combodonViPhoiHop.value("");
            comboNguoiTheoDoi.value("");
            comboNguoiChiDao.value("");
            comboNguonChiDao.value("");
        });

        $("#btnSearchPlusFind").click(function() {
            var objSearch = {
                NgayKyTu: $("#ngaykytu").val(),
                NgayKyDen: $("#ngaykyden").val(),
                KyHieu: $("#kyhieu").val(),
                DonViXuLy: comboDonvi.value(),
                NguoiChiDao: comboNguoiChiDao.value(),
                NguoiTheoDoi: comboNguoiTheoDoi.value(),
                ThoiHanXuLyTu: $("#thoihanxltu").val(),
                ThoiHanXuLyDen: $("#thoihanxlden").val(),
                DoUuTien: cboDouuTien.value(),
                DonViPhoiHop: combodonViPhoiHop.value(),
                NguonChiDao: comboNguonChiDao.value(),
                NoiDung: $("#noidung").val(),
                YKienChiDao: $("#ykienchidao").val()
            };

            $("#txtSearch").val("");

            return searchVanBan(objSearch);
        });

        $("#btnTraLaiSubmit").click(function() {
            if (isProcessing) return false;
            isProcessing = true;

            $.ajax({
                url: "@Url.Action("TraVanBan")",
                type: "POST",
                data: { id: idVanbanSelected, lydo: $("#lydotralai").val() },
                success: function(response) {
                    $('#modalTraLai').modal('hide');
                },
                complete: function() {
                    isProcessing = false;
                    searchVanBan();
                }
            });

            return false;
        });

        function openAttachments(id) {
            if (isProcessing) return false;
            isProcessing = true;

            $.ajax({
                url: "@Url.Action("GetVanBanDetail")",
                type: "POST",
                data: { id: id },
                success: function(response) {
                    $('#modalAttachments .modal-body').html(response);
                    $('#modalAttachments').modal('show');
                },
                complete: function() {
                    isProcessing = false;
                }
            });

            return true;
        }

        $("#btnSearchPlus").click(function() {
            $("#modalSearch").modal("show");
        });

        $("#btnDelete").click(function() {
            if (isProcessing) return false;

            isProcessing = true;


            bootbox.confirm({
                title: "Xác nhận",
                message: "Bạn có muốn xóa văn bản đang chọn?",
                buttons: {
                    cancel: {
                        label: '<i class="fa fa-times"></i> Hủy',
                        className: 'btn-default'
                    },
                    confirm: {
                        label: '<i class="fa fa-check"></i> Xóa',
                        className: 'btn-danger'
                    }
                },
                callback: function(result) {
                    if (result) {
                        $.ajax({
                            url: "@Url.Action("DeleteVanBan")",
                            type: "POST",
                            data: { id: idVanbanSelected },
                            success: function(response) {
                                if (response.Result) {
                                    isProcessing = false;

                                    toastr.success("Xóa văn bản thành công.", "Thành công");

                                    searchVanBan();
                                } else {
                                    toastr.error("Xóa văn bản không thành công.", "Có lỗi xảy ra");
                                }


                            },
                            complete: function() {
                                isProcessing = false;
                            }
                        });
                    } else {
                        isProcessing = false;
                    }
                }
            });

            return false;
        });

        $("#btnHoanThanh").click(function() {
            if (isProcessing) return false;

            isProcessing = true;

            if (idVanbanSelected === '') {
                alert('Chưa chọn văn bản.');
                return false;
            }

            bootbox.confirm({
                title: "Xác nhận",
                message: "Bạn muốn chuyển trạng thái văn bản?",
                buttons: {
                    cancel: {
                        label: '<i class="fa fa-times"></i> Hủy',
                        className: 'btn-default'
                    },
                    confirm: {
                        label: '<i class="fa fa-check"></i> Hoàn thành',
                        className: 'btn-danger'
                    }
                },
                callback: function(result) {
                    if (result) {
                        $.ajax({
                            url: "@Url.Action("UpdateCompleteVanBan")",
                            type: "POST",
                            data: { id: idVanbanSelected },
                            success: function(response) {
                                if (response.Code === 1) {
                                    isProcessing = false;
                                    $("#btnSearch").click();
                                }

                            },
                            complete: function() {
                                isProcessing = false;
                            }
                        });
                    } else {
                        isProcessing = false;
                    }
                }
            });

            return false;
        });

        function buildHtmlTHTH(data, idContainer) {

            if (idContainer == undefined || idContainer === "") idContainer = "#danhsachbaocao";

            if (data.Code < 1) {
                $(idContainer).html(data.Message);
                return;
            }
            if (data.Code > 1) {
                $(idContainer).html(data.Results);
                return;
            }

            var html = '';
            for (var i = 0; i < data.Results.length; i++) {
                if (i > 0) html += '<hr/>';

                //var reportDate = moment(data.Results[i].NgayBaoCao).fromNow();
                var reportDate = moment(data.Results[i].NgayBaoCao).format('dddd, DD/MM/YYYY HH:mm');

                html += '<label class="control-label">' + data.Results[i].DonVi + '</label> <i class="date-right">Ngày báo cáo: ' + reportDate + '</i>';
                html += '<div class="clear"></div>';
                html += '<p class="control-label">' + data.Results[i].NoiDungThucHien + '</p>';
                html += '<div class="row">';
                html += '<div class="col-lg-11">';
                if (data.Results[i].FileDinhKem != null && data.Results[i].FileDinhKem !== '' &&
                    data.Results[i].FileUrl != null && data.Results[i].FileUrl !== '') {
                    html += '<a href="' + data.Results[i].FileUrl + '"><i class="glyphicon glyphicon-paperclip"></i> ' + data.Results[i].FileDinhKem + '</a>';

                    if (data.Results[i].FileUrl.toLowerCase().endsWith('.pdf')){
                        html += '<a href="@Url.Content("~/ViewerJS/index.html?zoom=page-width#..")' + data.Results[i].FileUrl + '" target="_blank">(Xem trước)</a>';
                    }
                    else if (data.Results[i].FileUrl.toLowerCase().endsWith('.doc') || data.Results[i].FileUrl.toLowerCase().endsWith('.docx')) {
                        html += '<a href="@Url.Content("~/Home/WordViewer?file=")' + encodeURIComponent('~/' + data.Results[i].FileUrl) + '" target="_blank">(Xem trước)</a>';
                    }

                }
                html += '</div>';
                html += '<div class="col-lg-1" style="text-align: right">';
                html += '<span onclick="deleteBaoCaoTHTH(' + data.Results[i].Id + ',' + data.Results[i].LoaiBaoCao + ');" style="cursor:pointer" data-toggle="tooltip" title="Xóa" class="glyphicon glyphicon-trash"> </span>';
                html += '</div>';
                html += '</div>';
            }

            $(idContainer).html(html);

            $('[data-toggle="tooltip"]').tooltip();
        }

        function deleteBaoCaoTHTH(id, loaiBaoCao) {
            if (isProcessing) return false;

            isProcessing = true;

            $.ajax({
                url: "@Url.Action("DeleteTinhHinhThucHien")",
                type: "POST",
                data: { id: id, loaiBaoCao: loaiBaoCao, idVanBan: $("#IdVanBan").val() },
                success: function(response) {
                    buildHtmlTHTH(response);
                },
                complete: function() {
                    isProcessing = false;
                }
            });

            return false;
        }

        $("#FileDinhKem").change(function() {
            $("label[for=FileDinhKem]").html("<i class=\"glyphicon glyphicon-paperclip\"></i> " + $(this).val());
            $("#RemoveFile").show();
        });

        $("#RemoveFile").click(function() {
            var file = document.getElementById("FileDinhKem");
            file.value = file.defaultValue;

            $("label[for=FileDinhKem]").html("<i class=\"glyphicon glyphicon-paperclip\"></i> Đính kèm file");

            $(this).hide();
        });

        $("#btnTinhHinhXuLy").click(function() {
            var comboDonvi = $("#selectDonVi").kendoDropDownList({
                placeholder: "Chọn đơn vị",
                dataTextField: "Name",
                dataValueField: "Id",
                filter: "contains",
                autoBind: true,
                minLength: 3,
                dataSource: {
                    type: "json",
                    serverFiltering: false,
                    transport: {
                        read: {
                            url: "@Url.Action("GetDonViPhoiHop")" + "?idVanBan=" + $("#IdVanBan").val()
                        }
                    }
                }
            }).data("kendoDropDownList");

            comboDonvi.value("");
            $('#TinhHinhXuLy').val("");
            var file = document.getElementById("FileDinhKem");
            file.value = file.defaultValue;
            $('#danhsachbaocao').empty();

            $.ajax({
                url: "@Url.Action("GetTinhHinhThucHien")" + "?idVanBanChiDao=" + $("#IdVanBan").val(),
                type: "GET",
                success: function(response) {
                    buildHtmlTHTH(response);
                }
            });
        });

        var isProcessing = false;

        $("#btnSave").click(function() {
            if (isProcessing) return false;

            isProcessing = true;

            $(this).attr("disabled", "disabled");
            $(this).html("<i class=\"glyphicon glyphicon-floppy-disk\"></i> Đang thực hiện");

            var formData = new FormData($("form#FormInput")[0]);


            $.ajax({
                url: "@Url.Action("SaveTinhHinhThucHien")",
                type: "POST",
                data: formData,
                async: false,
                success: function(response) {
                    if (response.Code === 1) {
                        toastr.success("Gửi báo cáo thành công.", "Thành công");
                    } else {
                        toastr.error(response.Message, "Có lỗi xảy ra");
                    }

                    buildHtmlTHTH(response);
                },
                complete: function() {
                    isProcessing = false;
                    $("#btnSave").removeAttr("disabled");
                    $("#btnSave").html("<i class=\"glyphicon glyphicon-floppy-disk\"></i> Gửi phản hồi");
                    searchVanBan();
                },
                cache: false,
                contentType: false,
                processData: false
            });

            return false;
        });

        function gridSelected(arg) {
            var selected = $.map(this.select(), function(item) {
                var grid = $("#grid").data("kendoGrid");
                var row = grid.select();
                var id = grid.dataItem(row).Id;
                var trangThai = grid.dataItem(row).TrangThaiVB;
                var trichYeu = grid.dataItem(row).Trichyeu;


                $('#TrichYeuVanBan').html(trichYeu);
                $('#pvanban').html(trichYeu);
                $('#IdVanBan').val(id);

                if (trangThai.toLowerCase() === "hoàn thành") {
                    $('#btnHoanThanh').attr('disabled', 'disabled');
                    $('#btnDelete').attr('disabled', 'disabled');
                    $('#btnTraLai').attr('disabled', 'disabled');
                    $('#btnTinhHinhXuLy').removeAttr('disabled');

                    comboTrangThai.enable(false);
                    comboTrangThai.value("4");
                } else if (trangThai.toLowerCase() === "trả lại") {
                    $('#btnTinhHinhXuLy').attr('disabled', 'disabled');
                    $('#btnHoanThanh').attr('disabled', 'disabled');
                    $('#btnTraLai').attr('disabled', 'disabled');
                    $("#btnDelete").removeAttr('disabled');
                } else {
                    $("#btnHoanThanh").removeAttr('disabled');
                    $("#btnDelete").removeAttr('disabled');
                    $("#btnTraLai").removeAttr('disabled');
                    $('#btnTinhHinhXuLy').removeAttr('disabled');

                    comboTrangThai.enable();
                    comboTrangThai.value("2");
                }

                idVanbanSelected = id;
                return id;
            });

            if (selected.length === 0) {
                $('#btnTinhHinhXuLy').attr('disabled', 'disabled');
                $('#btnHoanThanh').attr('disabled', 'disabled');
                $('#btnDelete').attr('disabled', 'disabled');
                $('#btnTraLai').attr('disabled', 'disabled');
            }
        }


        $("#btnSearch").click(function() {

            $("#btnSearchPlusReset").click();

            return searchVanBan();
        });

        function searchVanBan(objSearch) {
            if (isProcessing) return false;

            isProcessing = true;

            if (objSearch) objSearch.TrangThai = '@ViewBag.TrangThai';
            else objSearch = { SearchText: $("#txtSearch").val(), TrangThai: '@ViewBag.TrangThai' }

            $.ajax({
                url: "@Url.Action("DanhSachNhiemVu")",
                type: 'POST',
                data: objSearch,
                success: function(data) {
                    $('#DanhSachNhiemVu').html(data);
                },
                complete: function() {
                    isProcessing = false;
                    $("#modalSearch").modal("hide");
                }
            });

            return false;
        }

        function setGridHeight() {
            var height = $(window).innerHeight();
            var used = 70;
            $('div[fixedsize=true]').each(function() {
                used += $(this).outerHeight();
            });
            var girdHeaderAndFooter = $('#DanhSachNhiemVu .k-grid-pager').outerHeight() + $('#DanhSachNhiemVu .k-grid-header').outerHeight();
            $('#DanhSachNhiemVu').css("height", height - used);
            $('#DanhSachNhiemVu .k-grid-content').css("height", height - used - girdHeaderAndFooter);
        }

        $("#txtSearch").keypress(function(e) {
            if (e.keyCode === 13) {
                $("#btnSearch").click();
            }
        });
        //$('#btnThemNhiemVu').click(function () {
        //    window.open("http://192.168.2.114:800/Vanbandi", "_blank");
        //    return false;
        //});
        $(document).ready(function() {
            setGridHeight();
        });
        $(window).resize(function() {
            setGridHeight();
        });

        function gridDataBound(arg) {
            var dataView = this.dataSource.view();
            for (var i = 0; i < dataView.length; i++) {
                var uid = dataView[i].uid;
                if (dataView[i].TrangThaiVB.toLocaleLowerCase().indexOf("hoàn thành") >= 0) {
                    $("#grid tbody").find("tr[data-uid=" + uid + "]").addClass('hoanthanh');
                } else if (dataView[i].TrangThaiVB.toLocaleLowerCase().indexOf("đang thực hiện") >= 0) {
                    $("#grid tbody").find("tr[data-uid=" + uid + "]").addClass('dangthuchien');
                } else if (dataView[i].TrangThaiVB.toLocaleLowerCase().indexOf("trễ hạn") >= 0) {
                    $("#grid tbody").find("tr[data-uid=" + uid + "]").addClass('trehan');
                } else if (dataView[i].TrangThaiVB.toLocaleLowerCase().indexOf("mới") >= 0) {
                    $("#grid tbody").find("tr[data-uid=" + uid + "]").addClass('moi');
                } else if (dataView[i].TrangThaiVB.toLocaleLowerCase().indexOf("trả lại") >= 0) {
                    $("#grid tbody").find("tr[data-uid=" + uid + "]").addClass('tralai');
                } else {
                    $("#grid tbody").find("tr[data-uid=" + uid + "]").addClass('khac');
                }
            }
        }
    </script>
}
@section style {
    <style>
        .hoanthanh { color: #000000 }
        .dangthuchien { color: #0219fb }
        .trehan { color: #c71585 }
        .moi { color: #fba002 }
        .tralai { color: #707071 }
        .khac { color: #b9b9ba }

        .k-state-selected.hoanthanh,
        .k-state-selected.dangthuchien,
        .k-state-selected.trehan,
        .k-state-selected.moi,
        .k-state-selected.tralai,
        .k-state-selected.khac { color: #fff }
    </style>
}