@{
    ViewBag.Title = @ViewBag.TieuDe;
}

<div fixedsize="true" class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li>
                <i class="glyphicon glyphicon-home"></i>
                <a href="@Url.Action("Index","Home")"> Nhiệm vụ</a>
            </li>
            @*<li><i class="fa fa-bars"></i>Pages</li>*@
            <li style="font-size: 18px; font-style: oblique;"><i class="glyphicon glyphicon-list"></i> @ViewBag.TieuDe</li>
        </ol>
    </div>
</div>
<div fixedsize="true" class="row">
    <div class="col-lg-8">
        @*<button class="btn btn-primary btn-sm btn-flat button-box" id="btnThemNhiemvu" onclick="window.open('@System.Web.Configuration.WebConfigurationManager.AppSettings["ServerQLVBOauthPath"]/Vanbandi', '_blank');return false;">
            <i class="glyphicon glyphicon-plus"></i>&nbsp;Thêm Nhiệm vụ
        </button>*@
        <div class="btn-group">
            <button type="button" class="btn btn-primary btn-sm btn-flat dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Thêm Nhiệm vụ <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a href="javascript:void(0);" onclick="addNew(); return false;"><i class="glyphicon glyphicon-plus"></i> Tạo mới</a>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                    <a href="javascript:void(0);" onclick="window.open('@System.Web.Configuration.WebConfigurationManager.AppSettings["ServerQLVBOauthPath"]/Vanbandi', '_blank');return false;"><i class="glyphicon glyphicon-th-list"></i> Từ văn bản đi</a>
                </li>
                <li>
                    <a href="javascript:void(0);" onclick="window.open('@System.Web.Configuration.WebConfigurationManager.AppSettings["ServerQLVBOauthPath"]/Vanbanden', '_blank');return false;"><i class="glyphicon glyphicon-th-list"></i> Từ văn bản đến</a>
                </li>
            </ul>
        </div>
        @*@if (((NhomNguoiDung)ViewBag.Nhom) == NhomNguoiDung.QuanTriHeThong && ((NhomNguoiDung)ViewBag.Nhom) == NhomNguoiDung.ChuyenVien)
            {*@
        <button class="btn btn-primary btn-sm btn-flat button-box" id="btnTinhHinhXuLy" disabled style="display:@ViewBag.TinhHinhThucHien;" data-toggle="modal" data-target="#modalTinhHinhXuLy">
            <i class="glyphicon glyphicon-list-alt"></i>&nbsp;Tình hình Thực hiện
        </button>
        @*}*@
        <button class="btn btn-success btn-sm btn-flat button-box" id="btnHoanThanh" disabled style="display: @ViewBag.HoanThanh">
            <i class="glyphicon glyphicon-check"></i>&nbsp;Hoàn Thành
        </button>
        <button class="btn btn-success btn-sm btn-flat button-box" id="btnTraLai" disabled style="display: @ViewBag.TinhHinhThucHien" data-toggle="modal" data-target="#modalTraLai">
            <i class="glyphicon glyphicon-new-window"></i>&nbsp;Trả lại
        </button>
        <button class="btn btn-danger btn-sm btn-flat button-box" id="btnDelete" disabled style="display:@ViewBag.HoanThanh">
            <i class="glyphicon glyphicon-remove-circle"></i>&nbsp;Xóa văn bản
        </button>
    </div>
    <div class="col-lg-4">
        <div class="row">
            <div class="col-md-12">
                <div id="custom-search-input">
                    <div class="input-group col-md-12">
                        <input type="text" class="form-control" placeholder="Tìm kiếm nhiệm vụ" id="txtSearch" autocomplete="off" value="" />
                        <span class="input-group-btn">
                            <button class="btn btn-info btn-sm" type="button" id="btnSearch">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                            <button class="btn btn-info btn-sm" type="button" id="btnSearchPlus">
                                Nâng cao
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12" id="DanhSachNhiemVu">
        @Html.Action("DanhSachNhiemVu", new { trangThai = ViewBag.TrangThai })
    </div>
</div>

<!-- Modal Tinh Hinh Xu Ly -->
<div class="modal fade" id="modalTinhHinhXuLy" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Tình hình thực hiện</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="font-style: normal">Văn bản:</label>
                    <p class="control-label" id="TrichYeuVanBan"></p>
                </div>
                <form id="FormInput" method="post" enctype="multipart/form-data">
                    <hr />
                    <div class="form-group">
                        <label class="control-label">Đơn vị:</label>
                        <select style="width: 100%" name="DonVi" id="selectDonVi"></select>
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <label class="control-label">Tình hình thực hiện:</label>
                            <select name="TrangThai" id="trangthai" class="form-control" style="width:146px">
                                <option value="2">Đang thực hiện</option>
                                <option value="4">Hoàn thành</option>
                            </select>
                        </div>
                        <input type="text" name="TinhHinhXuLy" class="form-control" id="TinhHinhXuLy">
                    </div>
                    <div class="form-group">
                        <label for="FileDinhKem" class="btn btn-default"><i class="glyphicon glyphicon-paperclip"></i> Đính kèm file</label>
                        <span title="Xóa file đã chọn" style="display: none; cursor: pointer" class="glyphicon glyphicon-remove" id="RemoveFile"></span>
                        <input name="FileDinhKem" id="FileDinhKem" type="file" style="display: none" />
                    </div>
                    <div class="form-group" style="text-align: right">
                        <button type="button" class="btn btn-primary" id="btnSave"><i class="glyphicon glyphicon-floppy-disk"></i> Lưu</button>
                    </div>
                    <input type="hidden" name="IdVanBan" id="IdVanBan" />
                </form>
                <hr />
                <div class="form-group" id="danhsachbaocao">
                    <label class="control-label">Đơn vị</label>
                    <i class="date-right">Ngày báo cáo: 01/02/2016 11:20</i>
                    <div class="clear"></div>
                    <p class="control-label"> Nội dung báo cáo</p>
                    <a href="#"><i class="glyphicon glyphicon-paperclip"></i> File đính kèm</a>
                    <hr />
                    <label class="control-label">Đơn vị</label>
                    <i class="date-right">Ngày báo cáo: 01/02/2016 11:20</i>
                    <div class="clear"></div>
                    <p class="control-label"> Nội dung báo cáo Nội dung báo cáo Nội dung báo cáo Nội dung báo cáo Nội dung báo cáo Nội dung báo cáo Nội dung báo cáo Nội dung báo cáo Nội dung báo cáo</p>
                    <a href="#"><i class="glyphicon glyphicon-paperclip"></i> File đính kèm</a>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="btnCloseTHTH">Đóng</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Modal Tinh Hinh Xu Ly-->
<!-- Begin modal attachments-->
<div class="modal fade" id="modalAttachments" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><i class='glyphicon glyphicon-paperclip'></i> Nội dung văn bản</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
<!-- End modal attachments-->

<!-- Begin modal tralai-->
<div class="modal fade" id="modalTraLai" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><i class='glyphicon glyphicon-paperclip'></i> Nội dung văn bản</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <label>Văn bản</label><br/>
                        <p class="control-label" id="pvanban"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label>Lý do trả lại</label>
                        <textarea class="form-control" name="lydotralai" id="lydotralai"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" id="btnTraLaiSubmit">Trả lại</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
<!-- End modal tralai-->

<!-- Begin modal advance search-->
<div class="modal fade" id="modalSearch" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><i class='glyphicon glyphicon-search'></i> Tìm kiếm nâng cao</h4>
            </div>
            <div class="modal-body">
                <div class="row form-group">
                    <div class="col-md-6">
                        <label class="control-label">Từ ngày</label>
                        <input class="form-control" name="ngaykytu" id="ngaykytu"/>
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">Đến ngày</label>
                        <input class="form-control" name="ngaykyden" id="ngaykyden" />
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-6">
                        <label class="control-label">Số/Ký hiệu</label>
                        <input class="form-control" name="kyhieu" id="kyhieu" />
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">Đơn vị xử lý</label>
                        <select class="form-control" name="donvixuly" id="donvixuly" style='width: 100%'>
                            @Html.Raw(ViewBag.OptionsDonVi)
                        </select>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-6">
                        <label class="control-label">Người chỉ đạo</label>
                        <select class="form-control" name="nguoichidao" id="nguoichidao" style='width: 100%'>
                            @Html.Raw(ViewBag.OptionsNguoiChiDao)
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">Người theo dõi</label>
                        <select class="form-control" name="nguoitheodoi" id="nguoitheodoi" style='width: 100%'>
                            @Html.Raw(ViewBag.OptionsNguoiTheoDoi)
                        </select>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-6">
                        <label class="control-label">Hạn XL từ</label><br/>
                        <input class="form-control" name="thoihanxltu" id="thoihanxltu" />
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">Đến</label><br/>
                        <input class="form-control" name="thoihanxlden" id="thoihanxlden" />
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-6">
                        <label class="control-label">Độ ưu tiên</label><br/>
                        <input class="form-control" name="douutien" id="douutien"/>
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">Đơn vị phối hợp</label>
                        <select class="form-control" name="donviphoihop" id="donviphoihop" style='width: 100%'>
                            @Html.Raw(ViewBag.OptionsDonVi)
                        </select>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-6">
                        <label class="control-label">Nguồn chỉ đạo</label>
                        <select class="form-control" name="nguonchidao" id="nguonchidao" style='width: 100%'>
                            @Html.Raw(ViewBag.OptionsKhoi)
                        </select>
                    </div>
                    @*<div class="col-md-6">
                        <label class="control-label">Trích yếu nội dung</label>
                        <input class="form-control" name="noidung" id="noidung"/>
                    </div>*@
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label class="control-label">Trích yếu</label>
                        <input class="form-control" name="noidung" id="noidung" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <label class="control-label">Ý kiến chỉ đạo</label>
                        <input class="form-control" name="ykienchidao" id="ykienchidao" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnSearchPlusFind">Tìm kiếm</button>
                <button type="button" class="btn btn-primary" id="btnSearchPlusReset">Làm mới</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
<!-- End modal advance search-->

@section scripts {
    <script src="~/Scripts/index.js" type="text/javascript"></script>
    <script type="text/javascript">
        urlTraVanBan = "@Url.Action("TraVanBan")";
        urlGetVanBanDetail = "@Url.Action("GetVanBanDetail")";
        urlDeleteVanBan = "@Url.Action("DeleteVanBan")";
        urlUpdateCompleteVanBan = "@Url.Action("UpdateCompleteVanBan")";
        urlPdfViewer = "@Url.Content("~/ViewerJS/index.html?zoom=page-width#..")";
        urlWordViewer = "@Url.Content("~/Home/WordViewer?file=")";
        urlDeleteTinhHinhThucHien = "@Url.Action("DeleteTinhHinhThucHien")";
        urlGetDonViPhoiHop = "@Url.Action("GetDonViPhoiHop")";
        urlGetTinhHinhThucHien = "@Url.Action("GetTinhHinhThucHien")";
        urlSaveTinhHinhThucHien = "@Url.Action("SaveTinhHinhThucHien")";
        urlDanhSachNhiemVu = "@Url.Action("DanhSachNhiemVu")";
        trangThai = '@ViewBag.TrangThai';
    </script>
    <script src="@Url.Action("QlvbScripts", "Js")" type="text/javascript"></script>
}
@section style {
    <style>
        .hoanthanh { color: #000000 }
        .dangthuchien { color: #0219fb }
        .trehan { color: #c71585 }
        .moi { color: #fba002 }
        .tralai { color: #707071 }
        .khac { color: #b9b9ba }

        .k-state-selected.hoanthanh,
        .k-state-selected.dangthuchien,
        .k-state-selected.trehan,
        .k-state-selected.moi,
        .k-state-selected.tralai,
        .k-state-selected.khac { color: #fff }
    </style>
}