@{
    ViewBag.Title = "Index";
    int idquytrinh = ViewBag.id;
}

@section header{
    <i class="glyphicon glyphicon-retweet">&nbsp;</i>@ViewBag.strtenquytrinh
}

<div class="row">
    <div class="col-sm-3" id="loaiquytrinh">
        @Html.Action("_Listloaiquytrinh")
    </div>
    <div class="col-sm-9" id="detail-quytrinh">
        @Html.Action("_Chitietquytrinh", new { id = idquytrinh })
    </div>
    @Html.Hidden("idloaiQT")
    @Html.Hidden("idQuytrinh",idquytrinh)
</div>

<script type="text/javascript">
    function SetIdLoaiQT(idloaiQT) {
        $('#idloaiQT').val(idloaiQT);
    }
    function GetIdLoaiQT() {
        var id = $('#idloaiQT').val();
        return id;
    }
    function SetIdQuytrinh(idQuytrinh) {
        $('#idQuytrinh').val(idQuytrinh);
    }
    function GetIdQuytrinh() {
        var id = $('#idQuytrinh').val();
        return id;
    }
    function CloseEditLoaiQT() {
        var window = $("#EditLoaiQT").data("kendoWindow");
        window.close();
    }
    function OpenEditLoaiQT() {
        var window = $("#EditLoaiQT").data("kendoWindow");
        window.center();
        window.open();
    }
    $("#AddLoaiQTbtn").bind("click", function () {
        var id = 0;
        var url = '@Url.Action("_formEditLoaiquytrinh", "Quytrinh")';
        url = url + '?id=' + id;
        $('#detail-editLoaiQT').load(url);
        OpenEditLoaiQT();
    });
    $("#EditLoaiQTbtn").bind("click", function () {
        var id = GetIdLoaiQT();
        if (id != 0) {
            var url = '@Url.Action("_formEditLoaiquytrinh", "Quytrinh")';
            url = url + '?id=' + id;
            $('#detail-editLoaiQT').load(url);
            OpenEditLoaiQT();
        } else {
            SetThongbao("Bạn chưa chọn loại quy trình");
        }
    });
    $("#DeleteLoaiQTbtn").bind("click", function () {
        @*var id = GetIdLoaiQT();
        if (id != 0) {
            var url = '@Url.Action("_formDeleteLoaiquytrinh", "Quytrinh")';
            url = url + '?id=' + id;
            $('#detail-editLoaiQT').load(url);
            OpenEditLoaiQT();
        } else {
            SetThongbao("Bạn chưa chọn loại quy trình");
        }*@
    });
    function RefreshLoaiQT() {
        @*var url = '@Url.Action("_Listloaiquytrinh", "Quytrinh")';
        $('#loaiquytrinh').load(url);*@
        window.location = '@Url.Action("Index","Quytrinh")';
    }

    function CloseEditQuytrinh() {
        var window = $("#EditQuytrinh").data("kendoWindow");
        window.close();
    }
    function OpenEditQuytrinh() {
        var window = $("#EditQuytrinh").data("kendoWindow");
        window.center();
        window.open();
    }
    $("#AddQuytrinhbtn").bind("click", function () {        
        var id = 0;        
        var url = '@Url.Action("_formEditQuytrinh", "Quytrinh")';
        url = url + '?id=' + id;            
        $('#detail-editQuytrinh').load(url);
        OpenEditQuytrinh();
    });

    $("#EditQuytrinhbtn").bind("click", function () {        
        var id = GetIdQuytrinh();
        if (id != 0) {
            var url = '@Url.Action("_formEditQuytrinh", "Quytrinh")';
            url = url + '?id=' + id;            
            $('#detail-editQuytrinh').load(url);
            OpenEditQuytrinh();
        } else {
            SetThongbao("Bạn chưa chọn quy trình");
        }
    });

    //==================================
    //jsPlumb.ready(function () {
    //    jsPlumb.importDefaults({
    //        ConnectionOverlays: [
    //            ["Arrow", { width: 10, length: 20, location: 1, id: "arrow" }]
    //        ],
    //        PaintStyle: {
    //            lineWidth: 2,
    //            strokeStyle: "#5c96bc"
    //        },
    //        HoverPaintStyle: { strokeStyle: "#1e8151", lineWidth: 2 },
    //        Connector: ["Flowchart", { stub: [5, 5], midpoint: 0.4, cornerRadius: 3, alwaysRespectStubs: true }],
    //        anchors: "Continuous",
    //        Endpoints: [["Rectangle", { width: 10, height: 10 }], ["Dot", { radius: 5 }]],
    //        EndpointStyles: [{ fillStyle: "#225588" }, { fillStyle: "#558822" }]
    //    });
    //    jsPlumb.bind('connection', function (info) {
    //        var idlabel = SetLabelId(info.connection.id);
    //        var labeltext = SetLabelText('Có/Không', idlabel);
    //        info.connection.addOverlay(["Label", { label: labeltext, location: 0.25, id: idlabel, cssClass: "aLabel context-menu-label" }]);
    //    });
    //    console.log("jsplumb ready");
    //    //DisplayFlowchart();
    //});
</script>

@(Html.Kendo().Window()
    .Name("EditLoaiQT")
    .Draggable()
    .AutoFocus(true)
    .Title("Cập nhật Loại quy trình")
    .Resizable()
    .Width(500)
    .HtmlAttributes(new { style = "height:100%;" })
    .Visible(false)
    .Actions(actions => actions.Minimize().Maximize().Close())
    .Content(
    @<text>
        <div id="detail-editLoaiQT">
        </div>
    </text>
    )
)

@(Html.Kendo().Window()
    .Name("EditQuytrinh")
    .Draggable()
    .AutoFocus(true)
    .Title("Cập nhật Quy trình")
    .Resizable()
    .Width(500)
    .HtmlAttributes(new { style = "height:100%;" })
    .Visible(false)
    .Actions(actions => actions.Minimize().Maximize().Close())
    .Content(
    @<text>
        <div id="detail-editQuytrinh">
        </div>
    </text>
    )
)
