@{
    DateTime strngaybd = DateTime.Now;
    DateTime strngaykt = strngaybd.AddDays(10);
    bool isSendSolieuVB = ViewBag.isSendSolieuVB;
    var LoaiTonghop = new[]{
                new {value = "donvi", name = "Đơn vị"},
                new {value = "chuyenvien", name = "Chuyên viên soạn thảo"}
            };
}

@section header{
    <i class="glyphicon glyphicon-info-sign">&nbsp;</i>Tổng hợp Văn bản đi điện tử
}

<div class="tabs-x tabs-above">
    <ul class="nav nav-tabs" id="iconsTab">
        <li class="active">
            <a href="#sendEmail-tab" data-toggle="tab">Văn bản đã gửi Email điện tử</a>
        </li>
        <li> <a href="#TonghopVB-tab" data-toggle="tab">Tổng các Văn bản</a>  </li>
        @if (isSendSolieuVB)
        {
            <li> <a href="#BCSolieuVB-tab" data-toggle="tab">Báo cáo số liệu Văn bản</a>  </li>
        }

    </ul>
</div>
<div class="tab-content">
    <div id="sendEmail-tab" class="tab-pane active">
        <div class="box ">
            <header>
                <nav class="box-toolbar">
                    <button id="Thongkebtn" type="button" class="btn btn-sm btn-primary btn-flat" title="Tổng hợp">
                        <i class="glyphicon glyphicon-refresh"></i>&nbsp;Thống kê
                    </button>
                    <button id="Backbtn" type="button" class="btn btn-sm btn-primary btn-flat " data-original-title="" title="">
                        <i class="glyphicon glyphicon-arrow-left"></i>&nbsp;Quay lại
                    </button>
                </nav>
            </header>
            <div id="div-1" class="body">
                <form class="form-horizontal" id="formMail">
                    <div class="form-group">
                        <div class="col-xs-3">
                            @Html.CheckBox("chkNgayky", true, new { disabled = "disable" })
                            @Html.Label("Ngày ký", new { @class = "control-label " })
                        </div>
                        <div class="col-sx-8">
                            @(Html.Kendo().DatePicker()
                        .Name("strngaykybd")
                        .Value(strngaybd)
                        .Format("dd/MM/yyyy")
                            )
                            &nbsp;&nbsp;==>&nbsp;&nbsp;
                            @(Html.Kendo().DatePicker()
                        .Name("strngaykykt")
                        .Value(strngaykt)
                        .Format("dd/MM/yyyy")
                            )

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-3">
                            @Html.CheckBox("chkNgaygui", true)
                            @Html.Label("Ngày gửi lớn hơn ngày ký", new { @class = "control-label " })
                        </div>
                        <div class="col-xs-3">
                            @Html.TextBox("intSoNgaygui", 3, new { @class = "form-control ", placeholder = "Số ngày" })
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="col-xs-3">
                            @Html.Label("Tổng hợp theo ", new { @class = "control-label " })
                        </div>
                        <div class="col-xs-3">
                            @(Html.Kendo().DropDownList()
                            .Name("LoaiTonghop")
                            .BindTo(LoaiTonghop)
                            .DataTextField("name")
                            .DataValueField("value")
                            .Value("0")
                            .HtmlAttributes(new { @style = "width:100%;" })
                            )
                        </div>

                    </div>
                </form>
            </div>
        </div>
        <div id="TonghopVBDiDT"></div>
    </div>
    <div class="tab-pane" id="TonghopVB-tab">
        <div class="box ">
            <header>
                <nav class="box-toolbar">
                    <button id="ThongkeTongVBbtn" type="button" class="btn btn-sm btn-primary btn-flat" title="Tổng hợp">
                        <i class="glyphicon glyphicon-refresh"></i>&nbsp;Thống kê
                    </button>
                    <button id="BackTongVBbtn" type="button" class="btn btn-sm btn-primary btn-flat " data-original-title="" title="">
                        <i class="glyphicon glyphicon-arrow-left"></i>&nbsp;Quay lại
                    </button>
                </nav>
            </header>
            <div id="div-2" class="body">
                <form class="form-horizontal" id="formTong">
                    <div class="form-group">
                        <div class="col-xs-1">                           
                            @Html.Label("Ngày ký", new { @class = "control-label " })
                        </div>
                        <div class="col-sx-8">
                            @(Html.Kendo().DatePicker()
                        .Name("strngaykybdTongVB")
                        .Value(strngaybd)
                        .Format("dd/MM/yyyy")
                            )
                            &nbsp;&nbsp;==>&nbsp;&nbsp;
                            @(Html.Kendo().DatePicker()
                        .Name("strngaykyktTongVB")
                        .Value(strngaykt)
                        .Format("dd/MM/yyyy")
                            )

                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div id="TongVBDi"></div>
    </div>

    <div class="tab-pane" id="BCSolieuVB-tab">
        <div class="box ">
            <header>
                <nav class="box-toolbar">
                    <button id="ThongkeSolieuVBbtn" type="button" class="btn btn-sm btn-primary btn-flat" title="Tổng hợp">
                        <i class="glyphicon glyphicon-refresh"></i>&nbsp;Thống kê
                    </button>
                    <button id="BackSolieuVBbtn" type="button" class="btn btn-sm btn-primary btn-flat " data-original-title="" title="">
                        <i class="glyphicon glyphicon-arrow-left"></i>&nbsp;Quay lại
                    </button>
                </nav>
            </header>
            <div id="div-3" class="body">
                <form class="form-horizontal" id="formSolieu">
                    <div class="form-group">
                        <div class="col-xs-1">
                            @Html.Label("Ngày ký", new { @class = "control-label " })
                        </div>
                        <div class="col-sx-8">
                            @(Html.Kendo().DatePicker()
                        .Name("strngaybdSolieuVB")
                        .Value(strngaybd)
                        .Format("dd/MM/yyyy")
                            )
                            &nbsp;&nbsp;==>&nbsp;&nbsp;
                            @(Html.Kendo().DatePicker()
                        .Name("strngayktSolieuVB")
                        .Value(strngaykt)
                        .Format("dd/MM/yyyy")
                            )

                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div id="SolieuVB"></div>
    </div>
</div>





<script type="text/javascript">
    $('#Thongkebtn').click(function () {
        var url = '@Url.Action("_TonghopVBDT","Vanbandidientu")';

        var isngayky = $('#chkNgayky').is(':checked');
        if (isngayky == true) {
            var strngaykybd = $('#strngaykybd').val();
            var strngaykykt = $('#strngaykykt').val();
            url = url + '?strngaykybd=' + strngaykybd + '&strngaykykt=' + strngaykykt;
        }
        var isngaygui = $('#chkNgaygui').is(':checked');
        if (isngaygui == true) {
            var songaygui = $('#intSoNgaygui').val();
            url = url + '&intSoNgaygui=' + songaygui;
        }

        var LoaiTonghop = $('#LoaiTonghop').val();
        url = url + "&LoaiTonghop=" + LoaiTonghop;

        ShowLoading();
        $('#TonghopVBDiDT').load(url);
    });
    $('#Backbtn').click(function () {
        var url = '@Url.Action("Index", "Vanbandidientu")';
        window.location = url;
    })
    function OpenDetail(iddonvi) {
        var url = '@Url.Action("TonghopDonvi", "Vanbandidientu")';

        var strngaykybd = $('#strngaykybd').val();
        var strngaykykt = $('#strngaykykt').val();
        url = url + '?iddonvi=' + iddonvi;
        url = url + '&strngaykybd=' + strngaykybd + '&strngaykykt=' + strngaykykt;

        var isngaygui = $('#chkNgaygui').is(':checked');
        if (isngaygui == true) {
            var songaygui = $('#intSoNgaygui').val();
            url = url + '&intSoNgaygui=' + songaygui;
        }
        $().redirect(url);
    }
    function OpenDetail_Chuyenvien(chuyenvien) {
        var url = '@Url.Action("TonghopChuyenvien", "Vanbandidientu")';

        var strngaykybd = $('#strngaykybd').val();
        var strngaykykt = $('#strngaykykt').val();
        url = url + '?iddonvi=' + iddonvi;
        url = url + '&strngaykybd=' + strngaykybd + '&strngaykykt=' + strngaykykt;

        var isngaygui = $('#chkNgaygui').is(':checked');
        if (isngaygui == true) {
            var songaygui = $('#intSoNgaygui').val();
            url = url + '&intSoNgaygui=' + songaygui;
        }
        $().redirect(url);
    }
    //=======================================
    $('#BackTongVBbtn').click(function () {
        var url = '@Url.Action("Index", "Vanbandidientu")';
        window.location = url;
    })
    $('#ThongkeTongVBbtn').click(function () {
        var url = '@Url.Action("_TonghopVanbandi", "Vanbandidientu")';
        var strngaykybd = $('#strngaykybdTongVB').val();
        var strngaykykt = $('#strngaykyktTongVB').val();
        url = url + '?strngaykybd=' + strngaykybd + '&strngaykykt=' + strngaykykt;
        ShowLoading();
        $('#TongVBDi').load(url);
    });
    function OpenDetailTongVB(idloai) {
        var url = '@Url.Action("TonghopLoaiVanbandi", "Vanbandidientu")';
        var strngaykybd = $('#strngaykybdTongVB').val();
        var strngaykykt = $('#strngaykyktTongVB').val();
        url = url + '?idloai=' + idloai;
        url = url + '&strngaykybd=' + strngaykybd + '&strngaykykt=' + strngaykykt;
        $().redirect(url);
    }
    //=====================================
    $('#BackSolieuVBbtn').click(function () {
        var url = '@Url.Action("Index", "Vanbandidientu")';
        window.location = url;
    })
    $('#ThongkeSolieuVBbtn').click(function () {
        var url = '@Url.Action("_TonghopSolieuVanban", "Vanbandidientu")';
        var strngaykybd = $('#strngaybdSolieuVB').val();
        var strngaykykt = $('#strngayktSolieuVB').val();
        url = url + '?strngaybd=' + strngaykybd + '&strngaykt=' + strngaykykt;
        ShowLoading();
        $('#SolieuVB').load(url);
    });
</script>
